.btn {
  display: inline-block;

  background-color: var(--color-brand);
  border-radius: 8px;
  border: 0;

  color: #000;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-brand-dark);
  color: #fff;
  text-decoration: none;
}

.btn--ghost {
  background-color: transparent;
  border: 3px solid var(--color-brand);
  color: var(--color-brand-dark);
}

.btn--ghost:hover {
  border-color: var(--color-brand-dark);
}

.btn--subtle {
  background-color: transparent;
  border: 3px solid var(--color-grey-light);
  color: var(--color-grey-dark);
}

.btn--subtle:hover {
  border-color: var(--color-brand-dark);
}
