.btn {
  display: inline-block;
  padding: 0.375em 0.75em 0.42em;

  background-color: var(--color-brand);
  border-radius: 8px;
  border: 0;
  transition: all 50ms linear;

  color: #000;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-brand-dark);
  color: #fff;
  text-decoration: none;
}

.btn--light {
  background-color: var(--color-brand-light);
  border: 3px solid var(--color-brand);
  color: var(--color-brand-dark);
}

.btn--ghost {
  background-color: transparent;
  border: 3px solid var(--color-brand);
  color: var(--color-brand-dark);
}

.btn--ghost:hover {
  border-color: var(--color-brand-dark);
}

.btn--subtle {
  background-color: transparent;
  border: 3px solid var(--color-grey-light);
  color: var(--color-grey-dark);
}

.btn--subtle:hover {
  border-color: var(--color-brand-dark);
}

.btn--alg {
  background-color: #0f663f;
  border: 3px solid #94C947;
  color: #94C947;
}

.btn--alg:hover {
  background-color: #94C947;
}
