.footer-wrap {
  background-color: var(--color-brand-dark);
  color: color(var(--color-brand) saturation(-60%));
}

.footer {
}

.footer a {
  color: var(--color-brand);
}

.footer a:hover {
  color: #fff;
}

.copyright {
  display: block;
}

.footer-links {
  text-align: right;
}
