[title="and"] {
  font-style: italic;
}

.header-home {
  padding: 1.5rem 0;
}

.logo {
  display: block;
  margin-bottom: 1.5rem;
  width: 150px;
}

.title-wrap {

}

.title {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  line-height: 1;
}

.text-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.blurb {
  max-width: 15em;
}

.section-light {
  background-color: var(--color-brand-light);
}

.section-muted {
  background-color: var(--color-code);
}

.section-dark {
  background-color: var(--color-code-darkest);
}

.topics {
  margin-left: auto;
  margin-right: auto;
  max-width: 23em;
  position: relative;
  text-align: center;
}

.topics > li {
}

.topics > li::after {
  content: " ";
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 40px;

  background: none center top / contain no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="60" viewBox="0 0 22 60" fill="#00675a"><path d="M11 51.8c-1.5 0-3-1.2-3-2.7V6.8C8 5 9.5 4 11 4s3 1 3 2.6V49c0 1.6-1.5 2.8-3 2.8z"/><path d="M2 38.3l9 9.3 9-9.3v8l-9 9.2-9-9.3"/></svg>');
  opacity: 0.3;
}

.topics > li:last-child::after {
  content: none;
  display: none;
}

.topics .topic-unique {
  display: block;
}

.topic-heading {
  display: inline-block;
  border-radius: 3px;
  transition: all 100ms linear;
  color: var(--color-brand-dark);
}

.topic-heading:hover {
  background-color: var(--color-brand);
  text-decoration: none;
}

.topic-heading__text {
  display: block;
}

.algonquin {
  background-color: #0f663f;

  color: #fff;
}

.acgd-logo {
  margin-bottom: 1.5rem;
  max-width: 200px;
}

.alg-blurb {

}

.open {
  margin-bottom: 1.5rem;
}

.courses {
  text-align: center;
}

.courses__icon {
  display: block;
  height: 1.2em;
  margin: 0 auto;
  width: 1.2em;
}

.courses__list {
  margin-top: -0.5em;
}

.link-btn {
  display: inline-block;
  padding: 0.3em 0.7em 0.4em 0.5em;
  transition: all 100ms linear;
  color: var(--color-link);
}

.link-btn:hover {
  background-color: var(--color-link);
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.photo {
  min-height: 200px;
  position: relative;
  background: none right top / cover no-repeat;
  border-radius: 3px;
}

.photo-copyright {
  bottom: 10px;
  left: 10px;
  position: absolute;

  opacity: 0.6;

  color: #fff;
  font-size: 0.6rem;
  line-height: 1;
}

.photo:hover .photo-copyright {
  opacity: 1;
}

@media only screen and (min-width: 25em) {

  .logo {
    width: 200px;
  }

  .title {
    font-size: 3.5rem;
  }

  .bio {
    margin-right: 1.5rem;
  }

  .photo {
    background-position: calc(100% + 40px) top;
  }

}

@media only screen and (min-width: 38em) {

  .header-home {
    padding: 3rem 0;
  }

  .logo {
    margin-bottom: 2.25rem;
    width: 250px;
  }

  .title-wrap {
    padding-right: 0.75rem;
  }

  .title {
    margin-bottom: 0;
    font-size: 4.2rem;
  }

  .intro-wrap {
    padding-left: 1.5rem;
  }

  .topics > li {
    display: inline-block;
  }

  .topics > li:nth-child(4),
  .topics > li:nth-child(5) {
    margin-bottom: 60px;
  }

  .topics > li:nth-child(2)::after,
  .topics > li:nth-child(3)::after,
  .topics > li:nth-child(4)::after {
    display: none;
  }

  .topics > li:nth-child(5)::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .acgd-logo {
    margin-bottom: 0;
    max-width: none;
  }

  .alg-blurb {
    padding-left: 3rem;
  }

  .open {
    margin-bottom: 0;
    padding-right: 3em;
  }

  .photo {
    background-position: right top;
  }

}

@media only screen and (min-width: 48em) {

  .random {
    background: url("../images/random.svg") 93% center no-repeat;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    width: 300px;
  }

  .topics {
    max-width: none;
  }

  .topics > li:nth-child(1)::after {
    margin-bottom: 1.5rem;
  }

  .topics > li:nth-child(2)::after,
  .topics > li:nth-child(3)::after,
  .topics > li:nth-child(4)::after {
    display: inline-block;
    position: relative;
    top: -1.5em;
    margin: 0 0.4em;
    transform: rotate(-90deg);
  }

  .topics > li:nth-child(2),
  .topics > li:nth-child(3),
  .topics > li:nth-child(4),
  .topics > li:nth-child(5) {
    margin-bottom: 0;
  }

  .topics > li:nth-child(1)::after,
  .topics > li:nth-child(5)::after {
    display: none;
  }

  .topics > li:nth-child(1) {
    margin-bottom: 1rem;
  }

  .topics > li:nth-child(6) {
    margin-top: 1rem;
  }

}
