.masthead-wrap {
  background-color: var(--color-brand);
}

.masthead {
  border-bottom: 2px solid rgba(0,103,90,0.3);
}

.logo {
  display: inline-block;
  margin-top: 0.25em;
  width: 100px;
}

.contents-link {
  display: inline-block;
  margin-top: 0.1em;
}

@media only screen and (min-width: 38em) {

  .logo {
    width: 140px;
  }

}
