.masthead-wrap {
  background-color: var(--color-brand);
}

.masthead {
  border-bottom: 2px solid rgba(0,103,90,0.3);
}

.logo {
  display: block;
  margin: 0.25em auto 0.75rem;
  width: 100px;
}

.contents-link {
  display: inline-block;
  margin-top: 0.1em;
}

@media only screen and (min-width: 38em) {

  .logo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    width: 140px;
  }

}
