html {
  overflow-x: hidden;
  color: #333;
  font-family: "Alegreya Sans",sans-serif;
}

body {
  border-top: 4px solid var(--color-brand-dark);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 3px solid #000;
}

hr {
  border-color: var(--color-grey-light);
  border-width: 3px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 50em;
  }

}
