.topic-section:focus {
  outline: none;
}

.topic-wrap {
  position: relative;
  padding-left: 1.5rem;
}

.topic-heading {
  margin-left: -1.5rem;

  color: var(--color-brand-dark);
  text-align: center;
}

.topic-heading__text {
  display: block;
  margin: 0 auto;
  max-width: 3em;
}

.page-nav > ol {
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
  min-width: 10em;

  background-color: var(--color-brand-dark);
  border: 3px solid var(--color-brand-dark);
  border-radius: 8px 0 8px 8px;

  text-align: right;
}

.page-nav .nav-check:checked ~ ol {
  display: block;
}

.page-nav .nav-label {
  transition: background-color 100ms linear, color 100ms linear, border-color 100ms linear;
}

.page-nav .nav-check:checked ~ .nav-label {
  background-color: var(--color-brand-dark);
  border-color: var(--color-brand-dark);
  border-radius: 8px 8px 0 0;
  color: #fff;
}

.page-nav .nav-check:focus ~ .nav-label {
  outline: 3px solid #000;
}

.page-nav a {
  display: block;
  padding: 0.4em 0.75em 0.5em;
  transition: all 100ms linear;
  color: #fff;
  text-decoration: none;
}

.page-nav li:first-child a {
  border-radius: 8px 0 0 0;
}

.page-nav li:last-child a {
  border-radius: 0 0 8px 8px;
}

.page-nav a:hover {
  background-color: #fff;
  color: var(--color-brand-dark);
}

.topics {
  margin-left: -22px;
  min-height: 9em;
  padding-left: 22px;
  position: relative;

  background: none 10px top / 3px 10px repeat-y;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#e2e2e2" x="0" y="0" width="3" height="10"/></svg>');
}

.topics::before,
.topics::after {
  content: " ";
  left: 7px;
  height: 0.8em;
  position: absolute;
  top: 0;
  width: 10px;

  background-color: #fff;
}

.topics::after {
  bottom: 0;
  top: auto;
}

.topics > li {
  position: relative;
  z-index: 5;
}

.topics > li:target {
  border-radius: 3px;
  background-color: hsla(24,7%,70%,0.3);
}

.topic--fullsite::after {
  content: "Full website";
  display: inline-block;
  margin-left: 0.7em;
  padding: 0.2em 0.4em 0.1em;
  position: relative;
  top: -0.1em;

  border-radius: 3px;
  background-color: hsla(24,7%,70%,0.3);

  color: rgba(0,0,0,0.4);
  font-size: 0.6em;
  text-transform: uppercase;
}

.topic--disabled::after {
  content: none;
  display: none;
}

.topic-text {
  position: relative;
}

.topic--disabled {
  color: rgba(0,0,0,0.2);
}

.topic-text::before {
  content: " ";
  height: 22px;
  left: -21px;
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  z-index: 3;

  background: none center center / cover no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#ccc" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#FFF"/></svg>');
}

.topic-section-2,
.topic-section-2 .topics::before,
.topic-section-2 .topics::after {
  background-color: var(--color-code-light);
}

.topic-section-2 .topics {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#ddd" x="0" y="0" width="3" height="10"/></svg>');
}

.topic-section-2 .topic-text::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#c0c0c0" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#f8f6f5"/></svg>');
}

.topic-section-3,
.topic-section-3 .topics::before,
.topic-section-3 .topics::after {
  background-color: var(--color-code);
}

.topic-section-3 .topics {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#d6d6d6" x="0" y="0" width="3" height="10"/></svg>');
}

.topic-section-3 .topic-text::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#bbb" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#f5f2f0"/></svg>');
}

.topic-section-4,
.topic-section-4 .topics::before,
.topic-section-4 .topics::after {
  background-color: var(--color-code-dark);
}

.topic-section-4 .topics {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#cecece" x="0" y="0" width="3" height="10"/></svg>');
}

.topic-section-4 .topic-text::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#b2b2b2" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#eeebe9"/></svg>');
}

.topic-section-5,
.topic-section-5 .topics::before,
.topic-section-5 .topics::after {
  background-color: var(--color-code-darker);
}

.topic-section-5 .topics {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#ccc" x="0" y="0" width="3" height="10"/></svg>');
}

.topic-section-5 .topic-text::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#aaa" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#e6e3e2"/></svg>');
}

.topic-section-6,
.topic-section-6 .topics::before,
.topic-section-6 .topics::after {
  background-color: var(--color-code-darkest);
}

.topic-section-6 .topics {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="10" viewBox="0 0 3 10"><rect fill="#c0c0c0" x="0" y="0" width="3" height="10"/></svg>');
}

.topic-section-6 .topic-text::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><circle fill="#a0a0a0" cx="128" cy="128" r="80"/><circle cx="128" cy="128" r="50" fill="#dfdcda"/></svg>');
}

.indent1,
.indent2 {
  margin-left: -19px;
  padding-left: 36px;

  background: none 7px center / 18px 3px no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#e2e2e2" x="0" y="0" width="18" height="3"/></svg>');
}

.indent2 {
  padding-left: 54px;

  background-size: 36px 3px;
}

.topic-section-2 .indent1,
.topic-section-2 .indent2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#ddd" x="0" y="0" width="18" height="3"/></svg>');
}

.topic-section-3 .indent1,
.topic-section-3 .indent2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#d6d6d6" x="0" y="0" width="18" height="3"/></svg>');
}

.topic-section-4 .indent1,
.topic-section-4 .indent2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#cecece" x="0" y="0" width="18" height="3"/></svg>');
}

.topic-section-5 .indent1,
.topic-section-5 .indent2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#ccc" x="0" y="0" width="18" height="3"/></svg>');
}

.topic-section-6 .indent1,
.topic-section-6 .indent2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="18" height="3" viewBox="0 0 18 3"><rect fill="#c0c0c0" x="0" y="0" width="18" height="3"/></svg>');
}

.search {
  background-color: var(--color-brand-light);
}

.search-label {
  display: block;
}

.search-input {
  display: block;
  padding: 0.2em 0.4em 0.2em 1.4em;
  width: 100%;

  background: none 0.2em center / auto 70% no-repeat rgba(255,255,255,0.7);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256"><path fill="#969696" d="M166.7 42C133.3 8.5 79 8.5 45.7 42s-33.6 87.7 0 121.2 87.6 33.5 121 0 33.5-87.8 0-121.2zM146 142.5c-22 22-57.7 22-79.7 0s-22-57.8 0-79.8 57.8-22 79.8 0 22 57.7 0 79.8z"/><path fill="#969696" d="M147.4 173.7l29.4-29.4 59.8 59.8-29.4 29.6z"/></svg>');
  border: 2px solid var(--color-brand);
  border-radius: 8px;

  font-family: inherit;
}

.search-input:focus {
  outline: none;
  background-color: #fff;
  border-color: var(--color-brand-dark);
}

::-webkit-input-placeholder {
   color: var(--color-grey);
}

::-moz-placeholder {
   color: var(--color-grey);
}

:-ms-input-placeholder {
   color: var(--color-grey);
}

@media only screen and (min-width: 38em) {

  .topic-wrap {
    padding-left: 6rem;
  }

  .topic-heading {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;

    transform: translateY(-50%);
  }

}
