html {
  font: normal 100%/1.3 Georgia,serif;
}

sub,
sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.3rem;
}

.yotta {
  font-size: 1.5745rem;
  line-height: 1.6513;
}

.zetta {
  font-size: 1.4757rem;
  line-height: 1.7619;
}

h1, .exa {
  font-size: 1.3830rem;
  line-height: 1.8800;
}

h2, .peta {
  font-size: 1.2962rem;
  line-height: 1.0030;
}

h3, .tera {
  font-size: 1.2148rem;
  line-height: 1.0702;
}

h4, .giga {
  font-size: 1.1385rem;
  line-height: 1.1419;
}

h5, .mega {
  font-size: 1.0670rem;
  line-height: 1.2184;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.3000;
}

small, .milli {
  font-size: 0.9372rem;
  line-height: 1.3871;
}

.micro {
  font-size: 0.8784rem;
  line-height: 1.4800;
}

.push {
  margin-bottom: 1.3rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 2.6000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.6500rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3250rem;
}

.pad-top, .pad-t {
  padding-top: 1.3rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.3rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 2.6000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 2.6000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.6500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.6500rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3250rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3250rem;
}

.island {
  padding: 1.3rem;
}

.island-double, .island-2 {
  padding: 2.6000rem;
}

.island-half, .island-1-2 {
  padding: 0.6500rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3250rem;
}

.gutter {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.gutter-double, .gutter-2 {
  padding-left: 2.6000rem;
  padding-right: 2.6000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.6500rem;
  padding-right: 0.6500rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3250rem;
  padding-right: 0.3250rem;
}

@media only screen and (min-width: 38em) {

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.4rem;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 1.2277;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.3812;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.5538;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.7480;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.9665;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1062;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.2444;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.4000;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.5750;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.7719;
}

.push {
  margin-bottom: 1.4rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 2.8000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7000rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3500rem;
}

.pad-top, .pad-t {
  padding-top: 1.4rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.4rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 2.8000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 2.8000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7000rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7000rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3500rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3500rem;
}

.island {
  padding: 1.4rem;
}

.island-double, .island-2 {
  padding: 2.8000rem;
}

.island-half, .island-1-2 {
  padding: 0.7000rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3500rem;
}

.gutter {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.gutter-double, .gutter-2 {
  padding-left: 2.8000rem;
  padding-right: 2.8000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7000rem;
  padding-right: 0.7000rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3500rem;
  padding-right: 0.3500rem;
}

}

@media only screen and (min-width: 60em) {

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 1.3154;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.6648;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.8729;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.0535;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.3333;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.8984;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3750rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3750rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3750rem;
}

.island {
  padding: 1.5rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3750rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3750rem;
  padding-right: 0.3750rem;
}

}

@media only screen and (min-width: 90em) {

html {
  font-size: 110%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 2.5088rem;
  line-height: 1.1958;
}

.zetta {
  font-size: 2.2300rem;
  line-height: 1.3453;
}

h1, .exa {
  font-size: 1.9822rem;
  line-height: 1.5134;
}

h2, .peta {
  font-size: 1.7620rem;
  line-height: 1.7026;
}

h3, .tera {
  font-size: 1.5662rem;
  line-height: 1.9155;
}

h4, .giga {
  font-size: 1.3922rem;
  line-height: 1.0774;
}

h5, .mega {
  font-size: 1.2375rem;
  line-height: 1.2121;
}

h6, .kilo {
  font-size: 1.1000rem;
  line-height: 1.3636;
}

small, .milli {
  font-size: 0.9778rem;
  line-height: 1.5341;
}

.micro {
  font-size: 0.8691rem;
  line-height: 1.7259;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3750rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3750rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3750rem;
}

.island {
  padding: 1.5rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3750rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3750rem;
  padding-right: 0.3750rem;
}

}
