[submodule "topics"]
	path = topics
	url = https://github.com/acgd-learn-the-web/topics.git
[submodule "_web-dev-1"]
	path = _web-dev-1
	url = git@github.com:acgd-webdev-1/curriculum.git
[submodule "_web-dev-5"]
	path = _web-dev-5
	url = git@github.com:acgd-webdev-5/curriculum.git
[submodule "_web-dev-2"]
	path = _web-dev-2
	url = git@github.com:acgd-webdev-2/curriculum.git
[submodule "_web-dev-4"]
	path = _web-dev-4
	url = git@github.com:acgd-webdev-4/curriculum.git
