[submodule "topics"]
	path = topics
	url = https://github.com/acgd-learn-the-web/topics.git
[submodule "_web-dev-1"]
	path = _web-dev-1
	url = git@github.com:acgd-webdev-1/syllabus.git
[submodule "_web-dev-3"]
	path = _web-dev-3
	url = git@github.com:acgd-webdev-3/syllabus.git
