---
layout: basic-inside
title: "Web dev activities & quizzes"
desc: "There are lots of activities, quizzes, exercises & games to test the knowledge you’ve learned—or even explore and master new tools."
priority: 0.8
head: |
  <link href="/css/main-topics.min.css" rel="stylesheet">

# A hacky way to put unused activities on this page
# Should probably move this to `data`
# unused_activities:
#   title: "Fun & games"
#   docs:
#     - layout: week
#       tasks:
#         - title: "Specificity Spy"
#           url: "https://activities.learn-the-web.algonquindesign.ca/specificity-spy/"
#           type: activity
---

{% include icons-topics.html %}

<div class="wrapper gutter-1-2 pad-t pad-b-1-2">
  {% for collection_id in site.collections_courses %}
    {% assign collection = site.collections | where: "label", collection_id | first %}
    {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

    {% if collection.disabled %}
      {% assign link = false %}
    {% else %}
      {% assign link = true %}
    {% endif %}

    {% if page.unused_activities %}
      {% assign is_last = false %}
    {% else %}
      {% assign is_last = forloop.last %}
    {% endif %}

    {% include activity-section.html number=forloop.index collection=collection is-last=is_last link=link %}
  {% endfor %}

  {% if page.unused_activities %}
    {% include activity-section.html number="infinite" collection=page.unused_activities is-last=true link=false %}
  {% endif %}
</div>
