---
layout: basic-inside
title: Web dev course curriculums
desc: "The Algonquin Design web development stream includes four core courses to develop web development skills and two culminating performance courses where students demonstrate their knowledge."
priority: 1.0
head: |
  <link href="/css/main-topics.min.css" rel="stylesheet">
---

{% include icons-topics.html %}

<div class="wrapper gutter-1-2 pad-t pad-b-1-2 push">
  {% for collection_id in site.collections_courses %}
    {% assign collection = site.collections | where: "label", collection_id | first %}

    {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

    {% if collection.disabled %}
      {% assign link = false %}
    {% else %}
      {% assign link = true %}
    {% endif %}

    {% assign data = collection.docs | where: "layout", "course" | first %}
    {% include course-section.html number=forloop.index data=data link=link %}
  {% endfor %}
</div>

<div class="section-muted pad-t-1-2">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="zetta">Workshops</h2>
    <p class="mega max-length">Outside the core Web Dev courses, Algonquin Graphic Design offers workshops for enthusiastic students to explore more complex and in-depth materials with guidance on their own time.</p>

    <hr class="hr-medium">

    {% for collection_id in site.collections_workshops %}
      {% assign collection = site.collections | where: "label", collection_id | first %}

      {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

      {% if collection.disabled %}
        {% assign link = false %}
      {% else %}
        {% assign link = true %}
      {% endif %}

      {% assign data = collection.docs | where: "layout", "course" | first %}
      {% include course-section.html number="infinite" data=data link=link %}
    {% endfor %}
  </div>
</div>
