---
layout: basic-inside
title: Web dev course curriculums
desc: "The Algonquin Design web development stream includes four core courses and two culminating performance courses where students learn & demonstrate their knowledge—and filled with lots of self-directed learning opportunities."
priority: 1.0
hide_markbot: true
head: |
  <link href="/css/main-topics.min.css" rel="stylesheet">
---

{% include icons-topics.html %}

<div class="wrapper gutter-1-2 pad-t pad-b-1-2 push">
  <h2 class="zetta push-1-2" id="core-courses">Core courses</h2>
  <p class="mega max-length"><a href="http://algonquindesign.ca" rel="external">Algonquin College’s Graphic Design</a> program has six core web development courses—one each term lasting for up to fifteen weeks—exploring a range of topics from intro to HTML all the way to responsive, component-driven design systems.</p>

  <hr>

  {% for collection_id in site.collections_courses %}
    {% assign collection = site.collections | where: "label", collection_id | first %}

    {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

    {% if collection.disabled %}
      {% assign link = false %}
    {% else %}
      {% assign link = true %}
    {% endif %}

    {% assign data = collection.docs | where: "layout", "course" | first %}
    {% include course-section.html number=forloop.index data=data link=link %}
  {% endfor %}
</div>

<div class="section-muted pad-t-1-2">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="zetta push-1-2" id="self-directed">Self-directed courses</h2>
    <p class="mega max-length">Outside the core Web Dev courses, Algonquin Graphic Design offers self-directed couses for enthusiastic students to explore more complex and in-depth materials with guidance on their own time.</p>

    <hr class="hr-medium">

    {% for collection_id in site.collections_selfdirected %}
      {% assign collection = site.collections | where: "label", collection_id | first %}

      {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

      {% if collection.disabled %}
        {% assign link = false %}
      {% else %}
        {% assign link = true %}
      {% endif %}

      {% assign data = collection.docs | where: "layout", "course" | first %}
      {% include course-section.html number="infinite" data=data link=link %}
    {% endfor %}
  </div>
</div>

<div class="section-muted-medium pad-t-1-2">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="zetta push-1-2" id="workshops">Workshops</h2>
    <p class="mega max-length">Scattered throughout each term are two-hour workshops that introduce students to topics from the self-directed courses or explore more ideas for web development that aren’t covered in the core curriculum.</p>

    <hr class="hr-dark">

    {% for collection_id in site.collections_workshops %}
      {% assign collection = site.collections | where: "label", collection_id | first %}

      {% if collection.relative_directory contains "posts" %}{% continue %}{% endif %}

      {% if collection.disabled %}
        {% assign link = false %}
      {% else %}
        {% assign link = true %}
      {% endif %}

      {% assign data = collection.docs | where: "layout", "workshop" | first %}
      {% include course-section.html number="star" data=data link=link %}
    {% endfor %}
  </div>
</div>
