---
layout: basic-inside
title: "Get help"
desc: "Web development can be complex and hard — but you’ll eventually get it if you put in the effort. Below are all the ways you can help yourself and get help from others."
priority: 0.2
hide_algonquin: true
---

<div class="section-muted">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="giga push-1-2"><abbr title="Too long; didn’t read">TL;DR</abbr></h2>
    <ol class="push-0 mega">
      <li><a href="#watch-videos">Watch all the videos—they’re graded</a></li>
      <li><a href="#attend-labs">Attend all the labs</a></li>
      <li><a href="#tag-on-github">Tag your teacher on GitHub</a></li>
      <li><a href="#office-hours">Stop by office hours</a></li>
      <li><a href="#tutor">Get a tutor</a></li>
      <li><a href="#email">Email your teacher</a></li>
    </ol>
  </div>
</div>

<div class="wrapper pad-t pad-b-1-2">

  <div class="gutter-1-2">
    <p class="tera">If you’re having troubles or finding code difficult here are the options for getting help:</p>
    <hr>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="watch-videos"><span class="hang-punc">1</span> Watch <em>all</em> the videos</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Watching the videos for each week is extremely helpful.</strong> If you haven’t been watching them not only are you losing marks but you’re also ignoring the primary source of learning materials.</p>
        <ul>
          <li>Find the videos & tutorials listed on every weekly dashboard page—<a href="/courses/web-dev-1/week-2/">like this dashboard from Web Dev 1, Week 2</a>.</li>
          <li>Watch the videos right at the top of each tutorial—<a href="/topics/html-semantics/">like the video playlist on the HTML semantics tutorial</a>.</li>
          <li>At the bottom of each tutorial is a list of all the videos—<a href="/topics/html-semantics/#video-list">like at the bottom of the HTML semantics tutorial</a>.</li>
          <li><a href="https://www.youtube.com/user/acinteractivedesign" rel="external">Check out the YouTube channel</a>.</li>
        </ul>
        <h3>What if I don’t like videos?</h3>
        <p>That’s perfectly okay—that’s why every video playlist is accompanied by a written tutorial, <a href="/topics/html-semantics/">like this tutorial on HTML semantics</a>.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Video watching is graded</h3>
        <p>There are ~14 weeks in the term—many of which will have videos.</p>
        <p><em>You’ll get a pass/fail grade per week for watching the videos.</em></p>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>


  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="attend-labs"><span class="hang-punc">2</span> Attend <em>all</em> the labs</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Attendance at the 1-hour labs outside class—if you have them scheduled—is mandatory.</strong></p>
        <p>The TAs will be checking that you’re watching the videos and doing work—which you’ll bet marks for.</p>
        <p>The labs are a <em>perfect time to ask questions</em> of your peers and the TAs.</p>
        <h3>Attend multiple labs</h3>
        <p>If you didn’t get all the help you needed from your scheduled lab, attend a lab for one of the other sections—attend all three even!</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Web Dev 1 lab times</h3>
        {% include week/web-dev-1-labs.html %}
        <h3 class="mega push-0">Web Dev 3 lab times</h3>
        {% include week/web-dev-3-labs.html %}
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="tag-on-github"><span class="hang-punc">3</span> Tag your teacher on GitHub</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re away from school and you need help, open an Issue on GitHub and tag your teacher, they’ll get back to you in a timely manner and guide you.</p>
        <ul>
          <li><strong><a href="/courses/web-dev-1/create-tagged-issue/">Create tagged issue</a></strong></li>
          <li><strong><a href="/courses/web-dev-1/create-tagged-issue/#no-issues-tab">I don’t have an issues tab!</a></strong></li>
        </ul>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Thomas</h3>
        <div class="push-1-4"><code>@thomasjbradley</code></div>
        <h3 class="mega push-0">Melissa</h3>
        <div class="push-1-4"><code>@melissaroy</code></div>
        <h3 class="mega push-0">Eric</h3>
        <div class="push"><code>@ericadamski</code></div>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="office-hours"><span class="hang-punc">4</span> Stop by office hours</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>Many of the teachers have office hours that you can drop by and get help directly from them—they’re literally sitting there waiting for people to come ask questions. <em>Use this time!</em></p>
        <p>These things shouldn’t need to be said—but:</p>
        <ul>
          <li>Do come prepared—laptop awake, code open.</li>
          <li>Come with specific questions and concerns or looking for specific feedback.</li>
          <li>If there’s a huge line-up, each meeting will have time limit to accommodate everybody.</li>
        </ul>
        <h3>Book alternative times</h3>
        <p>If the times don’t work for you, contact your teacher directly and ask if they’re willing to meet at another time.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Thomas @ J104</h3>
        {% include week/office-hours-thomas.html %}
        <h3 class="mega push-0">Melissa</h3>
        {% include week/office-hours-melissa.html %}
        <h3 class="mega push-0">Eric</h3>
        {% include week/office-hours-eric.html %}
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="tutor"><span class="hang-punc">5</span> Get a tutor</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re really struggling and next extra help outside class you can book time with tutors. The tutors are students from the course who have already completed the class you’re currently taking.</p>
        <p><em>The tutors cost you $6 per hour.</em></p>
        <p><strong><a href="https://www.algonquincollege.com/peer-tutoring/find-peer-tutoring-on-your-campus/" rel="external">Book a tutor through Algonquin’s Peer Tutoring Centre</a>.</strong></p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">This term’s tutors:</h3>
        <ul>
          <li><a href="mailto:">Second year tutor</a></li>
          <li><a href="mailto:">Third year tutor</a></li>
          <li><a href="mailto:">Third year tutor</a></li>
        </ul>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="email"><span class="hang-punc">6</span> Email your teacher</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re really struggling and don’t know what to do—please talk to your teacher. Don’t stay quiet—speak up (even if it’s digitally)—staying quiet will only make things compound.</p>
        <p><strong>Your teacher can help you out and point you in a direction.</strong></p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Emails:</h3>
        <ul>
          <li><a href="mailto:bradlet@algonquincollege.com">Thomas</a></li>
          <li><a href="mailto:">Melissa</a></li>
          <li><a href="mailto:">Eric</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
