---
layout: basic-inside
title: "Get help"
desc: "Web development can be complex and hard — but you’ll eventually get it if you put in the effort. Below are all the ways you can help yourself and get help from others."
priority: 0.2
hide_markbot: true
hide_algonquin: true
---

<div class="section-muted">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="giga push-1-2"><abbr title="Too long; didn’t read">TL;DR</abbr></h2>
    <ol class="push-0 mega">
      <li><a href="#watch-videos">Watch all the videos</a></li>
      <li><a href="#attend-labs">Attend all the labs</a></li>
      <li><a href="#tag-on-github">Tag your teacher on GitHub</a></li>
      <li><a href="#office-hours">Stop by office hours</a></li>
      <li><a href="#tutor">Get a tutor</a></li>
      <li><a href="#email">Email your teacher</a></li>
    </ol>
  </div>
</div>

<div class="wrapper pad-t pad-b-1-2">

  <div class="gutter-1-2">
    <p class="tera">If you’re having troubles or finding code difficult here are the options for getting help:</p>
    <hr>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="watch-videos"><span class="hang-punc">1</span> Watch <em>all</em> the videos</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Watching the videos for each week is extremely helpful.</strong> If you haven’t been watching them not only are you losing marks but you’re also ignoring the primary source of learning materials.</p>
        <ul>
          <li>Find the videos & tutorials listed on every weekly dashboard page—<a href="/courses/web-dev-1/week-02/">like this dashboard from Web Dev 1, Week 2</a>.</li>
          <li>Watch the videos right at the top of each tutorial—<a href="/topics/html-semantics/">like the video playlist on the HTML semantics tutorial</a>.</li>
          <li>At the bottom of each tutorial is a list of all the videos—<a href="/topics/html-semantics/#video-list">like at the bottom of the HTML semantics tutorial</a>.</li>
          <li><a href="https://www.youtube.com/user/acinteractivedesign" rel="external">Check out the YouTube channel</a>.</li>
        </ul>
        <h3>What if I don’t like videos?</h3>
        <p>That’s perfectly okay—that’s why every video playlist is accompanied by a written tutorial, <a href="/topics/html-semantics/">like this tutorial on HTML semantics</a>.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega">Video watching is expected</h3>
        <p>There are ~14 weeks in the term—many of which will have videos.</p>
        <p><em>The videos are part of your homework—you’re expected to watch all them.</em></p>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>


  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="attend-labs"><span class="hang-punc">2</span> Attend <em>all</em> the labs</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Attendance at the 1-hour labs outside class—if you have them scheduled—is essentially mandatory. You should be attending all labs.</strong></p>
        <p>The labs are a <em>perfect time to ask questions</em> of your peers and the TAs. If you don’t have work to do then help your peers—helping others is one of the best ways to truly learn the material.</p>
        <h3>Attend multiple labs</h3>
        <p>If you didn’t get all the help you needed from your scheduled lab, attend a lab for one of the other sections—attend all three even!</p>
        <h3 id="lab-stickies">Lab sticky note system</h3>
        <p>Labs will follow a slightly modified sticky note system, pictured below.</p>
        <img class="img-flex push" src="/images/lab-stickies.svg" alt="" aria-details="lab-stickies">
        <dl class="list-group-inline" id="lab-stickies">
          <dt class="bold">Green</dt>
          <dd class="push-0"><em>No help needed</em>—working or watching</dd>
          <dt class="bold">Yellow</dt>
          <dd class="push-0"><em>Help needed</em>—anybody can help out</dd>
          <dt class="bold">Red</dt>
          <dd class="push-0"><em>Help from TA</em>—always has priority</dd>
          <dt class="bold">(None)</dt>
          <dd class="push-0"><em>Success!</em>—helping others</dd>
        </dl>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.datetimes.labs %}
                <h3 class="mega push-0">{{doc.title}} lab times</h3>
                <ol class="hours list-group">
                  {% for lab in doc.datetimes.labs %}
                    <li>{% include day-number-to-text.html day=lab.day %} {% include 24-hour-to-12.html time=lab.start_time %}–{% include 24-hour-to-12.html time=lab.end_time %} @ {{lab.room}}</li>
                  {% endfor %}
                </ol>
              {% endif %}

              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="tag-on-github"><span class="hang-punc">3</span> Tag your teacher on GitHub</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re away from school and you need help, open an Issue on GitHub and tag your teacher, they’ll get back to you in a timely manner and guide you.</p>
        <ul>
          <li><strong><a href="/courses/web-dev-1/create-tagged-issue/">Create tagged issue</a></strong></li>
          <li><strong><a href="https://www.youtube.com/watch?v=vTULg-7xycs">I don’t have an issues tab!</a></strong></li>
        </ul>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4 push">
        {% assign duplicate_detector = "" %}
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.prof.email %}
                {% unless duplicate_detector contains doc.prof.email %}
                  {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                  <h3 class="mega push-0">{{doc.prof.name}}</h3>
                  <div class="push-1-4"><code>@{{doc.prof.github}}</code></div>
                {% endunless %}
              {% endif %}

              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="office-hours"><span class="hang-punc">4</span> Stop by office hours</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>Many of the teachers have office hours that you can drop by and get help directly from them—they’re literally sitting there waiting for people to come ask questions. <em>Use this time!</em></p>
        <p>These things shouldn’t need to be said—but:</p>
        <ul>
          <li>Do come prepared—laptop awake, code open.</li>
          <li>Come with specific questions and concerns or looking for specific feedback.</li>
          <li>If there’s a huge line-up, each meeting will have time limit to accommodate everybody.</li>
        </ul>
        <h3>Book alternative times</h3>
        <p>If the times don’t work for you, contact your teacher directly and ask if they’re willing to meet at another time.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        {% assign duplicate_detector = "" %}
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.prof and doc.prof.hours %}
                {% unless duplicate_detector contains doc.prof.email %}
                  {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                  <h3 class="mega push-0">{{doc.prof.name}} {% if doc.prof.office %}@ {{doc.prof.office}}{% endif %}</h3>
                  {% if doc.prof.hours %}
                    <ol class="hours list-group">
                      {% for hour in doc.prof.hours %}
                        <li>{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %}–{% include 24-hour-to-12.html time=hour.end_time %}</li>
                      {% endfor %}
                    </ol>
                  {% else %}
                    <p><em>By appointment only.</em></p>
                  {% endif %}
                {% endunless %}
              {% endif %}

              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        <p><em>Email unlisted professors to make an appointment.</em></p>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="tutor"><span class="hang-punc">5</span> Get a tutor</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re really struggling and next extra help outside class you can book time with tutors. The tutors are students from the course who have already completed the class you’re currently taking.</p>
        <p><strong>When searching on Algonquin’s Peer Tutoring site only search for the tutor’s name. You probably won’t find your course.</strong></p>
        <p><em>The tutors cost you $6 per hour.</em></p>
        <p><strong><a href="https://www.algonquincollege.com/peer-tutoring/find-peer-tutoring-on-your-campus/" rel="external">Book a tutor through Algonquin’s Peer Tutoring Centre.</a></strong></p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">This term’s tutors:</h3>
        <!-- <p><em>Still in the process of being hired…</em></p> -->
        <ul>
          <li><a href="mailto:doug0139@algonquinlive.com">Hannah Douglas, 3rd year</a></li>
          <li><a href="mailto:obri0205@algonquinlive.com">Kayla Obritsch, 3rd year</a></li>
          <li><a href="mailto:peix0012@algonquinlive.com">Matt Peixoto, 3rd year</a></li>
          <li><a href="mailto:alve0026@algonquinlive.com">Raquel Alves Araujo Ferreira, 2nd year</a></li>
          <li><a href="mailto:srid0002@algonquinlive.com">Shrinidhi Sridhar, 2nd year</a></li>
        </ul>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </div>

  <div class="gutter-1-4">
    <h2 class="gutter-1-4" id="email"><span class="hang-punc">6</span> Email your teacher</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>If you’re really struggling and don’t know what to do—please talk to your teacher. Don’t stay quiet—speak up (even if it’s digitally)—staying quiet will only make things compound.</p>
        <p><strong>Your teacher can help you out and point you in a direction.</strong></p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Emails:</h3>
        <ul>
          {% assign duplicate_detector = "" %}
          {% for collection in site.collections %}
            {% for doc in collection.docs %}
              {% if doc.slug == "index" %}
                {% if doc.prof.email %}
                  {% unless duplicate_detector contains doc.prof.email %}
                    {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                    <li><a href="mailto:{{doc.prof.email}}">{{doc.prof.name}}</a></li>
                  {% endunless %}
                {% endif %}

                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>
