---
layout: basic-inside
title: "Online course delivery protocol"
desc: "Processes to handle the transition from in-person classes to fully online Web Development courses at Algonquin College."
priority: 0.1
hide_markbot: true
hide_algonquin: true
---

<div class="section-muted">
  <div class="wrapper gutter-1-2 pad-t pad-b">
    <h2 class="giga push-1-2"><abbr title="Too long; didn’t read">TL;DR</abbr></h2>
    <ol class="push-0 mega">
      <li><a href="#class-time">Participate in class time over live streams & chats</a></li>
      <li><a href="#lab-time">Participate in open lab time over live chats</a></li>
      <li><a href="#asking-questions">Ask questions over email, chat, Issues & video</a></li>
      <li><a href="#submit-work">Submit work via Markbot or Issue</a></li>
      <li><a href="#grades">Grades on Progressinator</a></li>
      <li><a href="#tips">Quick tips</a></li>
    </ol>
  </div>
</div>

<div class="wrapper pad-t pad-b-1-2">

  <div class="gutter-1-2">
    <p class="tera">We are transitioning to full online delivery of the Web Dev courses—so here are some rules & protocols to follow to make the transition is seamless & functional.</p>
    <hr>
  </div>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="class-time"><span class="hang-punc">1</span> What happens to class time?</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Regular class times happen as normal.</strong> But instead of meeting in person we’ll do a live stream & chat. For the 3 hours of class time there will be a live stream of the teacher:</p>
        <ul>
          <li>First doing the introductory slide deck,</li>
          <li>Then answering questions in the stream asked by class members in the live chat.</li>
        </ul>
        <p>If you regularly have a TA in your in-person class time you will continue to have TA in the live-chat so there will be more than one person answering questions.</p>
        <p><em>You’re welcome—and encouraged—to participate in any of the different sections—or more than one.</em> <strong>The live broadcast will not be recorded or saved for later playback.</strong></p>
      </div>
    </div>
    <h3 class="gutter-1-4">Pre-scheduled live broadcasts</h3>
    <div class="gutter-1-4">
      <table>
        <caption class="push-0">Web Dev 4 live broadcast times & links.</caption>
        <thead>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Section 010</th>
            <th scope="col">Section 020</th>
            <th scope="col">Section 030</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mar. 23–27</td>
            <td>YouTube Live: Mo. 8–11</td>
            <td>YouTube Live: Tu. 2–5</td>
            <td>YouTube Live: Fr. 2–5</td>
          </tr>
          <tr>
            <td>Mar. 30–Apr. 2</td>
            <td>YouTube Live: Mo. 8–11</td>
            <td>YouTube Live: Tu. 2–5</td>
            <td>YouTube Live: Fr. 2–5</td>
          </tr>
          <tr>
            <td>Apr. 6–10</td>
            <td>YouTube Live: Mo. 8–11</td>
            <td>YouTube Live: Tu. 2–5</td>
            <td>YouTube Live: Fr. 2–5</td>
          </tr>
          <tr>
            <td>Apr. 13–17</td>
            <td>YouTube Live: Mo. 8–11</td>
            <td>YouTube Live: Tu. 2–5</td>
            <td>YouTube Live: Fr. 2–5</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

  <hr>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="lab-time"><span class="hang-punc">2</span> What happens to the open lab time?</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>Regular open lab times will be kept.</strong> But instead of going to a classroom there will be a dedicated live-chat. The regular TA will be on the chat for the dedicated 2 hour block to answer questions in an efficient manner.</p>
        <h3>Dedicated open lab chat rooms</h3>
        <p>You can access the open lab chat rooms using Gitter—an open, community chat system. You do not need to remember a new login—use your GitHub login to access.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Open lab times & chats</h3>
        <ol class="hours list-group">
          <li><a href="https://gitter.im/learn-the-web/open-lab-time-mo-3-5" rel="external">Mo. 3–5 w/ Hannah</a></li>
          <li><a href="https://gitter.im/learn-the-web/open-lab-time-tu-12-2" rel="external">Tu. 12–2 w/ MacKenzie</a></li>
          <li><a href="https://gitter.im/learn-the-web/open-lab-time-fr-5-7" rel="external">Fr. 5–7 w/ MacKenzie</a></li>
        </ol>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

  <hr>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="asking-questions"><span class="hang-punc">3</span> How do I ask questions?</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>There will be many different ways to get help & answer your questions.</strong></p>
      </div>
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <h3>Is it a general question?</h3>
        <p>Send an email to your teacher. Or send them a direct message on <a href="https://gitter.im/learn-the-web/Lobby" rel="external">Gitter</a>. Grades will not be checked over email & anything code related will not be dealt with over email.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Emails:</h3>
        <ul>
          {% assign duplicate_detector = "" %}
          {% for collection in site.collections %}
            {% for doc in collection.docs %}
              {% if doc.slug == "index" %}
                {% if doc.prof.email %}
                  {% unless duplicate_detector contains doc.prof.email %}
                    {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                    <li><a href="mailto:{{doc.prof.email}}">{{doc.prof.name}}</a></li>
                  {% endunless %}
                {% endif %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <h3>Is your question code-specific?</h3>
        <p>Create a GitHub Issue & tag your teacher. This is the most efficient way to get help with code because we, as teachers, can see the code & comment directly on it.</p>
        <ul>
          <li><strong><a href="/courses/web-dev-1/create-tagged-issue/">Create tagged issue</a></strong></li>
          <li><strong><a href="https://www.youtube.com/watch?v=vTULg-7xycs">I don’t have an issues tab!</a></strong></li>
        </ul>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4 push">
        {% assign duplicate_detector = "" %}
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.prof.email %}
                {% unless duplicate_detector contains doc.prof.email %}
                  {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                  <h3 class="mega push-0">{{doc.prof.name}}</h3>
                  <div class="push-1-4"><code>@{{doc.prof.github}}</code></div>
                {% endunless %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <h3>Do you need more one-on-one?</h3>
        <p>During regularly scheduled office hour times you can book a one-on-one video conference over Skype—which will allow screen sharing, voice & text chat.</p>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        {% assign duplicate_detector = "" %}
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.prof.hours or doc.prof.hours_form %}
                {% unless duplicate_detector contains doc.prof.email %}
                  {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                  <h3 class="mega push-0">{{doc.prof.name}} {% if doc.prof.office %}<!--@ {{doc.prof.office}}-->{% endif %}</h3>
                  {% if doc.prof.hours %}
                    <ol class="hours list-group">
                      {% for hour in doc.prof.hours %}
                        <li>{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %}–{% include 24-hour-to-12.html time=hour.end_time %}</li>
                      {% endfor %}
                    </ol>
                  {% else %}
                    {% if doc.prof.hours_form %}
                      <p><em><a href="{{doc.prof.hours_form}}" rel="external">Book an appointment</a></em></p>
                    {% else %}
                      <p><em>By appointment only.</em></p>
                    {% endif %}
                  {% endif %}
                {% endunless %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        {% if duplicate_detector == "" %}
          <p><em>The term is not currently running so there are no defined office hours.</em></p>
        {% endif %}
        <p><em>Email unlisted professors to make an appointment.</em></p>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

  <hr>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="submit-work"><span class="hang-punc">4</span> How do I submit my work?</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>If it’s regularly a Markbot assignment, nothing changes. Submit with Markbot as normal.</strong></p>
        <h3>“Show teacher for grades” work</h3>
        <p>If it’s something you’re supposed to show the teacher, follow this procedure.</p>
        <ol>
          <li>Create an Issue on GitHub on a related repository</li>
          <li>Title the Issue something related to grades: "Grade for" or "Marks for". (This is to help your teacher distinguish between an Issue that requires help & a grade specific Issue.</li>
        </ol>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <ul>
          <li><strong><a href="/courses/web-dev-1/create-tagged-issue/">Create tagged issue</a></strong></li>
          <li><strong><a href="https://www.youtube.com/watch?v=vTULg-7xycs">I don’t have an issues tab!</a></strong></li>
        </ul>
        {% assign duplicate_detector = "" %}
        {% for collection in site.collections %}
          {% for doc in collection.docs %}
            {% if doc.slug == "index" %}
              {% if doc.prof.email %}
                {% unless duplicate_detector contains doc.prof.email %}
                  {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                  <h3 class="mega push-0">{{doc.prof.name}}</h3>
                  <div class="push-1-4"><code>@{{doc.prof.github}}</code></div>
                {% endunless %}
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

  <hr>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="grades"><span class="hang-punc">5</span> How do I see my grades?</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p>Nothing changes. <strong><a href="https://progress.learn-the-web.algonquindesign.ca/">Continue to use Progressinator to see your up-to-date grades.</a></strong></p>
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

  <hr>

  <section class="gutter-1-4">
    <h2 class="gutter-1-4" id="tips"><span class="hang-punc">6</span> Tips to be successful</h2>
    <div class="grid">
      <div class="unit [ xs-1 l-3-4 ] gutter-1-4">
        <p><strong>We understand this is a difficult & overwhelming change to the routine and your expectations. Here are some quick, general tips to help you out.</strong></p>
        <ul>
          <li>Stick to your regular hours & routines. Still get up as though you’re going to class. Then you can dedicate that time to working on the class materials.</li>
          <li>Keep on top of your work. This is still real school. You need to complete your work on time. Since there is no in-person teachers to confirm you’re following along, it’s more up to you.</li>
          <li>Watch all the videos!</li>
          <li>Pay attention to all online communication: email, chat, etc. This is where the important information will be distributed.</li>
        </ul>
        <h3>Tips to write helpful Issues</h3>
        <ul>
          <li><strong>Commit & push before you ask a question!</strong> If the teacher has to ask “Have you commited & pushed” you’re wasting everybody’s time.</li>
          <li><strong>Don’t mix Issues.</strong> Don’t ask for help in the same Issue you ask for grades. Each Issue should be a single, unique question.</li>
          <li>Don’t ask unrelated questions in an Issue that’s previously been resolved.</li>
          <li>Describe in detail what the problem is that your’re seeing. And describe what you expect it to be doing. Detail what you’ve tried & what hasn’t worked.</li>
          <li>Definitely include screenshots of what it looks like! But no screenshots of the code; they’re not helpful—it’s much easier for us to see it in GitHub’s interface.</li>
        </ul>
      </div>
      <div class="unit [ xs-1 l-1-4 ] gutter-1-4">
        <h3 class="mega push-0">Extra help</h3>
        <p><strong>Please contact your teacher, <a href="https://www.algonquincollege.com/studentsupportservices/" rel="external">Student Support Services</a>, <a href="https://www.algonquincollege.com/studentsupportservices/accessibility/" rel="external">Accessibility</a>, <a href="https://www.algonquincollege.com/studentsupportservices/mental-health/" rel="external">Mental Health</a>, to get the support you need.</strong></p>
        <h3 class="mega push-0">Emails:</h3>
        <ul>
          {% assign duplicate_detector = "" %}
          {% for collection in site.collections %}
            {% for doc in collection.docs %}
              {% if doc.slug == "index" %}
                {% if doc.prof.email %}
                  {% unless duplicate_detector contains doc.prof.email %}
                    {% capture duplicate_detector %}{{duplicate_detector}}|{{doc.prof.email}}{% endcapture %}
                    <li><a href="mailto:{{doc.prof.email}}">{{doc.prof.name}}</a></li>
                  {% endunless %}
                {% endif %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul
      </div>
    </div>
    <div class="gutter-1-4"><hr></div>
  </section>

</div>
