---
layout: topics
title: Topics
desc: Learn to develop amazing websites by following this complete series of tutorials and videos.
priority: 1
---

{% include icons-topics.html %}

<main class="relative" role="main">
  <div class="header">
    <div class="wrapper gutter-1-2 pad-b">
      <h1 class="push-1-4 yotta" tabindex="0">Topics</h1>
      <p class="intro giga push-0">Learn to develop fantastic websites by following the program—split into sections for easier learning and understanding.</p>
    </div>
  </div>

  <div class="search">
    <form class="wrapper gutter-1-2 pad-t pad-b" method="get" action="/topics" role="search" hidden>
      <label class="mega push-1-2 search-label" for="search">Find a subject to learn…</label>
      <input class="mega push-1-4 search-input" type="search" id="search">
    </form>
  </div>

  {% include topic-section.html class="topic-section-1" id="set-up" title="Set up" number="0" data=site.data.setup %}
  {% include topic-section.html class="topic-section-2" id="web-dev-1" title="Web Dev" number="1" curriculum=true data=site.data.web-dev-1 %}
  {% include topic-section.html class="topic-section-3" id="web-dev-2" title="Web Dev" number="2" curriculum=true data=site.data.web-dev-2 %}
  {% include topic-section.html class="topic-section-4" id="web-dev-3" title="Web Dev" number="3" curriculum=true data=site.data.web-dev-3 %}
  {% include topic-section.html class="topic-section-5" id="web-dev-4" title="Web Dev" number="4" curriculum=true data=site.data.web-dev-4 %}
  {% include topic-section.html class="topic-section-6" id="web-dev-5" title="Web Dev" number="5" curriculum=true data=site.data.web-dev-5 %}
  {% include topic-section.html class="topic-section-7" id="web-dev-6" title="Web Dev" number="6" curriculum=true data=site.data.web-dev-6 %}
  {% include topic-section.html class="topic-section-8" id="whats-next" title="What’s next?" number="infinite" data=site.data.whats-next %}

</main>
