.play-btn {
  position: absolute;
  top: 1.6rem;
  z-index: 2;

  transition: all 50ms linear;
  color: #fff;
}

.play-btn:hover {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.play-icon {
  height: 80px;
  margin-right: 0.5em;
  width: 80px;
}

.play-icon-text {
  display: inline-block;
  max-width: 6em;
  line-height: 1.2;
}

.video-embed {
  overflow: hidden;
  min-height: 180px;
  width: 100%;

  transition: all 200ms linear;
  transform: translateZ(0);
}

.video-embed-item {
  transition: all 100ms linear;
}

.video-embed-item-loading {
  opacity: 0;
}

.tutorial h1 {
  position: absolute;
  left: 0.75rem;
  bottom: calc(100% + 1rem);

  color: #000;
}

.tutorial .is-playing {
  position: static;

  color: currentColor;
}

.tutorial h2,
.tutorial h3,
.tutorial h4,
.tutorial h5,
.tutorial h6 {

}

.tutorial ul ul,
.tutorial ol ol {
  margin: 0 0 0 1.2rem;
}

.tutorial blockquote {
  font-size: 1.2rem;
  color: var(--color-grey);
}

.tutorial table {
  width: 100%;
  border: 1px solid var(--color-grey-medium);
}

.tutorial th {
  vertical-align: bottom;
}

.tutorial th,
.tutorial td {
  padding: 0.1em 0.3em;
  border: 1px solid var(--color-code-dark);
}

.tutorial tbody th,
.tutorial tfoot th {
  text-align: left;
}

.tutorial thead,
.tutorial tfoot {
  background-color: var(--color-code-light);
}

.heading-link {
  display: none;
  position: absolute;
  margin-left: -0.55em;

  border: 0;
  opacity: 0.4;

  color: var(--color-grey);
  font-weight: normal;
}

.heading-link:hover {
  opacity: 1;
  color: var(--color-link);
  text-decoration: none;
}

.tutorial img {
  display: block;
  margin-left: -0.8em;
  margin-right: -0.8em;
  overflow: hidden;
  width: calc(100% + 1.6em);

  border-radius: 3px;
}

.nav-check {

}

.nav-label {
  cursor: pointer;
  display: block;
  padding: 0.3rem 0.5rem;

  background-color: var(--color-grey-light);
  border-radius: 4px;
}

.i-nav {
  margin-right: 0.25em;
  width: 20px;
  height: 20px;

  background: none no-repeat left top / 100% auto transparent;
  background-image: url("../images-embed/nav-icon.svg");
}

.nav-check:checked ~ .nav-label {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--color-grey);
}

.nav-check:focus ~ .nav-label {
  outline: 3px solid #000;
}

.nav-check:checked ~ .nav-label .i-nav {
  background-position: left bottom;
}

.tutorial-nav ol {
  margin: 0;
  padding: 0;
}

.tutorial-nav > ol {
  display: none;
  padding: 0.5rem;

  background-color: var(--color-grey-light);
  border-radius: 0 0 4px 4px;
}

.tutorial-nav .nav-check:checked ~ ol {
  display: block;
}

.tutorial-nav {
  line-height: 1.3rem;
}

.tutorial-nav li {
  border-bottom: 1px solid var(--color-grey-light);
}

.tutorial-nav a {
  border: 0;
}

.tutorial-nav-level-1 {
  font-weight: bold;
}

.tutorial-nav-level-2 {
  font-weight: bold;
}

.tutorial-nav-level-3 {
  padding-left: .6em;
}

.tutorial-nav-level-4 {
  padding-left: 1.2em;
  font-style: italic;
}

.tutorial-nav-level-5 {
  padding-left: 1.8em;
  font-size: 90%;
}

.tutorial-nav-level-6 {
  padding-left: 2.4em;
  font-size: 80%;
}

.tutorial-nav a {
  display: block;
  padding: 0.1em 0.3em;
  transition: all 50ms linear;
}

.tutorial-nav a:hover {
  border-radius: 4px;
  background-color: var(--color-grey-light);
  text-decoration: none;
}

.controls {
  position: relative;

  text-align: center;
}

.controls .btn {
  display: block;
}

.tutorial-footer {
  border-top: 3px solid var(--color-grey-light);
}

.downloads {
  margin-left: -0.7rem;
}

.downloads > li {
  padding-left: 0.7rem;
}

.downloads a {
  display: block;
}

@media only screen and (min-width: 38em) {

  .play-btn {
    top: .2rem;
  }

  .play-icon {
    height: 100px;
    width: 120px;
  }

  .tutorial h1 {
    bottom: calc(100% + 1rem);
  }

  .controls .btn {
    display: inline-block;
  }

  .controls-prev {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .controls-next {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

}

@media only screen and (min-width: 48em) {

  .heading-link {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 50em;
  }

  .play-btn {
    top: .6rem;
  }

  .play-icon {
    height: 120px;
    width: 150px;
  }

  .tutorial {
    padding-left: 1.5rem;
  }

  .tutorial h1 {
    bottom: calc(100% + 1.4rem);
  }

  .tutorial-nav > ol {
    display: block;
    margin-left: -0.3em;
    margin-right: -0.3em;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .nav-label,
  .nav-check {
    display: none;
  }

}
