.assignment-viewer {
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5000;

  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.assignment-viewer-hidden {
  opacity: 0;
}

.assignment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 2.6em);
  margin: 2.6em auto 0;
  max-width: 33em;
  position: relative;
  width: 100%;

  background-color: #fff;
  border: 4px solid #333;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.assignment-wrapper:focus {
  outline: 0;
  box-shadow: 0 0 8px #00deaf;
}

.assignment-close-btn {
  position: absolute;
  right: 4px;
  top: 4px;

  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  line-height: .7em;
}

.assignment-btn-disabled {
  pointer-events: none;
}

.assignment-download-btn-wrap {
  line-height: 1px;
}

.assignment-download-btn {
  height: 2.5em;
  margin-right: -.2em;
  padding: 0;
  position: relative;
  width: 2.5em;

  border-radius: 50%;

  text-align: center;
}

.assignment-download-btn i {
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}

.assignment-download-plus {
  width: .8em;

  line-height: 1px;
  text-align: center;
}

.assignment-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.assignment-content-wrapper table {
  font-size: 85%;
}

.assignment-header {
  flex-shrink: 0;
  position: relative;

  background-color: var(--color-code-darkest);
}

.assignment-header h2 {
  padding-right: 3.6em;
}

.assignment-sub-header {
  background-color: var(--color-code-darkest);
}

.assignment-btn-wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.assignment-content ol ol,
.assignment-content ol ul,
.assignment-content ul ol,
.assignment-content ul ul {
  margin-bottom: 0;
}

.assignment-footer {
  flex-shrink: 0;
  background-color: var(--color-code-dark);
}

.assignment-viewer-screenshot {
  background: #fff none no-repeat center center / 32px 32px;
  border: 1px solid var(--color-grey-medium);
}

.assignment-viewer-screenshot[data-state="loading"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cstyle%3Epath%7Btransform-origin:128px 128px;animation:rotater 1.6s linear infinite%7D@keyframes rotater%7B0%25%7Btransform:rotate(0deg)%7Dto%7Btransform:rotate(360deg)%7D%7D%3C/style%3E%3Cpath stroke='%23d0d1d3' fill='%23d0d1d3' stroke-miterlimit='10' d='M107.2 11.3a8.4 8.4 0 0 0-7.6 6.3l-4.2 23.3a92.9 92.9 0 0 0-24.8 13.9l-22-8.5a8 8 0 0 0-9.5 3.2L17.6 85a8 8 0 0 0 1.5 9.8l17.4 15.5a93.1 93.1 0 0 0-1.8 17.7 92.7 92.7 0 0 0 1.9 17.7l-17.5 15.4a8 8 0 0 0-1.5 9.9l21.6 35.4a8 8 0 0 0 9.5 3.2l22-8.4A92.9 92.9 0 0 0 95.4 215l4.2 23.3a8 8 0 0 0 7.6 6.4h41.5a8 8 0 0 0 7.7-6.4l4.2-23.3a92.9 92.9 0 0 0 24.8-13.9l22 8.4a8 8 0 0 0 9.4-3.2l21.6-35.3a8 8 0 0 0-1.5-9.9l-17.4-15.6a94.2 94.2 0 0 0 1.8-17.6 94.6 94.6 0 0 0-1.8-17.7l17.4-15.6a8 8 0 0 0 1.5-9.8l-21.6-35.2a8 8 0 0 0-9.4-3.2l-22 8.5A92.9 92.9 0 0 0 160.6 41l-4.2-23.3a8 8 0 0 0-7.7-6.3h-41.5zM128 83a45 45 0 1 1-45 45 44.9 44.9 0 0 1 45-45z'/%3E%3C/svg%3E");
}

.assignment-viewer-screenshot .embed-item {
  min-height: auto;
}

.assignment-viewer-screenshot[data-state="loading"] .embed-item {
  visibility: hidden;
}

.assignment-viewer-swatch-wrap {
  padding-left: calc(18px + .7em);
  position: relative;
}

.assignment-viewer-swatch {
  left: .4em;
  position: absolute;
  top: 50%;

  border: 1px solid #a0a0a0;
  transform: translateY(-50%);
}

.assignment-scroll-down {
  bottom: .75rem;
  position: absolute;
  right: .75rem;

  opacity: .3;
}

.default-state {
  animation: pulse 2s linear infinite alternate;
  background-color: var(--color-grey);
  cursor: default;
  opacity: .5;
  user-select: none;

  color: var(--color-grey);
}

.assignment-loader {
  left: 50%;
  position: absolute;
  top: 65%;

  transform: translateX(-50%);
}

.gear-light {
  animation: spin 2s linear infinite;
  stroke: none;
  transform-origin: 80.8px 80.8px;
}

.gear-dark {
  animation: spin 2s linear reverse infinite;
  stroke: none;
  transform-origin: 176.3px 176.3px;
}

@keyframes pulse {
  0% {
    opacity: .5;
  }

  100% {
    opacity: .9;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
