.assignment-viewer {
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5000;

  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.assignment-viewer-hidden {
  opacity: 0;
}

.assignment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 2.6em);
  margin: 2.6em auto 0;
  max-width: 33em;
  position: relative;
  width: 100%;

  background-color: #fff;
  border: 4px solid #333;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.assignment-wrapper:focus {
  outline: 0;
  box-shadow: 0 0 8px #00deaf;
}

.assignment-close-btn {
  position: absolute;
  right: 4px;
  top: 4px;

  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  line-height: .7em;
}

.assignment-btn-disabled {
  pointer-events: none;
}

.assignment-download-btn-wrap {
  line-height: 1px;
}

.assignment-download-btn {
  height: 2.5em;
  margin-right: -.2em;
  padding: 0;
  position: relative;
  width: 2.5em;

  border-radius: 50%;

  text-align: center;
}

.assignment-download-btn i {
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}

.assignment-download-plus {
  width: .8em;

  line-height: 1px;
  text-align: center;
}

.assignment-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.assignment-content-wrapper table {
  font-size: 85%;
}

.assignment-header {
  flex-shrink: 0;
  position: relative;

  background-color: var(--color-code-darkest);
}

.assignment-header h2 {
  padding-right: 3.6em;
}

.assignment-sub-header {
  background-color: var(--color-code-darkest);
}

.assignment-btn-wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.assignment-footer {
  flex-shrink: 0;
  background-color: var(--color-code-dark);
}

.assignment-scroll-down {
  bottom: .75rem;
  position: absolute;
  right: .75rem;

  opacity: .3;
}

.default-state {
  animation: pulse 2s linear infinite alternate;
  background-color: var(--color-grey);
  cursor: default;
  opacity: .5;
  user-select: none;

  color: var(--color-grey);
}

.assignment-loader {
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}

.gear-light {
  animation: spin 2s linear infinite;
  stroke: none;
  transform-origin: 80.8px 80.8px;
}

.gear-dark {
  animation: spin 2s linear reverse infinite;
  stroke: none;
  transform-origin: 176.3px 176.3px;
}

@keyframes pulse {
  0% {
    opacity: .5;
  }

  100% {
    opacity: .9;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
