.btn {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  transition: all 50ms linear;

  color: #000;
  font-family: inherit;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-brand-dark);
  border-color: var(--color-brand-dark);

  color: #fff;
  text-decoration: none;
}

.btn-dark {
  background-color: var(--color-brand-dark);
  border-color: var(--color-brand-dark);

  color: #fff;
}

.btn-dark:focus,
.btn-dark:hover {
  background-color: var(--color-brand);
  border-color: var(--color-brand);

  color: #000;
}

.btn-light {
  background-color: var(--color-brand-light);
  border-color: var(--color-brand);
  color: var(--color-brand-dark);
}

.btn-light:focus,
.btn-light:hover {
  border-color: var(--color-brand);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-brand);
  color: var(--color-brand-dark);
}

.btn-ghost:focus,
.btn-ghost:hover {
  border-color: var(--color-brand-dark);
}

.btn-muted {
  background-color: transparent;
  border-color: var(--color-grey);
  color: var(--color-grey-dark);
}

.btn-muted:focus,
.btn-muted:hover {
  border-color: var(--color-brand-dark);
}

.btn-subtle {
  background-color: transparent;
  border-color: var(--color-grey-light);
  color: var(--color-grey-dark);
}

.btn-subtle:focus,
.btn-subtle:hover {
  border-color: var(--color-brand-dark);
}

.btn-invisible {
  margin: 0;
  padding: 0 .5em;

  background-color: transparent;
  border: 0;
  border-radius: 0;

  color: currentColor;
}

.btn-invisible:focus,
.btn-invisible:hover {
  background-color: transparent;

  color: #000;
}

.btn-alg {
  background-color: #0f663f;
  border-color: #94C947;
  color: #94C947;
}

.btn-alg:focus,
.btn-alg:hover {
  background-color: #94C947;
  border-color: #94C947;
}

.btn-alg-dark {
  background-color: transparent;
  border-color: #0f663f;
  color: #0f663f;
}
