.cheatsheet-header {
  background-color: var(--color-brand);

  color: #000;
}

.simple-nav > li::after {
  content: "·";
  display: inline-block;
  margin: 0 0.5rem;

  color: var(--color-grey);
}

.simple-nav > li:last-child::after {
  content: none;
  display: none;
}

.simple-nav-wrap,
.cheat-section {
  border-bottom: 3px solid var(--color-grey-light);
}

.cheat-section:last-child {
  border-bottom: 0;
}

.cheatsheet img,
.checklist img {
  display: block;
  margin-bottom: 0.75rem;
  width: 100%;
}

.cheat-head:focus {
  outline: 3px solid #000;
  position: relative;
  z-index: 100;
}

.cheat-list p {
  margin: 0;
}

.cheat-head {
  color: #000;
}

.cheat-head code {
  background-color: var(--color-code-dark);
}

.cheat-details p code {
  white-space: normal;
}

.cheat-details {
  margin-left: 1rem;

  color: var(--color-grey-dark);
}

.check-label {
  display: block;
  position: relative;
  padding-left: 1.4em;
}

.check-label p {
  display: inline;
}

.check-box ~ .check-label::before {
  content: " ";
  left: 0;
  height: 16px;
  position: absolute;
  top: 6px;
  z-index: 99;
  width: 16px;

  background-image: inline("../images-embed/check-box.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #000;
  font-size: 15px;
}

.check-box:checked ~ .check-label::after {
  content: " ";
  left: 1px;
  height: 18px;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 18px;

  background-image: inline("../images-embed/check-checked.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-grey);
  font-size: 15px;
}

.cheat-details hr {
  margin: 0;
}
