:root {
  --color-brand: #00deaf;
  --color-brand-dark: #00675a;
  --color-brand-light: #d1fff5;
  --color-brand-lightest: #e6ffff;

  --color-grey: #a8a6af;
  --color-grey-dark: #63666a;
  --color-grey-medium: #d9d8e3;
  --color-grey-light: #efefef;

  --color-link: #4484c2;

  --color-code-light: #f8f6f5;
  --color-code: #f5f2f0;
  --color-code-dark: #eeebe9;
  --color-code-dark-darker-mid: #eae7e6;
  --color-code-darker: #e6e3e2;
  --color-code-darker-darkest-mid: #e3e0de;
  --color-code-darkest: #dfdcda;
}

.brand {
  color: var(--color-brand);
}

.brand-dark {
  color: var(--color-brand-dark);
}

.color-grey-dark {
  color: var(--color-grey-dark);
}

.section-lightest {
  background-color: var(--color-brand-lightest);
}

.section-light {
  background-color: var(--color-brand-light);
}

.section-muted {
  background-color: var(--color-code);
}

.section-muted {
  background-color: var(--color-code-light);
}

.section-dark {
  background-color: var(--color-code-darkest);
}
