:root {
  --color-brand: #00deaf;
  --color-brand-dark: #00675a;
  --color-brand-dark-lightened: #2c8a7e;
  --color-brand-dark-semi-lightened: #25796e;
  --color-brand-light: #d1fff5;
  --color-brand-lightest: #e6ffff;

  --color-grey: #a8a6af;
  --color-grey-dark: #63666a;
  --color-grey-medium: #d9d8e3;
  --color-grey-light: #efefef;

  --color-link: #4484c2;

  --color-code-light: #f8f6f5;
  --color-code: #f5f2f0;
  --color-code-dark: #eeebe9;
  --color-code-dark-darker-mid: #eae7e6;
  --color-code-darker: #e6e3e2;
  --color-code-darker-darkest-mid: #e3e0de;
  --color-code-darkest: #dfdcda;
}

.brand {
  color: var(--color-brand);
}

.brand-dark {
  color: var(--color-brand-dark);
}

.color-grey {
  color: var(--color-grey);
}

.color-grey-dark {
  color: var(--color-grey-dark);
}

.section-lightest {
  background-color: var(--color-brand-lightest);
}

.section-light {
  background-color: var(--color-brand-light);
}

.section-brand {
  background-color: var(--color-brand);
}

.section-muted {
  background-color: var(--color-code);
}

.section-muted-medium {
  background-color: var(--color-code-dark);
}

.section-dark {
  background-color: var(--color-code-darkest);
}

.section-brand-dark-semi-lightened {
  background-color: var(--color-brand-dark-semi-lightened);
  color: #fff;
}

.section-brand-dark-semi-lightened a {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.section-brand-dark-semi-lightened a:hover,
.section-brand-dark-semi-lightened a:focus {
  border-color: #fff;
}
