.controls {
  position: relative;

  text-align: center;
}

.controls .btn {
  display: block;
}

@media only screen and (min-width: 38em) {

  .controls .btn {
    display: inline-block;
  }

  .controls-prev {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .controls-next {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

}
