.folders {
  margin-left: -12px;
  margin-right: -12px;

  background-color: var(--color-code);
  border-radius: 4px;
}

.folders li {
  padding-left: 12px;
  padding-right: 12px;
}

.folders li:nth-child(even) {
  background-color: var(--color-code-dark);
}

.folder-fade {
  opacity: .4;
}

.folder-indent-1 {
  padding-left: 16px;
}

.folder-indent-2 {
  padding-left: 32px;
}

.folder-indent-3 {
  padding-left: 48px;
}

.folder-indent-4 {
  padding-left: 64px;
}

.folder-notes {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
