.footer-wrap {
  background-color: var(--color-brand-dark);
  color: color(var(--color-brand) saturation(-60%));
}

.footer {
  text-align: center;
}

.footer a,
.footer .icon-link .icon-label {
  transition: all 50ms linear;
  border-color: rgba(0, 222, 175, .4); /* --color-brand */

  color: var(--color-brand);
}

.footer a:focus,
.footer a:hover,
.footer .icon-link:focus .icon-label,
.footer .icon-link:hover .icon-label {
  border-color: #fff;
  color: #fff;
}

.footer-links {
  line-height: 1.5;
}

.copyright {
  display: block;

  line-height: 1.5;
}

@media only screen and (min-width: 38em) {

  .footer {
    text-align: left;
  }

  .footer-links {
    text-align: right;
  }

}
