.footer-wrap {
  background-color: var(--color-brand-dark);
  color: color(var(--color-brand) saturation(-60%));
}

.footer {
  text-align: center;
}

.footer a {
  transition: all 50ms linear;
  color: var(--color-brand);
}

.footer a:hover {
  color: #fff;
}

.footer-links {
  line-height: 1.5;
}

.copyright {
  display: block;

  line-height: 1.5;
}

@media only screen and (min-width: 38em) {

  .footer {
    text-align: left;
  }

  .footer-links {
    text-align: right;
  }

}
