[title="and"] {
  font-style: italic;
}

.header-home {
  padding: 1.5rem 0;
}

.logo {
  display: block;
  height: auto;
  margin-bottom: 1.5rem;
  width: 150px;
}

.title-wrap {
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  line-height: 1;
}

.text-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.blurb {
  max-width: 15em;
}

.topics {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  max-width: 25em;
}

.topics > li {
}

.topic-heading {
  display: inline-block;
  border-radius: 3px;
  transition: all 100ms linear;
  color: var(--color-brand-dark);
}

.topic-heading:focus,
.topic-heading:hover {
  background-color: var(--color-brand);
  text-decoration: none;
}

.topic-heading-text {
  display: block;
}

.open {
  margin-bottom: 1.5rem;
}

.courses {
  text-align: center;
}

.courses-icon {
  display: block;
  height: 1.2em;
  margin: 0 auto;
  width: 1.2em;
}

.courses-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5em;
  max-width: 25em;
}

.courses-hr {
  border-color: var(--color-code-darker);
}

.link-btn {
  display: inline-block;
  padding: 0.3em 0.7em 0.4em 0.5em;
  transition: all 100ms linear;
  color: var(--color-link);
}

.link-btn:focus,
.link-btn:hover {
  background-color: var(--color-link);
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.photo {
  min-height: 200px;
  position: relative;
  background: none right top / cover no-repeat;
  border-radius: 3px;
}

.photo-copyright {
  bottom: 10px;
  left: 10px;
  position: absolute;

  border: 0;
  opacity: 0.6;

  color: #fff;
  font-size: 0.6rem;
  line-height: 1;
}

.photo:focus .photo-copyright,
.photo:hover .photo-copyright {
  opacity: 1;
}

.video {
  background-color: #333;
}

@media only screen and (min-width: 25em) {
  .logo {
    margin-left: 0;
    margin-right: 0;
    width: 200px;
  }

  .title {
    font-size: 3.5rem;
  }

  .bio {
    margin-right: 1.5rem;
  }

  .photo {
    background-position: calc(100% + 40px) top;
  }
}

@media only screen and (min-width: 38em) {
  .header-home {
    padding: 3rem 0;
  }

  .logo {
    margin-bottom: 2.25rem;
    width: 250px;
  }

  .title-wrap {
    padding-right: 0.75rem;
  }

  .title {
    margin-bottom: 0;
    font-size: 4.2rem;
  }

  .intro-wrap {
    padding-left: 1.5rem;
  }

  .courses-hr {
    display: none;
  }

  .ltw-logo {
    margin-bottom: 0;
    max-width: none;
  }

  .open {
    margin-bottom: 0;
    padding-right: 3em;
  }

  .photo {
    background-position: right top;
  }
}

@media only screen and (min-width: 48em) {
  .random {
    background: url("../images/random.svg") 93% center no-repeat;
  }
}

@media only screen and (min-width: 60em) {
  .logo {
    width: 300px;
  }

  .topics {
    max-width: none;
  }
}
