.lesson-desc {
  background-color: var(--color-brand-light);
}

.lesson-intro {
  max-width: 26em;
}

.lesson-title {
  padding-left: calc(48px + .4rem);
  position: relative;
}

.lesson-step-num {
  position: absolute;
  left: 3px;
  top: 0;
}

.lesson-body-final {
  background-color: var(--color-grey-medium);
}

.lesson-body-text {
  padding-left: calc(48px + .4rem);
  padding-right: 1rem;
  max-width: 30em;
}

.lesson-body-text img,
.lesson-body-text video {
  display: block;
  margin-left: calc((48px + .4rem) * -1);
  width: 100vw;
}

.lesson-body-text code {
  overflow-x: visible;

  white-space: pre-wrap;
}

.lesson-body-code:not(.code-can-copy) {
  user-select: none;
}

.lesson-body-code pre,
.lesson-body-code code {
  margin-left: 0;
  margin-right: 0;

  border-radius: 0;
}

.lesson-body-code pre,
.lesson-body-code pre[data-line] {
  padding-left: 3em;
}

.lesson-body-code pre::after {
  right: 0;
  width: 40px;
}

.lesson-body-code pre[data-file]::before {
  content: attr(data-file);
  left: 3rem;
  padding: 0 .4em;
  position: absolute;
  top: -.9rem;

  background-color: var(--color-code-darkest);
  border-radius: 4px;

  font-size: 60%;
  line-height: 2.1;
}

.line-faded {
  background-color: rgba(245, 242, 240, .6);
}

.line-faded::before,
.line-faded::after {
  display: none;
}

.code-continue-from-above,
.code-big-down-arrow {
  position: relative;

  background-color: transparent;
}

.code-continue-from-above::after,
.code-big-down-arrow::after {
  content: "Continuing code from earlier in this lesson…";
  display: inline-block;
  margin-left: .5rem;
  padding: 0 .7em;
  position: absolute;
  top: 50%;

  background-color: hsla(24, 20%, 50%, .15);
  border-radius: 4px;
  transform: translateY(-50%);

  color: #555;
  font-size: 70%;
  line-height: 2.1;
}

.code-continue-from-above:last-of-type:not(:first-of-type)::after {
  content: "Code completed earlier in this lesson…";
}

.code-big-down-arrow::after {
  content: "Make the following changes…";
}

.lesson-video {
  background-color: var(--color-code-darker);
}

.lesson-notes {
  background-color: var(--color-code-darker);
  border-bottom: 3px solid var(--color-code-darkest);
}

.lesson-notes-no-border {
  border-bottom: 0;
}

.lesson-notes-last,
.lesson-notes-final {
  border: 0;
}

.lesson-notes-final {
  background-color: var(--color-grey);
}

.lesson-note-label {
  background-color: var(--color-brand-dark);
  color: #fff;
}

.lesson-note-label-final {
  background-color: var(--color-grey-dark);
}

.lesson-note > div > ul {
  padding-left: 0;
}

.lesson-note > div > ol {
  padding-left: .8em;
}

.lesson-note hr {
  border-color: var(--color-code-darkest);
}

.play-btn {
  left: calc(48px + .4rem);;
  position: absolute;
  top: 50%;
  z-index: 2;

  border: 0;
  transition: all 50ms linear;
  transform: translateY(-50%);

  color: #fff;
}

.play-btn:focus,
.play-btn:hover {
  color: var(--color-brand);
  text-decoration: none;
}

.play-icon {
  height: 80px;
  margin-right: 0.5em;
  width: 80px;
}

.play-icon-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 6em;
  line-height: 1.2;
}

.video-container {
  position: relative;
  background-color: var(--color-brand-dark);
  border-bottom: 0;
}

.video-embed {
  overflow: hidden;
  min-height: 180px;
  width: 100%;

  transition: all 200ms linear;
  transform: translateZ(0);
}

.video-embed-item {
  transition: all 100ms linear;
}

.video-embed-item-loading {
  opacity: 0;
}

.embed--5by1 {
  padding-top: 20%;
}

.lesson-video {
  background-color: var(--color-brand-dark-lightened);
}

.lesson-notes-video {
  padding: 0;

  background-color: var(--color-brand-dark-lightened);
  border: 0;

  color: #fff;
}

.lesson-body-table {
  padding-left: calc(48px + .4rem);
}

.lesson-body-table table :last-child {
  margin-bottom: 0;
}

.extra-tutorials {
  background-color: var(--color-brand-dark-lightened);
  border-bottom: 0;

  color: #fff;
}

.extra-tutorials-sidebar {
  background-color: var(--color-brand-dark-semi-lightened);
}

.extra-tutorials .lesson-body {
  padding-left: calc(48px + .4rem);
}

.extra-tutorials a {
  color: #fff;
  border-color: rgba(255,255,255,.3);
}

.extra-tutorials a:focus,
.extra-tutorials a:hover {
  border-color: rgba(255,255,255,1);
}

.lesson-body-image-steps {
  /*padding-bottom: 2em;*/
  position: relative;
}

.image-step {
  /*position: relative;*/
}

.image-step-prev,
.image-step-next {
  display: none;
  padding: 8px 0;
  position: absolute;
  left: 0;
  top: calc(50% - 32px);

  background-color: rgba(0,0,0,0.8);
  border-radius: 0 6px 6px 0;
  cursor: pointer;

  color: #fff;
}

.image-step:first-child .image-step-prev,
.image-step:last-child .image-step-next {
  display: none;
  visibility: hidden;
}

.image-step-next {
  left: auto;
  right: 0;

  border-radius: 6px 0 0 6px;
}

.image-step-img {
  display: none;
  width: 100%;
}

.image-step-btn {
  bottom: -24px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  width: 16px;

  background-color: #fff;
  border: 3px solid var(--color-grey-dark);
  border-radius: 50%;
  cursor: pointer;

  text-indent: 100%;
  white-space: nowrap;
}

.image-step-control {
  position: absolute;
  left: -10em;
}

.image-step-control:checked ~ .image-step-img {
  display: block;
}

.image-step-control:checked ~ .image-step-btn {
  background-color: var(--color-grey-dark);
}

.image-step-control:checked ~ .image-step-prev,
.image-step-control:checked ~ .image-step-next {
  display: block;
}

.image-step:nth-child(1) .image-step-btn {
  left: calc(48px + .4rem);
}

.image-step:nth-child(2) .image-step-btn {
  left: calc(48px + .4rem + (22px * 1));
}

.image-step:nth-child(3) .image-step-btn {
  left: calc(48px + .4rem + (22px * 2));
}

.image-step:nth-child(4) .image-step-btn {
  left: calc(48px + .4rem + (22px * 3));
}

.image-step:nth-child(5) .image-step-btn {
  left: calc(48px + .4rem + (22px * 4));
}

.image-step:nth-child(6) .image-step-btn {
  left: calc(48px + .4rem + (22px * 5));
}

.image-step:nth-child(7) .image-step-btn {
  left: calc(48px + .4rem + (22px * 6));
}

.image-step:nth-child(8) .image-step-btn {
  left: calc(48px + .4rem + (22px * 7));
}

.image-step:nth-child(9) .image-step-btn {
  left: calc(48px + .4rem + (22px * 8));
}

.image-steps {

}

.image-steps ul,
.image-steps ol,
.image-steps p {
  margin: 0;
}

.image-steps-label {
  display: block;
  margin-left: -.2em;
  padding: 0 .2em;

  border-radius: 4px;
  cursor: pointer;
}

.image-steps-label:focus,
.image-steps-label:hover,
.image-steps-label-active {
  background-color: var(--color-code-darker);
}

.pair-intro {
  position: relative;
}

.pair-intro::before {
  content: " ";
  height: 42px;
  left: -48px;
  position: absolute;
  width: 42px;

  background: transparent url("images/switch.svg") no-repeat left top / 42px auto;
}

.red-sticky {
  background-color: #fb3a64;
}

.yellow-sticky {
  background-color: #ffd30d;
  color: #333;
}

.green-sticky {
  background-color: #58d439;
  color: #333;
}

@media only screen and (min-width: 38em) {

  .lesson-body {
    border-bottom: 3px solid var(--color-grey-light);
  }

  .lesson-body-no-border {
    border-bottom: 0;
  }

  .lesson-body-text img,
  .lesson-body-text video {
    width: calc(100vw - (100vw / 3));
  }

  .lesson-body-final,
  .lesson-body-last {
    border: 0;
  }

  .lesson-notes {
    padding-top: 4.1rem;
  }

  .lesson-step-num {
    top: .25em;
  }

  .lesson-step-markbot {
    top: .15em;
  }

  .video-container {
    border: 0;
  }

  .lesson-notes-video {
    padding: 0;
  }

  .extra-tutorials {
    border-bottom: 0;
  }

}
