.masthead-wrap {
  background-color: var(--color-brand);
}

.masthead {
  border-bottom: 2px solid rgba(0,103,90,0.3);
}

.logo {
  display: block;
  margin: 0.25em auto 0.75rem;
  width: 100px;

  border-bottom: 0;
}

.contents-link {
  display: inline-block;
  margin-top: 0.1em;
}

.masthead-micro {
  padding-bottom: .6rem;

  background-color: var(--color-brand);

  text-align: center;
}

.masthead-micro .logo {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.nav-current {
  background-color: var(--color-brand-light);
  border-color: var(--color-brand-light);
}

@media only screen and (min-width: 38em) {

  .logo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .masthead-micro {
    text-align: right;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    height: 38px;
    width: 140px;
  }

  .masthead-micro {
    padding-bottom: 0;

    text-align: left;
  }

  .masthead-next {
    text-align: right;
  }

}
