[data-control] > * {
  pointer-events: none;
}

.ltw-logo {
  margin-bottom: 1.5rem;
  max-width: 200px;
}

.btn-alg {
  background-color: #0f663f;
  border-color: #94c947;
  color: #94c947;
}

.btn-alg:focus,
.btn-alg:hover {
  background-color: #94c947;
  border-color: #94c947;
}

.btn-alg-dark {
  background-color: transparent;
  border-color: #0f663f;
  color: #0f663f;
}

.markbot {
  background-color: #4d4691;

  color: #fff;
}

.markbot-link-list > li::after {
  content: "·";
  display: inline-block;
  margin-left: 0.2em;
  width: 0.7em;

  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.markbot-link-list > li:last-child::after {
  content: none;
  display: none;
}

.markbot-link {
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
  color: #9e99c8;
}

.markbot-link:hover {
  border-color: #fff;
  color: #fff;
}

.btn-markbot {
  /* background-color: #0f663f; */
  border-color: #c2bee4;
  color: #fff;
  white-space: nowrap;
}

.btn-markbot:focus,
.btn-markbot:hover {
  background-color: #fff;
  border-color: #fff;
  color: #4d4691;
}

@media only screen and (min-width: 60em) {
  .markbot-icon {
    text-align: center;
  }

  .markbot-btn {
    text-align: right;
  }
}
