@media print {

  .masthead-wrap,
  .simple-nav-wrap,
  .downloads,
  .tutorial-nav,
  .play-btn,
  .footer-wrap {
    display: none;
  }

  .cheatsheet-header {
    background-color: transparent;
  }

  body {
    border-top: 0;
  }

  .wrapper {
    max-width: none;
  }

  .tutorial h1 {
    position: static;
  }

  .cheat-section {
    clear: both;
    page-break-before: always;
  }

  .cheat-section:first-of-type {
    page-break-before: auto;
  }

  .cheat-list .unit {
    float: left;
    width: 33.333%;
  }

  .check-box ~ .check-label::before {
    top: 0;
    border: 2px solid black;
  }

  .check-box:checked ~ .check-label::before {
    content: "✔";
  }

  .card-placeholder,
  .card-subtle,
  .card-btn {
    display: none;
  }

  code,
  pre,
  samp,
  kbd,
  code[class*="language-"],
  pre[class*="language-"],
  pre > code {
    white-space: pre-wrap !important;
  }

  .code-continue-from-above::after,
  .code-big-down-arrow::after,
  .code-continue-from-above:last-of-type:not(:first-of-type)::after,
  .code-big-down-arrow::after {
    content: none !important;
  }

}
