.slide-deck {
  overflow-y: hidden;
  border-top: 0;
}

.slide-deck .masthead-micro {
  position: relative;
  z-index: 1000;

  border-top: 4px solid var(--color-brand-dark);
}

.slide {
  display: none;
  position: relative;
}

.slide:target {
  display: flex;
  align-items: center;
}

.slide-start {
  display: flex;
  align-items: center;
}

.slide:target ~ .slide-start {
  display: none;
}

.slide-nav {
  position: absolute;
  bottom: -3rem;
  right: 0;
  width: 100%;
  z-index: 1100;

  text-align: center;
}

.slide img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: calc(100vh - 4em);
}

.slide video {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.big-text {
  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.super-big {
  font-size: 2.5657rem;
  line-height: 3.75rem;
}

.slide-full,
.slide-interactive {
  left: calc(((100vw - 50rem) / 2) * -1);
  position: absolute;
  width: 100vw;
}

.slide-full {
  transform: translateY(-50%);
}

.slide-interactive {
  bottom: 0;
  top: 0;
}

.slide-code {
  background-color: var(--color-code);
}

.slide-code pre {
  margin: 0;

  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.slide-code pre::after {
  right: 0;
}

.slide-code__label {
  display: inline-block;
  padding: 0 .4em;

  background-color: var(--color-code-darkest);
  border-radius: 4px;

  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.slide-preview {
  height: 100%;
  position: relative;
}

iframe {
  border: 0;
  height: calc(100% - 3em);
  left: 1.5em;
  position: absolute;
  top: 1.5em;
  width: calc(100% - 3em);
}

.slide-preview img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-resizeable {
  padding-left: 8px;
  position: relative;
}

.slide-resize-handle {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;

  background: none no-repeat center center / calc(100% - 2px) auto var(--color-code-darkest);
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 84 256' fill='#a8a6af'><circle cx='42' cy='52.7' r='27.7'/><circle cx='42' cy='128' r='27.7'/><circle cx='42' cy='203.3' r='27.7'/></svg>");
  cursor: col-resize;
}

.slide--disable-highlighting {
  pointer-events: none;
  user-select: none;
}

@media only screen and (min-width: 38em) {

  .slide-deck .masthead {
    padding-top: 0;
  }

  .slide-nav {
    text-align: right;
  }

  .slide h2 {
    font-size: 3.2473rem;
    line-height: 4.5rem;
  }

  .slide h3 {
    font-size: 2.5657rem;
    line-height: 3.75rem;
  }

  .big-text {
    font-size: 2.2807rem;
    line-height: 3.0000rem;
  }

  .super-big {
    font-size: 5.2015rem;
    line-height: 7.125rem;
  }

}
