.slide-deck-masthead-bottom {
  display: none;
}

.slide-deck-masthead-bottom nav {
  display: none;
}

.full-screen-shortcut {
  top: 2em;
  left: 50%;
  position: absolute;
  z-index: 3000;

  animation: btn-fade-out .5s linear 3s forwards;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 8px;
  transform: translateX(-50%);

  color: #fff;
}

@keyframes btn-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-deck {
  overflow-y: hidden;
  border-top: 0;
}

.slide-deck .masthead-micro {
  position: relative;
  z-index: 1000;

  border-top: 4px solid var(--color-brand-dark);
}

.slide {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  position: relative;

  border-bottom: 2px solid var(--color-grey-light);
}

.slide:last-of-type {
  border-bottom: 0;
}

.slide:target {
  display: flex;
  align-items: center;
}

.slide-start {
  display: none;
  align-items: center;
}

.slide-nav {
  display: none;
  position: absolute;
  bottom: -3rem;
  right: 0;
  width: 100%;
  z-index: 1100;

  text-align: center;
}

.slide img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: calc(100vh - 4em);
}

.slide video {
  display: block;
  margin: 0 auto;
}

.slide-figure {
  height: calc(100vh - 4em);
}

.slide .slide-figure-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.slide video.slide-figure-img {
  /* Hack: chop off the black bar at the bottom in Chrome */;
  transform: translate(-50%, -50%) scale(1.01);
}

.slide-figure figcaption * {
  margin-bottom: 0;
}

.big-text {
  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.super-big {
  font-size: 2.5657rem;
  line-height: 3.75rem;
}

.slide-full,
.slide-interactive {
  width: 100%;
}

.slide-code {
  margin-bottom: 1.3rem;
  background-color: var(--color-code);
  overflow-y: auto;
}

.slide-code-before {
  margin-left: 0;
  margin-right: 0;
}

.slide-code pre {
  margin: 0;

  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.slide-code pre::after {
  right: 0;
}

.slide-code-label {
  display: inline-block;
  padding: 0 .4em;

  background-color: var(--color-code-darkest);
  border-radius: 4px;

  font-size: 1.2148rem;
  line-height: 1.6250rem;
}

.slide-preview {
  height: 100%;
  position: relative;
}

iframe {
  border: 0;
  height: 20em;
  width: 100%;
}

.slide-preview img {
  position: static;
}

.slide-resizable {
  padding-left: 8px;
  position: relative;
}

.slide-resize-handle {
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;

  background: none no-repeat center center / calc(100% - 2px) auto var(--color-code-darkest);
  background-image: inline("../images-embed/resize-handle.svg");
  cursor: col-resize;
}

.slide--disable-highlighting {
  pointer-events: none;
  user-select: none;
}

.slide input,
.slide label {
  vertical-align: middle;
}

.slide-checkerboard {
  background: none repeat left top / 32px 32px #e2e2e2;
  background-image: inline("../images-embed/checkerboard.svg");
}

.slide-numbered {
  bottom: -0.8em;
  width: 1.6em;
  z-index: 1100;

  background-color: #000;
  border-radius: 50em;

  color: #fff;
  line-height: 1.6em;
}

.slide .slide-countdown {
  appearance: none;

  font-size: 6rem;
  line-height: 1;
}

@media only screen and (min-width: 60em) {

  .slide .slide-countdown {
    font-size: 14rem;
  }

}

.hide-show-control {
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px;
}

.slide-notes {
  margin-bottom: 1.3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
}

.hide-show-control:checked ~ .slide-notes {
  display: block;
}

.slide-notes pre,
.slide-notes code {
  background-color: rgba(255, 255, 255, .2);
}

.slide-notes pre::after {
  display: none;
}

.slide-notes pre code {
  background-color: transparent;
}

.slide-notes a {
  color: #fff;
  border-color: rgba(255, 255, 255, .4);
}

.slide-notes a:hover {
  border-color: #fff;
}

.hide-show-btn {
  display: none;
  right: .5em;
  position: absolute;
  top: .5em;
  z-index: 800;

  cursor: pointer;
}

.notes-hide {
  display: none;
}

.hide-show-control:checked ~ .hide-show-btn .notes-show {
  display: none;
}

.hide-show-control:checked ~ .hide-show-btn .notes-hide {
  display: inline-block;
}

.slide-notes-code-line {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.slide-notes-code-line:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.slide-notes-code-line-title::before {
  content: "—";
  position: absolute;
  right: calc(100% + .25em);
}

.slide-notes-code-line:last-child :last-child {
  /* margin-bottom: 0; */
}

@media only screen and (min-width: 60em) {

  .slide-deck .masthead {
    padding-top: 0;
  }

  .slide-nav {
    text-align: right;
  }

  .slide h2 {
    font-size: 3.2473rem;
    line-height: 4.5rem;
  }

  .slide > :not(.slide-notes) h3 {
    font-size: 2.5657rem;
    line-height: 3.75rem;
  }

  .big-text {
    font-size: 2.2807rem;
    line-height: 3.0000rem;
  }

  .super-big {
    font-size: 5.2015rem;
    line-height: 7.125rem;
  }

  .slide-deck-masthead-top {
    display: none;
  }

  .slide-deck-masthead-bottom {
    display: block;
  }

  .slide {
    display: none;
    flex-direction: row;
    margin-bottom: 0;

    border-bottom: 0;
  }

  .slide-start {
    display: flex;
  }

  .slide:target ~ .slide-start {
    display: none;
  }

  .slide-nav {
    display: block;
  }

  .slide-full,
  .slide-interactive {
    left: 0;
    position: absolute;
    width: 100vw;
  }

  .slide-full {
    top: 50%;
    transform: translateY(-50%);
  }

  .slide-interactive {
    bottom: 0;
    top: 0;
  }

  .slide-code {
    margin-bottom: 0;
  }

  iframe {
    height: calc(100% - 3em);
    left: 1.5em;
    position: absolute;
    top: 1.5em;
    width: calc(100% - 3em);
  }

  .slide-preview img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .slide-resize-handle {
    display: block;
  }

  .slide-notes {
    bottom: 0;
    display: none;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20em;
    z-index: 799;
  }

  .hide-show-btn {
    display: block;
  }

}

@media print {

  .slide-deck .masthead-micro {
    border: 0;
  }

}
