html {
  overflow-x: hidden;
  color: #333;
  font-family: "Trebuchet MS",Arial,sans-serif;
}

.alegreya-loaded {
  font-family: "Alegreya Sans","Trebuchet MS",Arial,sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;

  border-top: 4px solid var(--color-brand-dark);
}

.body-no-border {
  border-top: 0;
}

.font-os {
  font-family: sans-serif !important;
}

svg {
  stroke: currentColor;
}

a,
.icon-link .icon-label {
  border-bottom: 0.1em solid rgba(68, 132, 194, .4);

  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus,
.icon-link:hover .icon-label,
.icon-link:focus .icon-label {
  border-color: var(--color-link);
}

a:not([href]),
.link-disabled {
  pointer-events: none;

  opacity: .5;
}

.link-subtle {
  border-bottom: 0.1em solid rgba(99, 102, 106, .4);

  color: currentColor;
}

.link-subtle:hover,
.link-subtle:focus {
  border-color: var(--color-grey-dark);
}

hr {
  border-color: var(--color-grey-light);
  border-width: 3px;
}

.hr-medium {
  border-color: var(--color-code-darker);
}

.hr-full {
  left: -50vw;
  position: relative;
  width: 150vw;
}

table {
  table-layout: fixed;
}

td, th {
  border-color: var(--color-grey-medium);
}

[data-state="disabled"] {
  cursor: no-drop;
  opacity: .6;
  pointer-events: none;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
  max-width: 33em;
}

.main-fill {
  /* Viewport - masthead (logo height, border, margins) */
  min-height: calc(100vh - 42px - 1.2rem);
}

.header {
  background-color: var(--color-brand);
}

.header--light {
  background-color: var(--color-brand-light);
}

.intro {
  max-width: 26em;
}

.top-nav {
  text-align: center;
}

nav a:active,
nav a:focus {
  position: relative;
  z-index: 10;
}

.i-20 {
  height: 20px;
  width: 20px;
}

.i-shift-right {
  margin-right: -0.4em;
}

.i-shift-left {
  margin-left: -0.4em;
}

.algonquin {
  background-color: #0f663f;

  color: #fff;
}

.algonquin--inner {
  background-color: var(--color-code-darkest);

  color: #333;
}

.acgd-logo {
  margin-bottom: 1.5rem;
  max-width: 200px;
}

.alg-blurb {

}

.text-disabled {
  color: var(--color-grey-dark);
}

.link-box-no-mark {
  border-bottom: 0;
}

.week-video-checked {
  cursor: help;
}

[role="tablist"][hidden] + hr {
  display: none;
}

@media only screen and (min-width: 38em) {

  .top-nav {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 50em;
  }

  ol {
    padding-left: 0;
  }

}
