.topic-section:focus {
  outline: none;
}

.topic-wrap {
  position: relative;
  padding-left: 1.5rem;
}

.topic-heading {
  margin-left: -1.5rem;

  color: var(--color-brand-dark);
  text-align: center;
}

.topic-heading a {
  display: block;

  color: var(--color-brand-dark);
}

.topic-heading-text {
  display: block;
  margin: 0 auto;
}

.page-nav > ol {
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
  min-width: 12em;

  background-color: var(--color-brand-dark);
  border-radius: 8px 0 8px 8px;

  text-align: right;
}

.page-nav .nav-check:checked ~ ol {
  display: block;
}

.page-nav .nav-label {
  transition: background-color 100ms linear, color 100ms linear, border-color 100ms linear;
}

.page-nav .nav-check:checked ~ .nav-label {
  background-color: var(--color-brand-dark);
  border-color: var(--color-brand-dark);
  border-radius: 8px 8px 0 0;
  color: #fff;
}

.page-nav .nav-check:focus ~ .nav-label {
  outline: 3px solid #000;
}

.page-nav a {
  display: block;
  padding: 0.4em calc(0.75em + 3px) 0.5em;

  border-bottom: 0;
  transition: all 100ms linear;

  color: #fff;
  text-decoration: none;
}

.page-nav li:first-child a {
  border-radius: 8px 0 0 0;
}

.page-nav li:last-child a {
  border-radius: 0 0 8px 8px;
}

.page-nav a:focus,
.page-nav a:hover {
  background-color: #fff;
  color: var(--color-brand-dark);
}

.topics {
  margin-left: -22px;
  min-height: 9em;
  padding-left: 2px;
  position: relative;

  background: none 10px top / 3px 10px repeat-y;
  background-image: inline("../images-embed/topics-vert-line-1.svg");
}

.topics::before,
.topics::after {
  content: " ";
  left: 7px;
  height: 0.8em;
  position: absolute;
  top: 0;
  width: 10px;

  background-color: #fff;
}

.topics::after {
  bottom: 0;
  top: auto;
}

.topics > li {
  padding-left: 20px;
  position: relative;
  z-index: 5;
}

.topics > li:target {
  border-radius: 3px;
  background-color: hsla(24,7%,70%,0.3);
}

.topics a[data-visited] {
  position: relative;
}

.topics a[data-visited]::after {
  content: " ";
  left: -14px;
  height: 12px;
  position: absolute;
  top: 2px;
  z-index: 100;
  width: 12px;

  background: none center center / cover no-repeat transparent;
  background-image: inline("../images-embed/topics-check.svg");

  color: var(--color-grey);
  font-size: 15px;
}

.topic-flag::after {
  display: none;
  margin-left: 0.7em;
  padding: 0.2em 0.4em 0.1em;
  position: relative;
  top: -0.1em;

  border-radius: 3px;
  background-color: hsla(24,7%,70%,0.3);

  color: rgba(0,0,0,0.4);
  font-size: 0.6em;
  text-transform: uppercase;
}

.topic-fullsite::after {
  content: "Full website";
}

.topic-cheatsheet::after {
  content: "Cheat sheet";
}

.topic-checklist::after {
  content: "Checklist";
}

.topic-tool::after {
  content: "Tool";
}

.topic-disabled::after {
  content: none;
  display: none;
}

.topic-text {
  display: block;
  position: relative;

  border-width: 0;
}

.topic-text:focus,
.topic-text:hover {
  border-width: 0.1em;
}

.topic-text-content {
  display: block;
  overflow: hidden;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.topic-disabled {
  color: rgba(0,0,0,0.2);
}

.topic-text::before {
  content: " ";
  height: 22px;
  left: -21px;
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  z-index: 3;

  background: none center center / cover no-repeat transparent;
  background-image: inline("../images-embed/topics-circle-1.svg");
}

.topic-section-2,
.topic-section-2 .topics::before,
.topic-section-2 .topics::after {
  background-color: var(--color-code-light);
}

.topic-section-2 .topics {
  background-image: inline("../images-embed/topics-vert-line-2.svg");
}

.topic-section-2 .topic-text::before {
  background-image: inline("../images-embed/topics-circle-2.svg");
}

.topic-section-3,
.topic-section-3 .topics::before,
.topic-section-3 .topics::after {
  background-color: var(--color-code);
}

.topic-section-3 .topics {
  background-image: inline("../images-embed/topics-vert-line-3.svg");
}

.topic-section-3 .topic-text::before {
  background-image: inline("../images-embed/topics-circle-3.svg");
}

.topic-section-4,
.topic-section-4 .topics::before,
.topic-section-4 .topics::after {
  background-color: var(--color-code-dark);
}

.topic-section-5,
.topic-section-5 .topics::before,
.topic-section-5 .topics::after {
  background-color: var(--color-code-dark-darker-mid);
}

.topic-section-4 .topics,
.topic-section-5 .topics {
  background-image: inline("../images-embed/topics-vert-line-4.svg");
}

.topic-section-4 .topic-text::before,
.topic-section-5 .topic-text::before {
  background-image: inline("../images-embed/topics-circle-4.svg");
}

.topic-section-6,
.topic-section-6 .topics::before,
.topic-section-6 .topics::after {
  background-color: var(--color-code-darker);
}

.topic-section-7,
.topic-section-7 .topics::before,
.topic-section-7 .topics::after {
  background-color: var(--color-code-darker-darkest-mid);
}

.topic-section-6 .topics,
.topic-section-7 .topics {
  background-image: inline("../images-embed/topics-vert-line-5.svg");
}

.topic-section-6 .topic-text::before,
.topic-section-7 .topic-text::before {
  background-image: inline("../images-embed/topics-circle-5.svg");
}

.topic-section-8,
.topic-section-8 .topics::before,
.topic-section-8 .topics::after {
  background-color: var(--color-code-darkest);
}

.topic-section-8 .topics {
  background-image: inline("../images-embed/topics-vert-line-6.svg");
}

.topic-section-8 .topic-text::before {
  background-image: inline("../images-embed/topics-circle-6.svg");
}

.topics .indent1,
.topics .indent2 {
  padding-left: 38px;

  background: none 9px center / 18px 3px no-repeat transparent;
  background-image: inline("../images-embed/topics-indent-line-1.svg");
}

.topics .indent2 {
  padding-left: 54px;

  background-size: 36px 3px;
}

.topic-section-2 .indent1,
.topic-section-2 .indent2 {
  background-image: inline("../images-embed/topics-indent-line-2.svg");
}

.topic-section-3 .indent1,
.topic-section-3 .indent2 {
  background-image: inline("../images-embed/topics-indent-line-3.svg");
}

.topic-section-4 .indent1,
.topic-section-4 .indent2,
.topic-section-5 .indent1,
.topic-section-5 .indent2 {
  background-image: inline("../images-embed/topics-indent-line-4.svg");
}

.topic-section-6 .indent1,
.topic-section-6 .indent2,
.topic-section-7 .indent1,
.topic-section-7 .indent2 {
  background-image: inline("../images-embed/topics-indent-line-5.svg");
}

.topic-section-8 .indent1,
.topic-section-8 .indent2 {
  background-image: inline("../images-embed/topics-indent-line-6.svg");
}

.topic-section-border {
  border-color: #cecece;
  opacity: .5;
}

.search {
  background-color: var(--color-brand-light);
}

.search-label {
  display: block;
}

.search-input {
  display: block;
  padding: 0.2em 0.4em 0.2em 1.4em;
  width: 100%;

  background: none 0.2em center / auto 70% no-repeat rgba(255,255,255,0.7);
  background-image: inline("../images-embed/search.svg");
  border: 2px solid var(--color-brand);
  border-radius: 8px;

  font-family: inherit;
}

.search-input:focus {
  outline: none;
  background-color: #fff;
  border-color: var(--color-brand-dark);
}

::-webkit-input-placeholder {
   color: var(--color-grey);
}

::-moz-placeholder {
   color: var(--color-grey);
}

:-ms-input-placeholder {
   color: var(--color-grey);
}

.course-btn {
  color: var(--color-grey-dark);
}

.course-btn-icon {
  height: 48px;
  width: 48px;

  background-color: var(--color-grey);
  border-radius: 50%;

  color: #fff;
  line-height: 48px;
}

.course-btn:focus,
.course-btn:hover {
  color: #000;
}

.course-btn:focus .course-btn-icon,
.course-btn:hover .course-btn-icon {
  background-color: var(--color-grey-dark);
}

.activity-list {
  min-height: 6em;
}

@media only screen and (min-width: 38em) {

  .topic-wrap {
    padding-left: 6rem;
  }

  .topic-heading {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 2.4em;

    transform: translateY(-50%);
  }

  .topic-heading-text {
    width: 100%;
  }

  .topics a[data-visited]::after {
    height: 13px;
    width: 13px;
  }

  .topic-text {
    display: inline;
  }

  .topic-text-content {
    display: inline;
    width: auto;
  }

  .topic-flag::after {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .topics a[data-visited]::after {
    height: 14px;
    width: 14px;
  }

}
