.week-list {

}

.week-list > li {
  padding-left: 52px;
  position: relative;
}

.week-list-icon {
  left: 0;
  position: absolute;
  top: .3em;
}

.week-list-tasks > li::after {
  content: "·";
  display: inline-block;
  width: .8em;

  text-align: center;
}

.week-list-tasks > .week-list-tasks-outside::after {
  content: "—";
  width: 1.4em;
}

.week-list-tasks > li:last-child::after {
  content: none;
}
