.week-list {

}

.week-list > li {
  padding-left: 52px;
  position: relative;
}

.week-list-icon {
  left: 0;
  position: absolute;
  top: .3em;
}

/*
  Bug fix
  Safari gets mad at the week list being `display: inline-block` after the HTML is minified
  Switching it to `display: flex` seems to solve the problem
*/

.week-list-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.week-list-tasks > li {
  display: block;
}

.week-list-tasks > li::after {
  content: "·";
  display: inline-block;
  width: .8em;

  text-align: center;
}

.week-list-tasks + .week-list-tasks-outside > li:first-child::before {
  content: "—";
  display: inline-block;
  margin-left: 0;
  width: 1.4em;

  text-align: center;
}

.week-list-tasks > li:last-child::after {
  content: none;
}

@media only screen and (min-width: 60em) {

  .week-list-tasks-group {
    display: flex;
    flex-direction: row;
  }

}
