.class {

}

.class-heading {
  border-bottom: 3px solid var(--color-code-darkest);
}

.class-outside {
  background-color: var(--color-code);
}

.class-desc {

}

.hours {
  columns: 3;
}

.card:target {
  outline: 3px solid #000;
}
