<div class="slide-interactive grid grid-stretch">
  <div class="unit [ xs-1 ] slide-code island unit-content-distribute">
    {% if include.data.before %}
      <div class="wrapper slide-code-before">
        {{include.data.before | markdownify}}
      </div>
    {% endif %}
    <div class="content-fill">
      {% if include.data.url %}
        <span class="slide-code-label">URL</span>
        <pre><code>{{include.data.url}}</code></pre>
      {% endif %}
      {% if include.data.markdown %}
        <span class="slide-code-label">Markdown</span>{% if include.data.markdown_file %} <samp>{{include.data.markdown_file}}</samp>{% endif %}
        <pre class="language-markdown" data-line="{% if include.data.markdown_lines[0] %}{% for line in include.data.markdown_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.markdown_lines}}{% endif %}"><code class="language-markdown">{{include.data.markdown | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.yaml %}
        <span class="slide-code-label">YAML</span>{% if include.data.yaml_file %} <samp>{{include.data.yaml_file}}</samp>{% endif %}
        <pre class="language-yaml" data-line="{% if include.data.yaml_lines[0] %}{% for line in include.data.yaml_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.yaml_lines}}{% endif %}"><code class="language-yaml">{{include.data.yaml | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.html %}
        <span class="slide-code-label">HTML</span>{% if include.data.html_file %} <samp>{{include.data.html_file}}</samp>{% endif %}
        <pre class="language-html" data-line="{% if include.data.html_lines[0] %}{% for line in include.data.html_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.html_lines}}{% endif %}"><code class="language-html">{{include.data.html | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.svg %}
        <span class="slide-code-label">HTML</span>{% if include.data.svg_file %} <samp>{{include.data.svg_file}}</samp>{% endif %}
        <pre class="language-svg" data-line="{% if include.data.svg_lines[0] %}{% for line in include.data.svg_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.svg_lines}}{% endif %}"><code class="language-xml">{{include.data.svg | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.css %}
        <span class="slide-code-label">CSS</span>{% if include.data.css_file %} <samp>{{include.data.css_file}}</samp>{% endif %}
        <pre class="language-css" data-line="{% if include.data.css_lines[0] %}{% for line in include.data.css_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.css_lines}}{% endif %}"><code class="language-css">{{include.data.css | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.js %}
        <span class="slide-code-label">Javascript</span>{% if include.data.js_file %} <samp>{{include.data.js_file}}</samp>{% endif %}
        <pre class="language-js" data-line="{% if include.data.js_lines[0] %}{% for line in include.data.js_lines %}{{line.num}},{% endfor %}{% else %}{{include.data.js_lines}}{% endif %}"><code class="language-js">{{include.data.js | xml_escape}}</code></pre>
      {% endif %}
      {% if include.data.css_hidden %}
        <textarea class="css-hidden" hidden>{{include.data.css_hidden | xml_escape}}</textarea>
      {% endif %}
    </div>
  </div>
</div>
