<div class="text-center w-1">
  <h2 class="slide-countdown push-2" id="slide-countdown-{{include.id}}" data-countdown-minutes="{{include.data.minutes}}">{{include.data.minutes}}:00</h2>
  <ul class="list-group-inline">
    <li class="gutter-1-4"><button class="btn slide-countdown-btn-start" aria-controls="slide-countdown-{{include.id}}" data-state="stopped" data-text-start="Start" data-text-pause="Pause">Start</button></li>
    <li class="gutter-1-4"><button class="btn btn-ghost slide-countdown-btn-reset" aria-controls="slide-countdown-{{include.id}}">Reset</button></li>
  </ul>
</div>
