<aside class="section-brand-dark-semi-lightened pad-t-1-2 pad-b-1-2 no-print">
  <div class="grid grid-middle wrapper gutter-1-4 pad-t-1-2 pad-b-1-2">
    <div class="unit [ xs-1 m-1-2 ] gutter-1-4">
      <h2 class="push-1-2">Cheat sheets &amp; checklists</h2>
      <p class="push-0">Want a quick review with just a list of all the cheat sheets, checklists & flowcharts on the website? Here it is!</p>
    </div>
    <div class="unit [ xs-1 m-1-2 ] gutter-1-4 pad-t-1-2 pad-b-1-2 m-right">
      <a class="btn btn-ghost" href="/topics/cheat-sheets-checklists/">See all the cheat sheets &amp; checklists</a>
    </div>
  </div>
</aside>
