<tr>
  <th class="normal" scope="row" colspan="12">
    <a class="href-no-print {% if include.prefix contains 'Project' %}icon-link{% endif %}" href="{{include.url}}{% if include.slug and include.slug != "" %}#{{include.slug}}{% endif %}" {% if include.disabled %}data-state="disabled"{% endif %}>
      {% if include.prefix contains "Project" %}
        <span class="icon-label">{{include.prefix}}: {{include.title}}</span>
        <i class="icon i-16"><svg><use xlink:href="#icon-star"></use></svg></i>
      {% else %}
        {{include.prefix}}: {{include.title}}
      {% endif %}
    </a>
  </th>
  <td colspan="3">{{include.value}}%</td>
  <td colspan="4"><a class="href-no-print" href="{{include.url}}">{{include.week}}</a></td>
  <td colspan="5">{{include.clrs}}</td>
</tr>
