{% assign submit_code = "Submit with Markbot." %}
{% assign submit_show = "Show teacher for marks." %}
{% assign submit_online = "Submit to Canvas for marks." %}

{% assign button_pair = "Code together" %}
{% assign button_lesson = "Follow lesson" %}
{% assign button_activity = "Do activity" %}
{% assign button_print = "Print & draw" %}
{% assign button_materials = "See materials" %}
{% assign button_online = "Submit online" %}
{% assign button_code = "Write code" %}

{% case include.data.type %}
  {% when "lesson" %}
    {% assign icon="steps" %}
    {% assign submit=submit_show %}

    {% if include.data.pair %}
      {% assign button=button_pair %}
    {% else %}
      {% assign button=button_lesson %}
    {% endif %}
  {% when "activity" %}
    {% assign icon="victory" %}
    {% assign submit=submit_show %}
    {% assign button=button_activity %}
  {% when "paper" %}
    {% assign icon="pencil" %}
    {% assign submit=submit_show %}
    {% assign button=button_print %}
  {% when "next" %}
    {% assign icon="infiniti" %}
    {% assign button=button_materials %}
  {% when "basic" %}
    {% assign icon="star" %}
    {% assign submit=submit_online %}
    {% assign button=button_online %}
  {% else %}
    {% assign icon="code" %}
    {% assign submit=submit_code %}
    {% assign button=button_code %}
{% endcase %}

{% if include.data.url contains "/" %}
  {% assign url_prefix="" %}
{% else %}
  {% capture url_prefix %}/courses/{{include.collection}}/{% endcapture %}
{% endif %}

{% if include.data.submit %}
  {% case include.data.submit %}
    {% when "code" %}
      {% assign submit=submit_code %}
    {% when "show" %}
      {% assign submit=submit_show %}
    {% when "canvas" or "online" %}
      {% assign submit=submit_online %}
    {% else %}
      {% assign submit=include.data.submit %}
  {% endcase %}
{% endif %}

{% if include.data.button %}
  {% case include.data.button %}
    {% when "pair" %}
      {% assign button=button_pair %}
    {% when "lesson" %}
      {% assign button=button_lesson %}
    {% when "activity" %}
      {% assign button=button_activity %}
    {% when "print" %}
      {% assign button=button_print %}
    {% when "materials" %}
      {% assign button=button_materials %}
    {% when "online" %}
      {% assign button=button_online %}
    {% when "code" %}
      {% assign button=button_code %}
    {% else %}
      {% assign button=include.data.submit %}
  {% endcase %}
{% endif %}

<a class="link-box card {{include.data.card_class}} gutter-1-2 pad-t-1-2 pad-b-1-2 unit-content-distribute" {% if include.data.url or include.url %}href="{{url_prefix}}{{include.data.url}}{{include.url}}"{% else %}data-state="disabled"{% endif %}>
  {% if include.num %}
    <i class="card-num icon i-32">
      <svg viewBox="0 0 256 256">
        <circle stroke-width="25" stroke="#fff" cx="128" cy="110" r="110" />
        <text x="50%" y="160" text-anchor="middle" fill="#fff" font-size="180" font-weight="bold" font-style="normal">{{include.num}}</text>
      </svg>
    </i>
  {% endif %}
  <div class="text-center push-1-4">
    <i class="icon i-24"><svg><use xlink:href="#icon-{{icon}}" /></svg></i>
    {% if include.data.pair %}
      <i class="icon i-24"><svg><use xlink:href="#icon-pair" /></svg></i>
    {% endif %}
  </div>
  <h3 class="card-title mega content-fill push-0 giga">{{include.data.title}}</h3>
  {% if include.data.submit != false %}
    <em class="micro push-1-4">{{submit}}</em>
  {% endif %}
  <span class="card-btn btn btn-ghost content-shrink">
    <span class="icon-label">{{button}}</span>
    <i class="icon i-18"><svg><use xlink:href="#icon-right" /></svg></i>
  </span>
</a>
