{% for cheat in include.groups %}
  <section>
    <h2 class="mega gutter-1-2" id="{{cheat.title | slugify}}" tabindex="0">{{cheat.title}}</h2>
    <ul class="grid list-group cheat-list push">
      {% for item in cheat.items %}
        <li class="unit [ xs-1 s-1 m-1-2 l-1-3 ] gutter-1-2">
          <div class="cheat-head" tabindex="0">{{item.name | markdownify}}</div>
          <ul class="list-group micro cheat-details">
            {% for detail in item.details %}
              <li>{{detail | markdownify}}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
