{% assign wrapper_elem = 'div' %}
{% assign header_elem = 'h2' %}

{% if include.wrapper_elem %}
  {% assign wrapper_elem = include.wrapper_elem %}
{% endif %}

{% if include.header_elem %}
  {% assign header_elem = include.header_elem %}
{% endif %}

{% for check in include.groups %}
  <{{wrapper_elem}} class="unit [ xs-1 s-1 m-1-2 {% if check.width == 'double' %}l-2-3{% else %}{% if check.width == 'full' %}l-1{% else %}l-1-3{% endif %}{% endif %} ] gutter-1-2">
    {% if check.full or check.note or check.notes %}
      <{{header_elem}} class="mega push-0" id="{{check.title | slugify}}" tabindex="0">{{check.title}}</{{header_elem}}>
      {% if check.full %}
        <div class="block push">
          <a href="/topics/{{check.full}}/"><em>Full checklist for {{check.title}}</em></a>
        </div>
      {% endif %}
      {% if check.note or check.notes %}
        <div class="block push italic">{{check.note | markdownify}}{{check.notes | markdownify}}</div>
      {% endif %}
    {% else %}
      <{{header_elem}} class="mega" id="{{check.title | slugify}}" tabindex="0">{{check.title}}</{{header_elem}}>
    {% endif %}
    {% if check.noteImg or check.notesImg %}
      <div class="block push italic">{{check.noteImg | markdownify}}{{check.notesImg | markdownify}}</div>
    {% endif %}
    <ul class="list-group cheat-list push">
      {% for item in check.items %}
        {% if check.notCheckList %}
          <li class="checklist-details push">{{item | markdownify}}</li>
        {% else %}
          <li class="checklist-details push">
            <input class="check-box visually-hidden" type="checkbox" id="{{check.title | slugify}}-{{forloop.index}}">
            <label class="check-label" for="{{check.title | slugify}}-{{forloop.index}}">{{item | markdownify}}</label>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if check.noteAfter or check.notesAfter %}
      <div class="block italic">{{check.noteAfter | markdownify}}{{check.notesAfter | markdownify}}</div>
    {% endif %}
  </{{wrapper_elem}}>
{% endfor %}
