{% for check in include.groups %}
  <section class="unit [ xs-1 s-1 m-1-2 l-1-3 ] gutter-1-2">
    {% if check.full or check.note or check.notes %}
      <h2 class="mega push-0" id="{{check.title | slugify}}" tabindex="0">{{check.title}}</h2>
      {% if check.full %}
        <div class="block push">
          <a href="/topics/{{check.full}}/"><em>Full checklist for {{check.title}}</em></a>
        </div>
      {% endif %}
      {% if check.note or check.notes %}
        <div class="block push italic">{{check.note | markdownify}}{{check.notes | markdownify}}</div>
      {% endif %}
    {% else %}
      <h2 class="mega" id="{{check.title | slugify}}" tabindex="0">{{check.title}}</h2>
    {% endif %}
    <ul class="list-group cheat-list push">
      {% for item in check.items %}
        {% if check.notCheckList %}
          <li class="checklist-details">{{item | markdownify}}</li>
        {% else %}
          <li class="checklist-details">
            <input class="check-box visually-hidden" type="checkbox" id="{{check.title | slugify}}-{{forloop.index}}">
            <label class="check-label" for="{{check.title | slugify}}-{{forloop.index}}">{{item | markdownify}}</label>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}
