<section class="topic-section pad-t pad-b" tabindex="-1">
  <div class="wrapper gutter-1-2">
    <div class="topic-wrap">
      <h2 class="topic-heading">
        {% if include.link == true %}
          <a class="link-box link-box-no-mark" href="{{include.data.url | replace: 'index.html', ''}}">
        {% endif %}
          <i class="icon i-48 push-1-4"><svg><use xlink:href="#icon-topic-{{include.number}}"/></svg></i>
          <span class="mega topic-heading-text">{% if include.data.short_title %}{{include.data.short_title}}{% else %}{{include.data.title}}{% endif %}</span>
        {% if include.link == true %}
          </a>
        {% endif %}
      </h2>
      {% if include.link == true %}
      <a class="exa bold" href="{{include.data.url | replace: 'index.html', ''}}">{{include.data.title}}</a>
      {% else %}
      <strong class="exa text-disabled">{{include.data.title}}</strong>
      {% endif %}
      <p class="push-0">{{include.data.desc}}</p>
    </div>
  </div>
</section>
