<div class="course-nav no-print">
  <nav class="wrapper gutter-1-2 pad-t-1-4 pad-b-1-4 grid">
    <ol class="course-nav-courses unit [ xs-1 l-3-4 ] list-group-inline push-0">
      <li><a href="/courses/web-dev-1/">Web Dev 1</a></li>
      <li><a href="/courses/web-dev-2/">Web Dev 2</a></li>
      <li><a href="/courses/web-dev-3/">Web Dev 3</a></li>
      <li><a href="/courses/web-dev-4/">Web Dev 4</a></li>
      <li><a href="/courses/web-dev-5/">Web Dev 5</a></li>
      <li><a href="/courses/web-dev-6/">Web Dev 6</a></li>
    </ol>
    <ul class="course-nav-extras unit [ unit-xs-hidden l-1-4 ] list-group-inline text-right push-0">
      <li><a href="/topics/">Topics</a></li>
      <li><a href="/courses/">Courses</a></li>
      <li><a href="/activities/">Activities</a></li>
    </ul>
  </nav>
</div>
