<div class="course-nav no-print">
  <nav class="wrapper gutter-1-2 pad-t-1-4 pad-b-1-4 grid">
    <ol class="course-nav-courses unit [ xs-1 l-3-4 ] list-group-inline push-0">
      {% for collection_id in site.collections_courses %}
        {% assign collection = site.collections | where: "label", collection_id | first %}
        <li><a href="/courses/{{collection_id}}/">{{collection.title}}</a></li>
      {% endfor %}
    </ol>
    <ul class="course-nav-extras unit [ unit-xs-hidden l-1-4 ] list-group-inline text-right push-0">
      <li><a href="/topics/">Topics</a></li>
      <li><a href="/courses/">Courses</a></li>
      <li><a href="/activities/">Activities</a></li>
    </ul>
  </nav>
</div>
