<div class="footer-wrap pad-t-1-2 pad-b-1-2 no-print">
  <footer class="footer grid {% unless include.no-wrapper %}wrapper{% endunless %} gutter-1-2" role="contentinfo">

    <div class="unit xs-1 footer-feedback push-1-2 kilo text-center">
      <p class="push-1-2">Help Learn the Web be the best it can! <strong><a href="/feedback/">Send anonymous feedback.</a></strong></p>
    </div>

    <div class="unit [ xs-1 s-1 m-2-5 unit-push-m-3-5 l-2-5 ]">
      <ul class="list-group footer-links micro push-1-2">
        <li>
          <a class="icon-link link-box link-box-no-mark" href="/get-help/">
            <i class="icon i-18"><svg><use xlink:href="#icon-help"/></svg></i>
            <strong class="icon-label">Get help</strong>
          </a>
        </li>
        <li class="push-1-2">
          <a class="icon-link link-box link-box-no-mark" href="/solutions/">
            <i class="icon i-18"><svg><use xlink:href="#icon-victory"/></svg></i>
            <span class="icon-label">Solutions for teachers</span>
          </a>
        </li>
        <li>
          <a class="icon-link link-box link-box-no-mark" href="https://github.com/sponsors/learn-the-web" rel="external">
            <i class="icon i-18"><svg><use xlink:href="#icon-heart"/></svg></i>
            <span class="icon-label">Funding</span>
          </a>
        </li>
      </ul>
      <ul class="list-group-inline footer-links micro push-1-2">
        <li class="push-r-1-4">
          <a class="icon-link link-box link-box-no-mark" href="https://github.com/learn-the-web" rel="external">
            <i class="icon i-18"><svg><use xlink:href="#icon-github"/></svg></i>
            <span class="icon-label">GitHub</span>
          </a>
        </li>
        <li>
          <a class="icon-link link-box link-box-no-mark" href="https://github.com/learn-the-web/topics/issues" rel="external">
            <i class="icon i-18"><svg><use xlink:href="#icon-bug"/></svg></i>
            <span class="icon-label">Bugs</span>
          </a>
        </li>
      </ul>
      <div class="footer-links">
        <p class="copyright micro push-1-2 italic">Last updated — <a href="https://github.com/learn-the-web/www/commits/master" rel="external">{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date_to_xmlschema }}</a></p>
      </div>
    </div>
    <div class="unit [ xs-1 s-1 m-3-5 unit-pull-m-2-5 l-3-5 ]">
      <small class="copyright micro">© Thomas J Bradley — <a href="https://learntheweb.courses">learntheweb.courses</a>.</small>
      <small class="copyright micro">All code for this website licensed under the <a href="https://github.com/learn-the-web/learn-the-web.github.io/blob/master/LICENSE" rel="license">MIT License</a>.</small>
      <small class="copyright micro">All tutorial code licensed under the <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license">CC0 Public Domain Dedication</a>.</small>
      <small class="copyright micro">All text, imagery, design, tutorials &amp; videos licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC BY-NC-SA License</a>.</small>
      <small class="copyright micro push-1-4">Unless otherwise noted.</small>
      <small class="copyright micro push-1-4"><a href="/privacy-cookies/">Privacy &amp; cookies policy</a></small>
      <address class="copyright copyright-bright micro">Learn the Web, Ottawa, ON, Canada</address>
    </div>
  </footer>
</div>
