<meta charset="utf-8">
<title>{% if page.title %}{{page.title}}{% else %}{{details.title}}{% endif %} · Learn the Web</title>
<meta name="description" content="{% if page.desc %}{{page.desc}}{% else %}{{details.desc}}{% endif %}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/fonts/alegreyasans-regular.woff" rel="preload" as="font">
<link href="/fonts/alegreyasans-italic.woff" rel="preload" as="font">
<link href="/fonts/alegreyasans-bold.woff" rel="preload" as="font">
<link href="/fonts/sourcecodepro-regular.woff" rel="preload" as="font">
<link href="/fonts/sourcecodepro-bold.woff" rel="preload" as="font">
<link href="/main.min.css?v={{site.version}}" rel="stylesheet">
<meta name="application-name" content="Learn the Web">
<link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
<meta name="msapplication-TileImage" content="/favicon-144.png">
<meta name="msapplication-TileColor" content="#00deae">
<link rel="profile" href="http://osprotocol.com">
<meta property="os:repo" content="https://github.com/acgd-learn-the-web">
<meta property="os:rcs_type" content="git">
<meta property="os:src" content="git@github.com:acgd-learn-the-web/topics.git">
<meta property="os:issue" content="https://github.com/acgd-learn-the-web/topics/issues">
