{% capture line_letter %}{{include.lines | replace: '26', 'Z'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '25', 'Y'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '24', 'X'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '23', 'W'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '22', 'V'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '21', 'U'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '20', 'T'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '19', 'S'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '18', 'R'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '17', 'Q'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '16', 'P'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '15', 'O'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '14', 'N'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '13', 'M'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '12', 'L'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '11', 'K'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '10', 'J'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '9', 'I'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '8', 'H'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '7', 'G'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '6', 'F'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '5', 'E'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '4', 'D'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '3', 'C'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '2', 'B'}}{% endcapture %}
{% capture line_letter %}{{line_letter | replace: '1', 'A'}}{% endcapture %}
{{line_letter}}
