<section class="markbot" id="markbot">
  <div class="wrapper grid grid-middle gutter-1-2 pad-t-1-2 pad-b-1-2">
    <div class="unit [ xs-1 s-1 m-1 l-2-5 ] pad-t-1-2 pad-b-1-2">
      <h2 class="push-0">Markbot</h2>
      <p class="push-1-8">Get instant feedback and direction with your own marvellously magnificent marking robot.</p>
    </div>
    <div class="markbot-icon unit [ xs-1 s-1-3 m-1-3 l-1-5 ] pad-t-1-2 pad-b-1-2">
      <a class="icon i-96 link-box link-box-no-mark center-block" id="markbot-btn-icon" href="https://assets.learn-the-web.algonquindesign.ca/markbot/Install%20Markbot.dmg" download><img src="/images/markbot.svg" alt=""></a>
    </div>
    <div class="markbot-btn unit [ xs-1 s-2-3 m-2-3 l-2-5 ] text-center pad-t-1-2 pad-b-1-2">
      <div class="wrapper-contract">
        <ul class="list-group-inline push-0">
          <li class="island-1-8" id="markbot-btn-mac">
            <a class="btn btn-ghost btn-markbot" href="https://assets.learn-the-web.algonquindesign.ca/markbot/Install%20Markbot.dmg" download>
              <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-down" /></svg></i>
              <span class="icon-label">Download <span class="italic">for</span> MacOS</span>
            </a>
          </li>
          <li class="island-1-8" id="markbot-btn-win">
            <a class="btn btn-ghost btn-markbot" href="https://assets.learn-the-web.algonquindesign.ca/markbot/Markbot%20Setup.exe" download>
              <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-down" /></svg></i>
              <span class="icon-label">Download <span class="italic">for</span> Windows</span>
            </a>
          </li>
        </ul>
        <ul class="markbot-link-list list-group-inline text-center push-0">
          <li id="markbot-switch-mac"><a class="markbot-link micro" href="https://assets.learn-the-web.algonquindesign.ca/markbot/Install%20Markbot.dmg" download>MacOS</a></li>
          <li id="markbot-switch-win"><a class="markbot-link micro" href="https://assets.learn-the-web.algonquindesign.ca/markbot/Markbot%20Setup.exe" download>Windows</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
