{% capture number %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-', ''}}{% endcapture %}

<header class="masthead">
  <div class="grid grid-middle wrapper gutter-1-2">
    <div class="unit [ xs-1 m-1-2 l-1-5 ]">
      <a class="logo" href="//learn-the-web.algonquindesign.ca/">
        <img class="img-flex" src="/images/logo.svg" alt="">
      </a>
    </div>
    <div class="unit [ xs-1 m-1-2 l-2-5 ]">
      <h1 class="giga push-0">
      {% if page.title %}
        {{page.title}}
      {% else %}
        <span class="normal">{{page_data.title}}—</span>Week {{number}} tasks
      {% endif %}
      </h1>
    </div>
    {% if page.layout == "week" %}
      {% capture prev %}{{number | minus:1}}{% endcapture %}
      {% capture next %}{{number | plus:1}}{% endcapture %}
      <nav class="masthead__next unit [ xs-1 l-2-5 ]">
        <a class="masthead__btn btn btn--ghost micro" {% if prev != "0" %}href="/{{page.collection}}/week-{{prev}}/"{% else %}data-state="disabled"{% endif %}>
          <i class="icon i--18"><svg><use xlink:href="#icon-left" /></svg></i>
          <span class="icon-text">Previous</span>
        </a>
        <a class="masthead__btn btn btn--ghost micro" href="/{{page.collection}}/">
          <i class="icon i--16 push-r-1-4"><svg><use xlink:href="#icon-nav" /></svg></i>
          <span class="icon-text">Index</span>
        </a>
        <a class="masthead__btn btn btn--ghost micro" {% if next != site.max_weeks %}href="/{{page.collection}}/week-{{next}}/"{% else %}data-state="disabled"{% endif %}>
          <span class="icon-text">Next</span>
          <i class="icon i--18"><svg><use xlink:href="#icon-right" /></svg></i>
        </a>
      </nav>
    {% endif %}
  </div>
</header>
