{% assign page_data = site.collections | where: "label", page.collection | first %}
{% capture number %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-0', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}

<header class="masthead-micro">
  <div class="grid grid-middle gutter-1-2 {% unless include.no_wrapper %}wrapper{% endunless %}">
    <div class="unit [ xs-1 m-1-2 l-1-5 ]">
      <a class="logo link-box" href="/">
        <img class="img-flex" src="/images/logo.svg" alt="">
      </a>
    </div>
    <div class="masthead-micro-title unit [ xs-1 m-1-2 l-2-5 ]">
      <h1 class="giga push-0">
      {% if page.topic %}
        {{page.topic}}
      {% elsif page.title %}
        {{page.title}}
      {% else %}
        <span class="normal">{{page_data.title}}—</span>Week {{number}}
      {% endif %}
      </h1>
    </div>
    {% if page.layout == "week" %}
      {% capture prev %}{{number | minus:1}}{% endcapture %}
      {% capture prev_size %}{{prev | size}}{% endcapture %}
      {% capture prev_link %}{% if prev_size == "1" %}0{% endif %}{{prev}}{% endcapture %}
      {% capture next %}{{number | plus:1}}{% endcapture %}
      {% capture next_size %}{{next | size}}{% endcapture %}
      {% capture next_link %}{% if next_size == "1" %}0{% endif %}{{next}}{% endcapture %}
      {% capture max_weeks %}{{site.max_weeks | plus:1}}{% endcapture %}
      {% if page.last_week %}{% assign next = max_weeks %}{% endif %}

      <nav class="masthead-next unit [ xs-1 l-2-5 ]">
        <ul class="list-group-inline push-0">
          <li>
            <a class="btn btn-ghost micro" {% if prev != "0" %}href="/courses/{{page.collection}}/week-{{prev_link}}/"{% else %}data-state="disabled"{% endif %}>
              <i class="icon i-18"><svg><use xlink:href="#icon-left" /></svg></i>
              <span class="icon-label">Previous</span>
            </a>
          </li>
          <li>
            <a class="btn btn-ghost micro" href="/courses/{{page.collection}}/">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-nav" /></svg></i>
              <span class="icon-label">{{page_data.title}}</span>
            </a>
          </li>
          <li>
            <a class="btn btn-ghost micro" {% if next != max_weeks %}href="/courses/{{page.collection}}/week-{{next_link}}/"{% else %}data-state="disabled"{% endif %}>
              <span class="icon-label">Next</span>
              <i class="icon i-18"><svg><use xlink:href="#icon-right" /></svg></i>
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}

    {% if page.layout == "lesson" %}
      {% assign count = 0 %}
      {% assign lesson_week = 0 %}
      {% for week in page_data.docs %}
        {% if week.layout == "week" %}
          {% capture count %}{{count | plus:1 }}{% endcapture %}
          {% for task in week.tasks %}
            {% if task.url == page.slug %}
              {% assign lesson_week = count %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {% capture lesson_week_size %}{{lesson_week | size}}{% endcapture %}
      {% if lesson_week_size == "1" %}
        {% capture lesson_week_padded %}0{{lesson_week}}{% endcapture %}
      {% else %}
        {% assign lesson_week_padded = lesson_week %}
      {% endif %}

      <nav class="masthead-next unit [ xs-1 l-2-5 ]">
        <ol class="list-group-inline push-0">
          <li>
            <a class="btn btn-ghost micro" href="/courses/{{page.collection}}/">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-nav" /></svg></i>
              <span class="icon-label">{{page_data.title}}</span>
            </a>
          </li>
          <li>
            <a class="btn btn-ghost micro" href="/courses/{{page.collection}}/week-{{lesson_week_padded}}/">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-courses" /></svg></i>
              <span class="icon-label">Week {{lesson_week_padded}}</span>
            </a>
          </li>
        </ol>
      </nav>
    {% endif %}

    {% if page.layout == "workshop" %}
      <nav class="masthead-next unit [ xs-1 l-2-5 ]">
        <ol class="list-group-inline push-0">
          <li>
            <a class="btn btn-ghost micro" href="/courses/#workshops">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-courses" /></svg></i>
              <span class="icon-label">Workshops</span>
            </a>
          </li>
        </ol>
      </nav>
    {% endif %}

  </div>
</header>
