{% if page.layout == "course" %}
  <link rel="index" href="https://learn-the-web.algonquindesign.ca/courses/">
  {% capture id %}{{page.collection | replace: "web-dev-", ""}}{% endcapture %}
  {% unless id == "6" %}
    {% capture next %}{{id | plus: 1}}{% endcapture %}
  {% else %}
    {% assign next=false %}
  {% endunless %}
  {% unless id == "1" %}
    {% capture prev %}{{id | minus: 1}}{% endcapture %}
  {% else %}
    {% assign prev=false %}
  {% endunless %}
  <link rel="first" href="https://learn-the-web.algonquindesign.ca/courses/web-dev-1/">
  {% if prev and page.self_directed != true %}
    <link rel="prev" href="https://learn-the-web.algonquindesign.ca/courses/web-dev-{{prev}}/">
  {% endif %}
  {% if next and page.self_directed != true %}
    <link rel="next" href="https://learn-the-web.algonquindesign.ca/courses/web-dev-{{next}}/">
  {% endif %}
  <link rel="last" href="https://learn-the-web.algonquindesign.ca/courses/web-dev-6/">
{% endif %}

{% if page.layout contains "week" %}
  <link rel="index" href="https://learn-the-web.algonquindesign.ca/courses/{{page.collection}}/">
  {% capture prev %}{{number | minus:1}}{% endcapture %}
  {% capture prev_size %}{{prev | size}}{% endcapture %}
  {% capture prev_link %}{% if prev_size == "1" %}0{% endif %}{{prev}}{% endcapture %}
  {% capture next %}{{number | plus:1}}{% endcapture %}
  {% capture next_size %}{{next | size}}{% endcapture %}
  {% capture next_link %}{% if next_size == "1" %}0{% endif %}{{next}}{% endcapture %}
  {% capture max_weeks %}{{page_data.max_weeks}}{% endcapture %}
  {% capture max_weeks_compare %}{{page_data.max_weeks | plus:1}}{% endcapture %}
  {% capture max_weeks_size %}{{max_weeks | size}}{% endcapture %}
  {% capture max_weeks_link %}{% if max_weeks_size == "1" %}0{% endif %}{{max_weeks}}{% endcapture %}
  <link rel="first" href="https://learn-the-web.algonquindesign.ca/courses/{{page.collection}}/week-01/">
  {% if next != max_weeks_compare %}
    <link rel="next" href="https://learn-the-web.algonquindesign.ca/courses/{{page.collection}}/week-{{next_link}}/">
  {% endif %}
  {% if prev != "0" %}
    <link rel="prev" href="https://learn-the-web.algonquindesign.ca/courses/{{page.collection}}/week-{{prev_link}}/">
  {% endif %}
  <link rel="last" href="https://learn-the-web.algonquindesign.ca/courses/{{page.collection}}/week-{{max_weeks_link}}/">
{% endif %}
