<aside class="section-light pad-t-1-4">
  {% assign incoming = false %}
  {% assign last = false %}
  {% assign prev = false %}
  {% assign next = false %}

  {% for item in include.data %}

    {% if item.tool %}
      {% continue %}
    {% endif %}

    {% if item.hidden %}
      {% continue %}
    {% endif %}

    {% if item.disabled %}
      {% continue %}
    {% endif %}

    {% if item.slug == include.theslug %}
      {% assign incoming = true %}
    {% else %}

      {% if incoming %}
        {% assign prev = last %}
        {% assign next = item %}
        {% break %}
      {% else %}
        {% assign last = item %}
      {% endif %}

    {% endif %}

    {% if forloop.last %}
      {% assign prev = last %}
      {% break %}
    {% endif %}

  {% endfor %}

  <div class="tutorial-footer wrapper gutter-1-2 pad-t pad-b no-print">
    <ul class="list-group controls push-0">
      {% if prev %}
        {% capture prev_slug %}/topics/{{prev.slug}}/{% endcapture %}
        {% assign results = site.topics | where: "url", prev_slug %}
        {% assign prev_data = results[0] %}
        <li class="controls-prev push-1-4">
          <a class="btn btn-ghost" href="{{prev_slug}}" rel="prev">
            <i class="icon i-24 i-shift-left"><svg><use xlink:href="#icon-left"></use></svg></i>
            <span class="icon-label">{{prev_data.title}}</span>
          </a>
        </li>
      {% endif %}
      <li class="controls-start push-1-4">
        <a class="btn btn-ghost" href="/topics/#{{slug}}" rel="start">
          <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-nav"></use></svg></i>
          <span class="icon-label">Topics</span>
        </a>
      </li>
      {% if next %}
        {% capture next_slug %}/topics/{{next.slug}}/{% endcapture %}
        {% assign results = site.topics | where: "url", next_slug %}
        {% assign next_data = results[0] %}
        <li class="controls-next push-1-4">
          <a class="btn btn-ghost" href="{{next_slug}}" rel="next">
            <span class="icon-label">{{next_data.title}}</span>
            <i class="icon i-24 i-shift-right"><svg><use xlink:href="#icon-right"></use></svg></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</aside>
