<div class="simple-nav-wrap push" id="groups">
  <nav class="wrapper gutter-1-2">
    <ol class="simple-nav list-group-inline">
      {% for item in include.groups %}
        <li>
          {% if item.groups %}<strong>{% endif %}
            <a href="#{{item.title | slugify}}">{{item.title}}</a>
          {% if item.groups %}</strong>{% endif %}
        </li>
        {% for subitem in item.groups %}
          <li><a href="#{{subitem.title | slugify}}">{{subitem.title}}</a></li>
        {% endfor %}
      {% endfor %}
    </ol>
  </nav>
</div>
