<section class="topic-section pad-t pad-b" tabindex="-1">
  <div class="wrapper gutter-1-2">
    <div class="topic-wrap">
      <h2 class="topic-heading">
        {% if include.link == true %}
          <a class="link-box link-box-no-mark" href="https://solutions.learntheweb.courses/{{include.slug}}/">
        {% endif %}
          <i class="icon i-48 push-1-4"><svg><use xlink:href="#icon-topic-{{include.number}}"/></svg></i>
          <span class="mega topic-heading-text">{% if include.title_short %}{{include.title_short}}{% else %}{{include.title}}{% endif %}</span>
        {% if include.link == true %}
          </a>
        {% endif %}
      </h2>
      {% if include.link == true %}
      <a class="exa bold" href="https://solutions.learntheweb.courses/{{include.slug}}/">{{include.title}}</a>
      <p class="push-0">Solutions for all homework exercises & assignments are available for all teachers & teaching assistants. <em>Do not share this information with students or teaching assistants who are not as far in the program.</em></p>
      {% else %}
      <strong class="exa text-disabled">{{include.title}}</strong>
      <p class="push-0">There are no solutions for this course—the material is unique to each student or each team.</p>
      {% endif %}
    </div>
  </div>
</section>
