<section class="{{include.class}} pad-t pad-b" id="{{include.id}}">
  <div class="wrapper gutter-1-2">
    <div class="topic-wrap">
      <h2 class="topic-heading yotta">
        <i class="icon i--48 push-1-2">
          <svg><use xlink:href="#icon-topic-{{include.number}}"/></svg>
        </i>
        <span class="mega topic-heading__text">{{include.title}}</span>
      </h2>
      <ol class="list-group topics push-0">
        {% for item in include.data %}
          {% assign details = item[1] %}
          <li class="indent{{details.indent}} {% if details.disabled %}topic--disabled{% endif %} {% if details.fullsite %}topic--fullsite{% endif %}" id="{{item[0]}}">
            {% if details.disabled %}<span class="topic-text">{% else %}<a class="topic-text" href="/topics/{{item[0]}}/">{% endif %}
              {% if details.highlight %}<strong>{% endif %}
                {{details.title}}
              {% if details.highlight %}</strong>{% endif %}
            {% if details.disabled %}</span>{% else %}</a>{% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
