<section class="topic-section {{include.class}} pad-t pad-b" id="{{include.id}}" tabindex="-1">
  <div class="wrapper gutter-1-2">
    <div class="topic-wrap">
      <h2 class="topic-heading" tabindex="0">
        <i class="icon i--48 push-1-4">
          <svg><use xlink:href="#icon-topic-{{include.number}}"/></svg>
        </i>
        <span class="mega topic-heading__text">{{include.title}}</span>
      </h2>
      <div class="grid grid-middle">
        <div class="unit [xs-1 s-1 m-2-3 l-2-3 ]">
          <ol class="list-group topics push-0">
            {% for item in include.data %}
              {% assign details = item[1] %}
              {% if details.hidden != true %}
                <li class="indent{{details.indent}} {% if details.disabled %}topic--disabled{% endif %} {% if details.fullsite %}topic--flag topic--fullsite{% endif %} {% if details.checklist %}topic--flag topic--checklist{% endif %} {% if details.cheatsheet %}topic--flag topic--cheatsheet{% endif %} {% if details.tool %}topic--flag topic--tool{% endif %}" id="{{item[0]}}" data-tags="{{item[1].tags}}">
                  {% if details.disabled %}<span class="topic-text">{% else %}<a class="topic-text" href="{% if details.tool %}{{details.tool}}{% else %}/topics/{{item[0]}}/{% endif %}">{% endif %}
                    {% if details.highlight %}<strong class="topic-text-content">{% else %}<span class="topic-text-content">{% endif %}
                      {{details.title}}{% if details.tool %} »{% endif %}
                    {% if details.highlight %}</strong>{% else %}</span>{% endif %}
                  {% if details.disabled %}</span>{% else %}</a>{% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ol>
        </div>
        <div class="unit [xs-1 s-1 m-1-3 l-1-3 ] text-center italic">
          {% if include.curriculum %}
            <a class="course-btn block link-box" href="/courses/{{include.id}}/">
              <span class="inline-block course-btn__icon push-1-4">
                <i class="icon i--24">
                  <svg><use xlink:href="#icon-courses"/></svg>
                </i>
              </span>
              <strong class="block normal">Explore the<br>Web Dev {{include.number}}<br>weekly curriculum</strong>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
