{% if include.data.datetimes.labs %}
  <h3 class="mega push-0" tabindex="0">Lab times <em class="normal">— attendance recommended</em></h3>
  {% if include.no_office_hours %}
    <p class="push-1-2"><em>No labs this week.</em></p>
  {% else %}
    <ol class="hours list-group push-1-2">
      {% for lab in include.data.datetimes.labs %}
        <li>{% include day-number-to-text.html day=lab.day %} {% include 24-hour-to-12.html time=lab.start_time %} – {% include 24-hour-to-12.html time=lab.end_time %} @&nbsp;{{lab.room}}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endif %}

{% if include.data.datetimes.worklabs %}
  <h3 class="mega push-0" tabindex="0">Work lab dates</h3>
  {% if include.no_office_hours %}
    <p class="push-1-2"><em>No work labs this week.</em></p>
  {% else %}
    <ol class="hours list-group push-1-2">
      {% for worklab in include.data.datetimes.worklabs %}
        <li>{{worklab}}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endif %}

{% if include.data.prof %}
  <h3 class="mega push-0" tabindex="0">Office hours <em class="normal">— {% if include.data.prof.email %}<a class="link-body-color" href="mailto:{{include.data.prof.email}}">{% endif %}{{include.data.prof.name}} {% if include.data.prof.office %}@&nbsp;{{include.data.prof.office}}{% endif %}{% if include.data.prof.email %}</a>{% endif %}</em></h3>
  {% if include.data.prof.hours %}
    {% if include.no_office_hours %}
      <p class="push-1-2"><em>No office hours this week.</em></p>
    {% else %}
      <ol class="hours list-group push-1-2">
        {% for hour in include.data.prof.hours %}
          <li>{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %} – {% include 24-hour-to-12.html time=hour.end_time %}</li>
        {% endfor %}
      </ol>
    {% endif %}
  {% else %}
    <p class="push-1-2"><em>By appointment only.</em></p>
  {% endif %}
{% endif %}

{% if include.data.multi_profs %}
  <h3 class="mega push-0" tabindex="0">Office hours</h3>
  <div class="push-1-2">
    {% for prof in include.data.multi_profs %}
      <div>
        <em class="normal valign-top">{% if prof.email %}<a class="link-body-color" href="mailto:{{prof.email}}">{% endif %}{{prof.name}} {% if prof.office %}@&nbsp;{{prof.office}}{% endif %}{% if prof.email %}</a>{% endif %}</em> <span class="valign-top">—</span>
        {% if prof.hours %}
          {% if include.no_office_hours %}
            <span class="valign-top"><em>No office hours this week.</em></span>
          {% else %}
            <ol class="hours list-group push-0 ib valign-top">
              {% for hour in prof.hours %}
                <li>{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %} – {% include 24-hour-to-12.html time=hour.end_time %}</li>
              {% endfor %}
            </ol>
          {% endif %}
        {% else %}
          <span class="valign-top"><em>By appointment only.</em></span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if include.data.datetimes %}
  <h3 class="mega push-0" tabindex="0">Class times <em class="normal">— {{include.data.title}}</em></h3>
  {% if include.data.datetimes.sections %}
    {% if include.no_classes %}
      <p class="push-1-2"><em>No classes this week.</em></p>
    {% else %}
      <ol class="hours list-group push-1-2">
        {% for class in include.data.datetimes.sections %}
          <li>{% include day-number-to-text.html day=class.day %} {% include 24-hour-to-12.html time=class.start_time %} – {% include 24-hour-to-12.html time=class.end_time %} @&nbsp;{{class.room}}</li>
        {% endfor %}
      </ol>
    {% endif %}
  {% else %}
    <p class="push-1-2"><em>This course isn’t being run this term.</em></p>
  {% endif %}
{% endif %}

{% if include.data.prof %}
  <h3 class="mega push-0" tabindex="0">
    <span>Get help</span> <span class="normal">—</span>
    <a class="link-body-color icon-link not-bold" href="/topics/troubleshooting-checklist/">
      <i class="icon i-16"><svg><use xlink:href="#icon-bug"></use></svg></i>
      <span class="icon-label">Troubleshooting checklist</span>
    </a>
  </h3>
  <p class="push-0">Create a new Issue in your repo and tag <kbd>@{{include.data.prof.github}}</kbd></p>
  <ul class="list-group-inline micro push-0">
    <li><a class="link-body-color" href="/courses/web-dev-1/create-tagged-issue/">How to create a tagged Issue</a></li>
    <li role="presentation" aria-hidden="true">•</li>
    <li><a class="link-body-color" href="https://www.youtube.com/watch?v=vTULg-7xycs">How to enable the Issues tab</a></li>
  </ul>
  <a class="bold link-body-color" href="https://algonquincollege.libguides.com/slc/peer-tutoring" rel="external">Hire a tutor ➔</a>
{% endif %}
