<h3 class="mega push-0" tabindex="0">
  <span>Get help — </span>
  <a class="icon-link not-bold" href="/topics/troubleshooting-checklist/">
    <i class="icon i-16"><svg><use xlink:href="#icon-bug"></use></svg></i>
    <span class="icon-label">Troubleshooting checklist</span>
  </a>
</h3>
<p class="push-0">Create a new Issue in your repo and tag <kbd>@{{include.username}}</kbd></p>
<ul class="list-group-inline micro push-0">
  <li><a href="/courses/web-dev-1/create-tagged-issue/">How to create a tagged Issue</a></li>
  <li role="presentation" aria-hidden="true">•</li>
  <li><a href="https://www.youtube.com/watch?v=vTULg-7xycs&list=PLWjCJDeWfDdfSZOQYvsy_jJiAvx4uaJLB&index=9">How to enable the Issues tab</a></li>
</ul>
