<h3 class="mega push-0" tabindex="0">Lab times <em class="normal">— attendance suggested</em></h3>
{% include week/web-dev-2-labs.html %}

<h3 class="mega push-0" tabindex="0">Office hours <em class="normal">— Chelle</em></h3>
{% if include.no_office_hours %}
  <p><em>No office hours this week.</em></p>
{% else %}
  {% include week/office-hours-chelle.html %}
{% endif %}

<h3 class="mega push-0" tabindex="0">Class times <em class="normal">— Web Dev 2</em></h3>
{% include week/course-not-running.html %}
<!-- {% include week/web-dev-2-classes.html %} -->

{% include week/get-help.html username="hellachella" %}

