<h3 class="mega push-0">Lab times <em class="normal">— attendance suggested</em></h3>
{% if include.no_office_hours %}
  <p><em>No labs this week.</em></p>
{% else %}
  {% include week/web-dev-1-labs.html %}
{% endif %}

<h3 class="mega push-0">Office hours <em class="normal">— Thomas @ J104</em></h3>
{% if include.no_office_hours %}
  <p><em>No office hours this week.</em></p>
{% else %}
  {% include week/office-hours-thomas.html %}
{% endif %}

<h3 class="mega push-0">Class times <em class="normal">— Web Dev 1</em></h3>
{% include week/web-dev-1-classes.html %}

{% include week/github.html username="thomasjbradley" %}
