<tr>
  <th scope="row">{{doc.title}}</th>
  <td><b>{{doc.topic}}</b><br>{{doc.desc}}</td>
  <td>
    {% for activity in doc.slides %}
      {% include comms/schedule-activity.html prefix="Slides" title=activity.title %}
    {% endfor %}
    {% for activity in doc.group_activities %}
      {% include comms/schedule-activity.html prefix="Group activity" title=activity.title %}
    {% endfor %}
    {% for activity in doc.tasks %}
      {% if activity.graded-as == false %}
        {% include comms/schedule-activity.html prefix="Activity" title=activity.title %}
      {% endif %}
    {% endfor %}
  </td>
  <td>
    {% if videos_per > 0 %}
      {% for tut in doc.video_tutorials %}
        {% if tut.videos or tut.required %}
          {% include comms/schedule-assessment.html prefix="Videos" title=tut.title value=videos_per %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% for exercise in doc.tasks %}
      {% if exercise.graded-as %}
        {% unless found_projects contains exercise.graded-as %}
          {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
          {% include comms/schedule-assessment.html prefix="Project" title=exercise.title value=projects_per %}
        {% endunless %}
      {% else %}
        {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" or exercise.type == "attend-labs" %}{% continue %}{% endif %}
        {% case exercise.type %}
          {% when "lesson" %}
            {% assign the_prefix = "Lesson" %}
            {% assign the_value = activities_per %}
          {% when "activity" %}
            {% assign the_prefix = "Activity" %}
            {% assign the_value = activities_per %}
          {% else %}
            {% assign the_prefix = "Exercise" %}
            {% assign the_value = exercises_per %}
        {% endcase %}
        {% include comms/schedule-assessment.html prefix=the_prefix title=exercise.title value=the_value %}
      {% endif %}
    {% endfor %}
  </td>
  <td><a href="https://learn-the-web.algonquindesign.ca{{doc.url}}">Learn the Web, {{include.course_name}}: {{doc.title}}</a></td>
  <td>{{include.doc.clr}}</td>
</tr>
