---
layout: basic-inside
title: Assignment solutions
desc: "Solutions to all the assignments from the web development courses. They are password protected and only available for teachers and TAs."
priority: 0.1
hide_markbot: true
hide_algonquin: true
head: |
  <link href="/css/main-topics.min.css" rel="stylesheet">
---

{% include icons-topics.html %}

<div class="wrapper gutter-1-2 pad-t pad-b-1-2">
  {% include solution-section.html number=1 title="Web Design 1" slug="web-design-1" link=true %}
  {% include solution-section.html number=2 title="Web Design 2" slug="web-design-2" link=true %}
  {% include solution-section.html number="infinite" title="Web Dev 1" slug="web-dev-1" link=true %}
  {% include solution-section.html number="infinite" title="Web Dev 2" slug="web-dev-2" link=true %}
  {% include solution-section.html number="infinite" title="Web Dev 3" slug="web-dev-3" link=true %}
  {% include solution-section.html number="infinite" title="Web Dev 4" slug="web-dev-4" link=true %}
  {% include solution-section.html number="infinite" title="Web Dev 5" slug="web-dev-5" link=false %}
  {% include solution-section.html number="infinite" title="Web Dev 6" slug="web-dev-6" link=false %}
  {% include solution-section.html number="infinite" title="JavaScript" title_short="JS" slug="javascript" link=true %}
</div>
