---
layout: basic-inside
title: Assignment solutions
desc: "Solutions to all the assignments from the web development courses. They are password protected and only available for teachers and TAs."
priority: 0.1
hide_algonquin: true
head: |
  <link href="/css/main-topics.min.css" rel="stylesheet">
---

{% include icons-topics.html %}

<div class="wrapper gutter-1-2 pad-t pad-b-1-2">
  {% include solution-section.html number=1 link=true %}
  {% include solution-section.html number=2 link=true %}
  {% include solution-section.html number=3 link=true %}
  {% include solution-section.html number=4 link=true %}
  {% include solution-section.html number=5 link=false %}
  {% include solution-section.html number=6 link=false %}
</div>
