<meta itemprop="name" content="{{page.title}}">
<meta itemprop="headline" content="{{page.title}}">
<meta itemprop="description" content="{{page.desc}}">
<meta itemprop="url" content="https://learn-the-web.algonquindesign.ca{{page.url | replace: 'index.html', ''}}">
<meta itemprop="accessMode" content="textual, visual">
<meta itemprop="accessModeSufficient" content="textual">
<meta itemprop="accessibilityAPI" content="ARIA">
<meta itemprop="accessibilityControl" content="fullKeyboardControl, fullMouseControl, fullTouchControl">
<meta itemprop="accessibilityFeature" content="alternativeText, highContrastDisplay, largePrint, readingOrder, structuralNavigation">
<meta itemprop="accessibilityHazard" content="noFlashingHazard, noSoundHazard">
<meta itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="thomasjbradley">
<meta itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person" itemref="thomasjbradley">
<meta itemprop="copyrightYear" content="{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date:'%Y' }}">
<meta itemprop="datePublished" content="{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date_to_xmlschema }}">
<meta itemprop="dateModified" content="{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date_to_xmlschema }}">
<meta itemprop="isAccessibleForFree" content="true">
<meta itemprop="license" content="https://creativecommons.org/licenses/by-nc-sa/4.0/">
<div itemprop="audience" itemscope itemtype="http://schema.org/Audience" hidden aria-hidden="true">
  <meta itemprop="audienceType" content="public">
</div>
<div itemprop="educationalAlignment" itemscope itemtype="https://schema.org/AlignmentObject">
  <meta itemprop="alignmentType" content="teaches">
  <meta itemprop="educationalFramework" content="Higher Education">
  <meta itemprop="targetName" content="Higher Education">
  <meta itemprop="targetUrl" content="http://purl.org/ASN/scheme/ASNEducationLevel/HigherEducation">
</div>
