---
layout: default
---

<main class="grid wrapper gutter-1-2">
  <nav class="tutorial-nav unit [ xs-1 s-1 m-1-3 l-1-4 ]">
    <ol>
      <li><a href="#html-is-plain-text">HTML is plain text</a></li>
      <li><a href="#html-syntax">HTML syntax</a></li>
      <li><a href="#html-document-setup">HTML document setup</a></li>
      <li><a href="#indentation">Indentation</a></li>
      <li><a href="#parent-child-relationship">Parent-child relationship</a></li>
      <li><a href="#html-elements">HTML elements</a>
        <ol>
          <li><a href="#headings">Headings</a></li>
          <li><a href="#lists">Lists</a></li>
          <li><a href="#quotes-citations-sources">Quotes, citations, sources</a></li>
          <li><a href="#phrasing-elements">Phrasing elements</a></li>
          <li><a href="#links">Links</a>
            <ol>
              <li><a href="#internal-links">Internal links</a></li>
            </ol>
          </li>
          <li><a href="#images--figures">Images &amp; figures</a>
            <ol>
              <li><a href="#images-with-captions">Images with captions</a></li>
            </ol>
          </li>
          <li><a href="#document-elements">Document elements</a></li>
          <li><a href="#sections--articles">Sections &amp; articles</a>
            <ol>
              <li><a href="#headers--footers-in-sections--articles">Headers &amp; footers in sections &amp; articles</a></li>
            </ol>
          </li>
          <li><a href="#meaningless-elements">Meaningless elements</a></li>
          <li><a href="#break">Break</a></li>
          <li><a href="#horizontal-rule">Horizontal rule</a></li>
          <li><a href="#more-specific-elements">More specific elements</a></li>
        </ol>
      </li>
      <li><a href="#entities">Entities</a></li>
      <li><a href="#videos">Videos</a></li>
      <li><a href="#links">Links</a></li>
    </ol>
  </nav>

  <article class="tutorial unit [ xs-1 s-1 m-2-3 l-3-4 ]">
    {{content}}
  </article>
</main>
