---
layout: default
skip_links: |
  <li><a href="#article">Skip to article</a></li>
  <li><a href="#video">Skip to video</a></li>
  <li><a href="#headings">Skip to heading list</a></li>
  <li><a href="#resources">Skip to resources</a></li>
  <li><a href="#activites">Skip to activities</a></li>
---

{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}

{% assign results = site.topics | where: "url", "/topics/index.html" %}
{% assign toc = results[0].toc %}

{% for toc_section in toc %}
  {% for toc_item in toc_section[1] %}
    {% capture the_slug %}{{toc_item.slug}}/{% endcapture %}
    {% if page.url contains the_slug %}
      {% assign toc_pages = toc_section[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% include icons-article.html %}
{% include inside-nav.html %}
{% include metadata/thomasjbradley.html %}

<main class="relative" role="main" itemscope itemtype="http://schema.org/TechArticle">
  {% include metadata/article-lesson.html %}
  <meta itemprop="proficiencyLevel" content="Beginner">
  <meta itemprop="educationalUse" content="Reference">
  <meta itemprop="interactivityType" content="expositive">
  <meta itemprop="learningResourceType" content="Reference">
  <meta itemprop="image" content="https://learn-the-web.algonquindesign.ca/images/article-thumbnail.png">

  <div class="header push no-print" id="video">
    <div class="wrapper gutter-1-2 relative" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
      <meta itemprop="name" content="{{page.title}}">
      <meta itemprop="description" content="{{page.desc}}">
      <meta itemprop="thumbnailUrl" content="https://learn-the-web.algonquindesign.ca/images/video-thumbnail.png">
      <meta itemprop="uploadDate" content="{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date_to_xmlschema }}">
      <meta itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="thomasjbradley">

      {% if page.video %}
        <a class="play-btn link-box link-box-no-mark" href="https://www.youtube.com/watch?v={{page.video}}" data-video="{{page.video}}"  itemprop="embedUrl">
          <i class="icon play-icon"><svg><use xlink:href="#icon-play"/></svg></i>
          <strong class="giga icon-label play-icon-text">Watch the video</strong>
        </a>
      {% endif %}
      {% if page.playlist %}
        <a class="play-btn link-box link-box-no-mark" href="https://www.youtube.com/playlist?list={{page.playlist}}" data-playlist="{{page.playlist}}" itemprop="embedUrl">
          <i class="icon play-icon"><svg><use xlink:href="#icon-play"/></svg></i>
          <strong class="giga icon-label play-icon-text">Watch the video playlist</strong>
        </a>
      {% endif %}
      {% if page.video or page.playlist %}
        <dl class="video-stats-default push-0 text-right gutter-1-2">
          <dt class="micro text-upper">Watched</dt>
          <dd class="yotta bold"><span id="playlist-watched-initial">0</span><sup class="milli">%</sup></dd>
        </dl>
      {% endif %}
      <div class="embed embed--4by1 video-embed"></div>
    </div>
    {% if page.video or page.playlist %}
      <div class="section-lightest" id="watch-stats" hidden>
        <div class="wrapper island-1-2">
          <dl class="video-stats grid push-0">
            <div class="unit xs-1-3">
              <dt class="micro text-upper">№ videos</dt>
              <dd class="bold push-0">
                <span class="yotta" id="playlist-items">0</span>
              </dd>
            </div>
            <div class="unit xs-1-3">
              <dt class="micro text-upper">Total time</dt>
              <dd class="bold push-0">
                <span class="yotta"><span id="playlist-time-hours">0</span><span class="mega">h</span></span>
                <span class="yotta"><span id="playlist-time-minutes">0</span><span class="mega">m</span></span>
                <span class="yotta"><span id="playlist-time-seconds">0</span><span class="mega">s</span></span>
              </dd>
            </div>
            <div class="unit xs-1-3 text-right">
              <dt class="micro text-upper">Watched</dt>
              <dd class="bold push-0">
                <span class="yotta" id="playlist-watched">0</span><sup class="video-stats-percent milli">%</sup>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="grid wrapper relative gutter-1-2">
    <div class="unit [ xs-1 s-1 m-1 l-1-4 ] {% unless page.livewebsite or page.download or page.github or page.tool or page.checklist or page.cheatsheet %}pad-t-1-2{% endunless %} push">
      <ul class="downloads list-group grid push-1-2" id="resources">
        {% if page.extra_practice %}
          <li class="push-1-2 unit [ xs-1 ]">
            <a class="btn btn-light" href="#extra-practice">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-steps"/></svg></i>
              <span class="icon-label">Get extra practice</span>
            </a>
          </li>
        {% endif %}
        {% if page.livewebsite %}
          <li class="push-1-2 unit [ xs-1 ]">
            <a class="btn btn-ghost" href="https://demos.learn-the-web.algonquindesign.ca/{{page.livewebsite}}/" rel="nofollow">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-star"/></svg></i>
              <span class="icon-label">See website</span>
            </a>
          </li>
        {% endif %}
        {% if page.tool %}
          <li class="push-1-2 unit [ xs-1 ]">
            <a class="btn btn-ghost" href="{{page.tool.url}}">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-tool"/></svg></i>
              <span class="icon-label">Use {{page.tool.name}}</span>
            </a>
          </li>
        {% endif %}
        {% if page.cheatsheet %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn-ghost" href="/topics/{{page.cheatsheet}}/">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-cheatsheet"/></svg></i>
              <span class="icon-label">View cheat sheet</span>
            </a>
          </li>
        {% endif %}
        {% if page.checklist %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn-ghost" href="/topics/{{page.checklist}}/">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-checklist"/></svg></i>
              <span class="icon-label">Review checklist</span>
            </a>
          </li>
        {% endif %}
        {% if page.download %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn-ghost btn-subtle" href="{{page.download}}">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-download"/></svg></i>
              <span class="icon-label">Download code</span>
            </a>
          </li>
        {% endif %}
        {% if page.github %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn-ghost btn-subtle" href="{{page.github}}">
              <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-github"/></svg></i>
              <span class="icon-label">Browse code</span>
            </a>
          </li>
        {% endif %}
      </ul>

      <nav class="tutorial-nav" id="headings" hidden>
        <input type="checkbox" class="visually-hidden nav-check" id="nav-check">
        <label class="nav-label giga" for="nav-check">
          <i class="icon i-nav"></i>
          <span class="icon-label">Contents</span>
        </label>
      </nav>
    </div>

    <article class="tutorial unit [ xs-1 s-1 m-1 l-3-4 ] pad-t-1-2" id="article">
      <h1 class="yotta" id="start" itemprop="name" tabindex="0">{{page.title}}</h1>
      <div itemprop="articleBody">
        {{content | replace_first: '<p>', '<p class="giga">'}}
      </div>
    </article>
  </div>
</main>

{% if page.extra_practice %}
  <aside class="section-lightest" id="extra-practice">
    <div class="wrapper gutter-1-2 pad-t pad-b ">
      <h2 class="exa push-0">Get some practice…</h2>
      <p class="giga push-0 max-length">Here a few extra resources, activities, lessons & coding exercises to explore that’ll help you practice this new knowledge.</p>
    </div>
    {% if page.extra_practice.week %}
      <hr class="hr-brand-light push-0">
      <div class="grid grid-middle gutter-1-4 wrapper pad-t-1-2 pad-b-1-2">
        <div class="unit [ xs-1 m-1-2 l-2-3 ] gutter-1-4 pad-t-1-2 pad-b-1-2">
          <h3 class="tera push-1-8">Follow the curriculum</h3>
          <p class="mega push-0">Explore with the weekly curriculum that demonstrates this material.</p>
        </div>
        <div class="unit [ xs-1 m-1-2 l-1-3 ] gutter-1-4 pad-t-1-2 pad-b-1-2">
          <a class="btn btn-light w-1" href="{{page.extra_practice.week.url}}">
            <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-nav"></use></svg></i>
            <span class="icon-label">{{page.extra_practice.week.title}}</span>
            <i class="icon i-18"><svg><use xlink:href="#icon-right"></use></svg></i>
          </a>
        </div>
      </div>
    {% endif %}
    {% if page.extra_practice.slides or page.extra_practice.lessons or page.extra_practice.activities %}
      <hr class="hr-brand-light push-0">
      <div class="grid grid-stretch gutter-1-4 wrapper pad-t-1-2 pad-b-1-2">
        {% if page.extra_practice.slides %}
          <div class="unit [ xs-1 m-1-2 l-1-3 ] gutter-1-4 unit-content-distribute pad-t-1-2 pad-b-1-4">
            <h3 class="mega push-1-2">Get an overview</h3>
            <p class="content-stretch push-1-2">Get a quick review of the material with these slide decks.</p>
            <ul class="list-group push-0 pad-t-1-4">
              {% for item in page.extra_practice.slides %}
                <li class="pad-t-1-4 pad-b-1-4">
                  <a class="btn btn-ghost milli" href="{{item.url}}">
                    <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-slide-deck"></use></svg></i>
                    <span class="icon-label">{{item.title}}</span>
                    <i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if page.extra_practice.lessons %}
          <div class="unit [ xs-1 m-1-2 l-1-3 ] gutter-1-4 unit-content-distribute pad-t-1-2 pad-b-1-4">
            <h3 class="mega push-1-2">Follow step-by-step</h3>
            <p class="content-stretch push-1-2">Follow along, coding a full example, with these step-by-step lessons.</p>
            <ul class="list-group push-0 pad-t-1-4">
              {% for item in page.extra_practice.lessons %}
                <li class="pad-t-1-4 pad-b-1-4">
                  <a class="btn btn-ghost milli" href="{{item.url}}">
                    <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-steps"></use></svg></i>
                    <span class="icon-label">{{item.title}}</span>
                    <i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if page.extra_practice.activities %}
          <div class="unit [ xs-1 m-1-2 l-1-3 ] gutter-1-4 unit-content-distribute pad-t-1-2 pad-b-1-4">
            <h3 class="mega push-1-2">Test your skills</h3>
            <p class="content-stretch push-1-2">See if you’re knowledge is perfect by doing these activities & quizzes.</p>
            <ul class="list-group push-0 pad-t-1-4">
              {% for item in page.extra_practice.activities %}
                <li class="pad-t-1-4 pad-b-1-4">
                  <a class="btn btn-ghost milli" href="https://activities.learn-the-web.algonquindesign.ca/{{item.url}}/">
                    <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-victory"></use></svg></i>
                    <span class="icon-label">{{item.title}}</span>
                    <i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if page.extra_practice.exercises %}
      <hr class="hr-brand-light">
      <div class="wrapper gutter-1-2 pad-b">
        <h3 class="peta push-1-8">Write some code!</h3>
        <p class="mega">Complete these coding exercises to fully explore the different topics.</p>
        <ul class="list-group-inline push-0">
          {% for exercise in page.extra_practice.exercises %}
            <li class="push-1-4 push-r-1-2">
              <a class="btn btn-ghost" href="{{exercise.url}}">
                <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-code"></use></svg></i>
                <span class="icon-label push-r-1-8">{{exercise.title}}</span>
                <i class="icon i-18"><svg><use xlink:href="#icon-right"></use></svg></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </aside>
{% endif %}

{% include prev-next-nav.html data=toc_pages theslug=slug %}
