---
layout: default
---

<main class="relative">
  <div class="tutorial-header push">
    <div class="wrapper gutter-1-2">
      <a class="play-btn" href="https://www.youtube.com/watch?v=fcZ_dx1rf5U&amp;list={{page.playlist}}" data-playlist="{{page.playlist}}">
        <i class="icon play-icon"><svg><use xlink:href="#icon-play"/></svg></i>
        <strong class="giga icon-text play-icon__text">Watch the video playlist</strong>
      </a>
      <div class="embed embed--3by1 video-embed"></div>
    </div>
  </div>

  <div class="grid wrapper relative gutter-1-2">
    <div class="unit [ xs-1 s-1 m-1 l-1-4 ] pad-t-1-2 push">
      <ul class="downloads list-group grid push-1-2">
        {% if page.download %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn--subtle pad-t-1-4 pad-b-1-4 gutter-1-2" href="{{page.download}}">
              <i class="icon i--24 i--push-right"><svg><use xlink:href="#icon-download"/></svg></i>
              <span class="icon-text">Download code</span>
            </a>
          </li>
        {% endif %}
        {% if page.github %}
          <li class="push-1-2 unit [ xs-1 s-1-2 l-1 ]">
            <a class="btn btn--subtle pad-t-1-4 pad-b-1-4 gutter-1-2" href="{{page.github}}">
              <i class="icon i--24 i--push-right"><svg><use xlink:href="#icon-github"/></svg></i>
              <span class="icon-text">See code</span>
            </a>
          </li>
        {% endif %}
      </ul>

      <nav class="tutorial-nav">
        <input type="checkbox" class="visually-hidden nav-check" id="nav-check">
        <label class="nav-label giga" for="nav-check">
          <i class="icon i--nav"></i>
          <span class="icon-text">Contents</span>
        </label>
      </nav>
    </div>

    <article class="tutorial unit [ xs-1 s-1 m-1 l-3-4 ]">
      <header class="pad-t-1-2">
        <h1 class="yotta" id="start">{{page.title}}</h1>
      </header>

      {{content}}
    </article>
  </div>

  <div class="tutorial-footer wrapper gutter-1-2 pad-t pad-b">
    <ul class="list-group controls push-0">
      {% if page.prev %}
        <li class="controls-prev push-1-4">
          <a class="btn btn--ghost pad-t-1-4 pad-b-1-4 gutter-1-2" href="/{{page.prev.url}}">
            <i class="icon i--24 i--shift-left"><svg><use xlink:href="#icon-left" /></svg></i>
            <span class="icon-text">{{page.prev.title}}</span>
          </a>
        </li>
      {% endif %}
      <li class="controls-start push-1-4">
        <a class="btn btn--ghost pad-t-1-4 pad-b-1-4 gutter-1-2" href="/">
          <i class="icon i--24 i--push-right"><svg><use xlink:href="#icon-nav" /></svg></i>
          <span class="icon-text">Index</span>
        </a>
      </li>
      {% if page.next %}
        <li class="controls-next push-1-4">
          <a class="btn btn--ghost pad-t-1-4 pad-b-1-4 gutter-1-2" href="/{{page.next.url}}">
            <span class="icon-text">{{page.next.title}}</span>
            <i class="icon i--24 i--shift-right"><svg><use xlink:href="#icon-right" /></svg></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

</main>
