---
layout: default
---

{% include inside-nav.html %}

<main class="relative" role="main">
  <div class="header">
    <div class="wrapper gutter-1-2 pad-b-1-2">
      <h1 class="push-1-4 yotta" tabindex="0">{{page.title}}</h1>
    </div>
  </div>
  <div class="header header--light">
    <div class="wrapper gutter-1-2 pad-b pad-t">
      <p class="mega push-0">{{page.desc}}</p>
    </div>
  </div>

  <div class="wrapper gutter-1-2 pad-t pad-b-1-2">
    {{content}}
  </div>
</main>

{% if page.hide_algonquin != true %}
  {% include algonquin.html box_class="algonquin--inner" btn_class="btn-alg-dark" logo_fill="#0f663f" %}
{% endif %}
