---
layout: default
---

{% include inside-nav.html %}

<main class="relative" role="main">
  <div class="header">
    <div class="wrapper gutter-1-2 pad-b-1-2">
      <div class="relative">
        <h1 class="push-1-4 yotta" tabindex="0">{{page.title}}</h1>
        {% if page.layout == "course" and page.datetimes.sections %}
          <a class="icon icon-feed i-3-4 pin-rc link-box-no-mark color-black" href="/courses/calendar-feeds/" title="Calendar feed" aria-label="Calendar feed">
            <svg><use xlink:href="#icon-feed"></use></svg>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="header header-light">
    <div class="wrapper gutter-1-2 pad-b pad-t">
      <p class="mega push-0 max-length">{{page.desc}}</p>
    </div>
  </div>

  {{content}}
</main>

{% unless page.hide_markbot %}
  {% include markbot.html %}
{% endunless %}

{% unless page.hide_algonquin %}
  {% include algonquin.html box_class="algonquin--inner" btn_class="btn-alg-dark" logo_fill="#0f663f" %}
{% endunless %}
