---
layout: default
---
{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}
{% assign groupdata = site.data[page.group] %}
{% assign details = groupdata[slug] %}

{% include inside-nav.html %}

<main class="relative" role="main">

  <article class="cheatsheet">
    <header class="cheatsheet-header push">
      <div class="wrapper relative pad-t pad-b gutter-1-2">
        <h1 class="yotta push-0" id="start" tabindex="0">{{details.title}}</h1>
      </div>
    </header>

    {% include cheats-nav.html groups=page.cheats %}
    {% include cheats-group.html groups=page.cheats %}

  </article>

</main>
