---
layout: default
---
{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}
{% assign groupdata = site.data[page.group] %}
{% assign details = groupdata[slug] %}

{% include inside-nav.html %}

<main class="relative" role="main">

  <article class="cheatsheet">
    {% include simple-header.html title=details.title %}

    {% include simple-nav.html groups=page.groups %}
    {% include cheats-group.html groups=page.groups %}
  </article>

</main>

{% include prev-next-nav.html data=groupdata theslug=slug %}
