---
layout: default
skip_links: |
  <li><a href="#groups">Skip to groupings list</a></li>
favicon: "/favicon-checklist.png"
---

{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}

{% assign results = site.topics | where: "url", "/topics/index.html" %}
{% assign toc = results[0].toc %}

{% for toc_section in toc %}
  {% for toc_item in toc_section[1] %}
    {% capture the_slug %}{{toc_item.slug}}/{% endcapture %}
    {% if page.url contains the_slug %}
      {% assign toc_pages = toc_section[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% include inside-nav.html %}

<main class="relative" role="main">

  <article class="checklist">
    {% include simple-header.html title=page.title %}

    {% if page.sections %}
      {% include simple-nav.html groups=page.sections %}
      {% include checks-section.html sections=page.sections %}
    {% else %}
      {% include simple-nav.html groups=page.groups %}
      <div class="grid">
        {% include checks-group.html groups=page.groups %}
      </div>
    {% endif %}
  </article>

</main>

{% include prev-next-nav.html data=toc_pages theslug=slug %}
{% include all-cheat-sheets-checklists.html %}
