---
layout: default
---
{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}

{% include inside-nav.html %}

<main class="relative" role="main">

  <article class="checklist">
    {% include simple-header.html title=page.title %}

    {% include simple-nav.html groups=page.groups %}

    <div class="grid">
      {% include checks-group.html groups=page.groups %}
    </div>
  </article>

</main>

{% include prev-next-nav.html data=groupdata theslug=slug %}
