---
layout: basic-inside
skip_links: |
  <li><a href="#course-details">Skip to course details</a></li>
  <li><a href="#week-view">Skip to weeks</a></li>
  <li><a href="#assessment-view">Skip to assessments</a></li>
  <li><a href="#marking-scheme">Skip to marking scheme</a></li>
---

{% assign page_data = site.collections | where: "label", page.collection | first %}

{% assign total_activities=0 %}
{% assign total_exercises=0 %}
{% assign total_videos=0 %}
{% assign total_projects=0 %}
{% assign found_projects="" %}

{% for doc in page_data.docs %}
  {% unless doc.layout contains "week" %}{% continue %}{% endunless %}
  {% for tut in doc.video_tutorials %}
    {% if tut.videos or tut.required %}
      {% if page.grades.videos %}
        {% capture total_videos %}{{total_videos | plus:1}}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for exercise in doc.tasks %}
    {% if exercise.graded-as %}
      {% unless found_projects contains exercise.graded-as %}
        {% capture total_projects %}{{total_projects | plus:1}}{% endcapture %}
        {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
      {% endunless %}
    {% else %}
      {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" or exercise.type == "attend-labs" %}{% continue %}{% endif %}
      {% case exercise.type %}
        {% when "lesson" %}
          {% capture total_activities %}{{total_activities | plus:1}}{% endcapture %}
        {% when "activity" %}
          {% capture total_activities %}{{total_activities | plus:1}}{% endcapture %}
        {% else %}
          {% capture total_exercises %}{{total_exercises | plus:1}}{% endcapture %}
      {% endcase %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign total_activities_float = total_activities | times: 1.0 %}
{% assign total_exercises_float = total_exercises | times: 1.0 %}
{% assign total_videos_float = total_videos | times: 1.0 %}
{% assign total_projects_float = total_projects | times: 1.0 %}

{% assign activities_per = page.grades.activities | divided_by: total_activities_float | round: 1 %}
{% assign exercises_per = page.grades.exercises | divided_by: total_exercises_float | round: 1 %}
{% assign videos_per = page.grades.videos | divided_by: total_videos_float | round: 1 %}
{% assign projects_per = page.grades.projects | divided_by: total_projects_float | round: 1 %}

{% capture id %}{{page.collection | replace: "web-dev-", "" | replace: "web-design-", ""}}{% endcapture %}

<div class="header header-light" id="course-details">
  <div class="wrapper gutter-1-2 pad-b">
    <div class="grid">
      <div class="unit [ xs-1 m-3-5 ]">
        <table class="table-no-borders push-0">
          <thead>
            <tr>
              <th scope="col" colspan="9">Instructor</th>
              <th scope="col" colspan="7">Course code</th>
              <th scope="col" colspan="8">Prerequisites</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="9">
                {% if page.datetimes.sections %}
                  {% if page.multi_profs %}
                    <ul class="list-group push-0">
                      {% for prof in page.multi_profs %}
                        <li>
                          <a class="link-body-color href-no-print" href="mailto:{{prof.email}}">{{prof.name}} {{prof.family_name}}</a>
                          <a class="link-body-color link-box-no-mark no-print" href="{{prof.url}}" rel="external" title="Visit {{prof.name}}’s website" aria-label="Visit {{prof.name}}’s website"><i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i></a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a class="link-body-color href-no-print" href="mailto:{{page.prof.email}}">{{page.prof.name}} {{page.prof.family_name}}</a>
                    <a class="link-body-color link-box-no-mark no-print" href="{{page.prof.url}}" rel="external" title="Visit {{page.prof.name}}’s website" aria-label="Visit {{page.prof.name}}’s website"><i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i></a>
                  {% endif %}
                {% else %}
                  Self-directed
                {% endif %}
              </td>
              <td colspan="7">{{page.course_code}}</td>
              <td colspan="8">
                {% if page.prereq %}
                  {% assign collection = site.collections | where: "label", page.prereq | first %}
                  <a href="/courses/{{page.prereq}}/">{{collection.title}}</a>
                {% else %}
                  None
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="unit [ xs-1 m-2-5 ]">
        <table class="table-no-borders push-0">
          <thead>
            <tr>
              <th scope="col" colspan="8">Classes</th>
              <th scope="col" colspan="8">Labs</th>
              <th scope="col" colspan="8">Homework</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="8">{% if page.datetimes.sections %}{{page.hours}} h{% else %}None{% endif %}</td>
              <td colspan="8">{% if page.datetimes.labs or page.datetimes.worklabs %}15 h{% else %}None{% endif %}</td>
              <td colspan="8">~{% if page.homework %}{{page.homework}}{% else %}{% if page.datetimes.sections %}45{% else %}{{page.hours | plus:45}}{% endif %}{% endif %} h</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if page.datetimes.sections %}
        <div class="unit [ xs-1 ] pad-t-1-2">
          <hr class="hr-thin hr-brand-muted push-1-2">
          <dl class="course-hours-group list-group-inline push-0">
            {% if page.datetimes.sections %}
              <dt class="bold">Class times</dt>
              <dd class="push-0">
                <ol class="hours list-group-inline push-0">
                  {% for class in page.datetimes.sections %}
                    <li class="push-r-1-2">{% include day-number-to-text.html day=class.day %} {% include 24-hour-to-12.html time=class.start_time %} – {% include 24-hour-to-12.html time=class.end_time %} @&nbsp;{{class.room}}</li>
                  {% endfor %}
                </ol>
              </dd>
            {% endif %}
            {% if page.datetimes.labs %}
              <dt class="bold">Lab times</dt>
              <dd class="push-0">
                <ol class="hours list-group-inline push-0">
                  {% for lab in page.datetimes.labs %}
                    <li class="push-r-1-2">{% include day-number-to-text.html day=lab.day %} {% include 24-hour-to-12.html time=lab.start_time %} – {% include 24-hour-to-12.html time=lab.end_time %} @&nbsp;{{lab.room}}</li>
                  {% endfor %}
                </ol>
              </dd>
            {% endif %}
            {% if page.prof or page.multi_profs %}
              <dt class="bold">Office hours</dt>
              <dd class="push-0">
                {% if page.prof %}
                  {% if page.prof.hours %}
                    <em class="normal valign-top">{% if page.prof.email %}<a class="link-body-color" href="mailto:{{page.prof.email}}">{% endif %}{{page.prof.name}} {% if page.prof.office %}§&nbsp;{{page.prof.office}}{% endif %}{% if page.prof.email %}</a>{% endif %}</em> <span class="valign-top">—</span>
                    <ol class="hours list-group-inline push-0 ib valign-top">
                      {% for hour in page.prof.hours %}
                        <li class="push-r-1-2">{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %} – {% include 24-hour-to-12.html time=hour.end_time %}</li>
                      {% endfor %}
                    </ol>
                  {% else %}
                    {% if page.prof.hours_form %}
                      <p class="push-1-2"><em><a href="{{page.prof.hours_form}}" rel="external">Book an appointment</a></em></p>
                    {% else %}
                      <p class="push-1-2"><em>By appointment only.</em></p>
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if page.multi_profs %}
                  {% for prof in page.multi_profs %}
                    <div>
                      <em class="normal valign-top">{% if prof.email %}<a class="link-body-color" href="mailto:{{prof.email}}">{% endif %}{{prof.name}} {% if prof.office %}§&nbsp;{{prof.office}}{% endif %}{% if prof.email %}</a>{% endif %}</em> {% if prof.github %}· <a href="https://github.com/{{prof.github}}" rel="external">@{{prof.github}}</a>{% endif %} <span class="valign-top">—</span>
                      {% if prof.hours %}
                        <ol class="hours list-group-inline push-0 ib valign-top">
                          {% for hour in prof.hours %}
                            <li class="push-r-1-2">{% include day-number-to-text.html day=hour.day %} {% include 24-hour-to-12.html time=hour.start_time %} – {% include 24-hour-to-12.html time=hour.end_time %}</li>
                          {% endfor %}
                        </ol>
                      {% else %}
                        <span class="valign-top"><em>By appointment only.</em></span>
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endif %}
              </dd>
            {% endif %}
          </dl>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="wrapper gutter-1-2 pad-t pad-b-1-2">

  <ul class="list-group-inline mega no-print" role="tablist" hidden aria-hidden="true">
    <li class="push-r relative" role="presentation">
      <button class="color-grey-dark btn btn-invisible mega bold" role="tab" aria-controls="week-view" aria-selected="true">Week view</button>
      <span class="absolute w-1 text-center pin-tl pad-t"><i class="icon i-16"><svg><use xlink:href="#icon-down"></use></svg></i></span>
    </li>
    <li class="push-r relative" role="presentation">
      <button class="color-grey-dark btn btn-invisible mega" role="tab" aria-controls="assessment-view">Assessment view</button>
      <span class="absolute w-1 text-center pin-tl pad-t" hidden aria-hidden="true"><i class="icon i-16"><svg><use xlink:href="#icon-down"></use></svg></i></span>
    </li>
  </ul>
  <hr>

  {% assign found_projects = "" %}

  <div class="force-print" id="assessment-view" role="tabpanel" hidden aria-hidden="true">
    <div class="visually-hidden force-print">
      <h2>Assessments</h2>
    </div>

    <div class="table-wrapper scrollable">
      <table>
        <thead>
          <tr class="giga">
            <th scope="col" colspan="12">Assessment</th>
            <th scope="col" colspan="3">Value</th>
            <th scope="col" colspan="4">Week №</th>
            <th scope="col" colspan="5">CLRs</th>
          </tr>
        </thead>
        <tbody>
          {% assign count = 0 %}
          {% assign week_count = 0 %}
          {% assign count_videos = 0 %}
          {% assign count_activities = 0 %}
          {% assign count_lessons = 0 %}
          {% assign count_exercises = 0 %}
          {% assign count_projects = 0 %}
          {% for doc in page_data.docs %}
            {% unless doc.layout contains "week" %}{% continue %}{% endunless %}
            {% capture week_count %}{{week_count | plus: 1}}{% endcapture %}
            {% for tut in doc.video_tutorials %}
              {% if tut.videos or tut.required %}
                {% if page.grades.videos %}
                  {% capture count %}{{count | plus: 1}}{% endcapture %}
                  {% capture url %}/topics/{{tut.url}}/{% endcapture %}
                  {% assign count_videos = count_videos | plus:1 %}
                  {% include assessments-row.html prefix="Videos" title=tut.title value=videos_per clrs=doc.clr week=doc.title url=url %}
                {% endif %}
              {% endif %}
            {% endfor %}
            {% for exercise in doc.tasks %}
              {% if exercise.graded-as %}
                {% unless found_projects contains exercise.graded-as %}
                  {% capture count %}{{count | plus: 1}}{% endcapture %}
                  {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
                  {% assign slug = exercise.url | split: "/" | unique | last %}
                  {% assign disabled = true %}
                  {% assign count_projects = count_projects | plus:1 %}
                  {% if exercise.url %}{% unless exercise.disabled %}{% assign disabled = false %}{% endunless %}{% endif %}
                  {% include assessments-row.html prefix="Project" title=exercise.title value=projects_per clrs=doc.clr week=doc.title url=doc.url slug=slug disabled=disabled %}
                {% endunless %}
              {% else %}
                {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" or exercise.type == "attend-labs" %}{% continue %}{% endif %}
                {% capture count %}{{count | plus: 1}}{% endcapture %}
                {% if exercise.url contains "github.com" %}
                  {% assign slug = exercise.url | split: "/" | unique | last %}
                  {% assign url = doc.url %}
                {% elsif exercise.url contains "/" %}
                  {% assign slug = "" %}
                  {% assign url = exercise.url %}
                {% else %}
                  {% assign slug = "" %}
                  {% capture url %}/courses/{{page.collection}}/{{exercise.url}}/{% endcapture %}
                {% endif %}
                {% assign disabled = true %}
                {% if exercise.url %}{% unless exercise.disabled %}{% assign disabled = false %}{% endunless %}{% endif %}
                {% case exercise.type %}
                  {% when "lesson" %}
                    {% assign the_prefix = "Lesson" %}
                    {% assign the_value = activities_per %}
                    {% assign count_lessons = count_lessons | plus:1 %}
                  {% when "activity" %}
                    {% assign the_prefix = "Activity" %}
                    {% assign the_value = activities_per %}
                    {% assign count_activities = count_activities | plus:1 %}
                  {% else %}
                    {% assign the_prefix = "Exercise" %}
                    {% assign the_value = exercises_per %}
                    {% assign count_exercises = count_exercises | plus:1 %}
                {% endcase %}
                {% include assessments-row.html prefix=the_prefix title=exercise.title value=the_value clrs=doc.clr week=doc.title url=url slug=slug disabled=disabled %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12"><strong>{{count}} total assessments</strong></td>
            <td colspan="3"><strong>100%</strong></td>
            <td colspan="4"><strong>{{week_count}} weeks</strong></td>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="24">
              <em>
                {% if page.grades.videos %}{{count_videos}} video{% unless count_videos == 1 %}s{% endunless %},{% endif %}
                {{count_activities}} activit{% unless count_activities == 1 %}ies{% else %}y{% endunless %},
                {{count_lessons}} lesson{% unless count_lessons == 1 %}s{% endunless %},
                {{count_exercises}} exercise{% unless count_exercises == 1 %}s{% endunless %},
                {{count_projects}} project{% unless count_projects == 1 %}s{% endunless %}
              </em>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="force-print" id="week-view" role="tabpanel">
    <div class="visually-hidden force-print">
      <h2>Weeks</h2>
    </div>

    <ol class="list-group week-list push-0">
      {% assign count = 0 %}
      {% for week in page_data.docs %}
        {% if week.layout contains "week" %}
          {% capture week_time %}{{page.datetimes.year}}-W{{page.datetimes.start_week | plus: count}}{% endcapture %}
          {% capture count %}{{count | plus:1 }}{% endcapture %}
          <li class="push-1-2 no-page-break-inside">
            <i class="week-list-icon icon i-48" aria-label="Week {{count}}">
              <svg viewBox="0 0 256 256">
                {% if week.disabled %}
                  <circle fill="#63666a" cx="128" cy="110" r="110" />
                {% else %}
                  <circle cx="128" cy="110" r="110" />
                {% endif %}
                <text x="50%" y="160" text-anchor="middle" fill="#fff" font-size="180" font-weight="bold" font-style="normal">{{count}}</text>
              </svg>
            </i>
            <h2 class="push-1-8">
              {% if week.disabled %}
                <span class="color-grey-dark">{{week.topic}}</span>
              {% else %}
                <a href="{{week.url}}">{{week.topic}}</a>
              {% endif %}
            </h2>
            <div class="color-grey-dark italic">
              {% if page.datetimes.sections %}
                <time class="week-times" datetime="{{week_time}}">{{week_time}}</time>
                {% unless week.clr == "" %}—{% endunless %}
              {% endif %}
              {% unless week.clr == "" %}
                <span>CLRs: {{week.clr}}</span>
              {% endunless %}
            </div>
            <p class="push-0">{{week.desc}}</p>
            <div class="week-list-tasks-group micro">
              {% if week.slides or week.group_activities %}
                <ol class="week-list-tasks list-group-inline push-0">
                  {% for deck in week.slides %}
                    {% if deck.url and deck.url contains "/" %}
                      {% assign url_prefix="" %}
                    {% else %}
                      {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                    {% endif %}
                    <li>
                      <a class="href-no-print" {% if deck.url %}href="{{url_prefix}}{{deck.url}}"{% else %}data-state="disabled"{% endif %} {% if deck.disabled %}data-state="disabled"{% endif %}>{{deck.title}} slide deck</a>
                    </li>
                  {% endfor %}
                  {% for activity in week.group_activities %}
                    {% if activity.url and activity.url contains "/" %}
                      {% assign url_prefix="" %}
                    {% else %}
                      {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                    {% endif %}
                    <li>
                      <a class="href-no-print" {% if activity.url %}href="{{url_prefix}}{{activity.url}}"{% else %}data-state="disabled"{% endif %} {% if activity.disabled %}data-state="disabled"{% endif %}>{{activity.title}}</a>
                    </li>
                  {% endfor %}
                </ol>
              {% endif %}
              <ol class="week-list-tasks week-list-tasks-outside list-group-inline push-0">
                {% for task in week.video_tutorials %}
                  {% if task.videos %}
                    <li>
                      <a class="href-no-print" {% if task.url %}href="/topics/{{task.url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>{{task.title}} videos</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>
            <div class="week-list-tasks-group push micro">
              {% assign has_in_class_tasks = false %}
              {% for task in week.tasks limit:3 %}
                {% if task.type != "blank" and task.type != "watch-videos" or exercise.type == "attend-labs" %}
                  {% assign has_in_class_tasks = true %}
                {% endif %}
              {% endfor %}

              {% if has_in_class_tasks %}
                <ol class="week-list-tasks list-group-inline push-0">
                  {% for task in week.tasks limit:3 %}
                    {% if task.type != "blank" and task.type != "watch-videos" or exercise.type == "attend-labs" %}
                      {% if task.url contains "github.com" %}
                        {% capture url %}{{week.url}}#{{task.url | split: "/" | unique | last}}{% endcapture %}
                      {% elsif task.url and task.url contains "/" %}
                        {% assign url = task.url %}
                      {% else %}
                        {% capture url %}/courses/{{page.collection}}/{{task.url}}/{% endcapture %}
                      {% endif %}
                      <li>
                        <a class="href-no-print {% if task.graded-as %}icon-link{% endif %}" {% if task.url %}href="{{url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>
                          {% if task.graded-as %}
                            <span class="icon-label">{{task.title}}</span>
                            <i class="icon i-16"><svg><use xlink:href="#icon-star"></use></svg></i>
                          {% else %}
                            {{task.title}}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ol>
              {% endif %}
              {% if week.tasks[3].type != "blank" and week.tasks[3].type != "watch-videos" and week.tasks[3].type != "attend-labs" %}
                <ol class="week-list-tasks week-list-tasks-outside list-group-inline push-0">
                  {% for task in week.tasks offset:3 %}
                    {% if task.type != "blank" and task.type != "watch-videos" or exercise.type == "attend-labs" %}
                      {% if task.url contains "github.com" %}
                        {% capture url %}{{week.url}}#{{task.url | split: "/" | unique | last}}{% endcapture %}
                      {% elsif task.url and task.url contains "/" %}
                        {% assign url = task.url %}
                      {% else %}
                        {% capture url %}/courses/{{page.collection}}/{{task.url}}/{% endcapture %}
                      {% endif %}
                      <li>
                        <a class="href-no-print {% if task.graded-as %}icon-link{% endif %}" {% if task.url %}href="{{url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>
                          {% if task.graded-as %}
                            <span class="icon-label">{{task.title}}</span>
                            <i class="icon i-16"><svg><use xlink:href="#icon-star"></use></svg></i>
                          {% else %}
                            {{task.title}}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>

  {% if count == 0 %}
  <div class="pad-t pad-b-2">
    <p class="peta text-disabled push-1-2">We’re still working on transitioning this course to this new system.</p>
    <p class="peta text-disabled push-0">
      <a href="{{page.old_url}}"><strong>Check out {{page_data.title}} curriculum &rarr;</strong></a>
    </p>
  </div>
  {% endif %}

</div>

{% unless page.hide-marking-scheme %}
  <div class="section-muted pad-t pad-b-1-2 gutter-1-4" id="marking-scheme">
    {% if page.grades.videos and page.grades.projects and page.grades.activities %}
      {% assign column_width = "1-4" %}
    {% elsif page.grades.videos or page.grades.activities %}
      {% assign column_width = "1-3" %}
    {% else %}
      {% assign column_width = "1-2" %}
    {% endif %}
    <div class="wrapper">
      <h2 class="gutter-1-4 exa push-1-2"><span tabindex="0">Marking scheme</span></h2>
      <div class="grid push-1-2">
        {% if page.grades.activities %}
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0"><span tabindex="0">Activities & lessons</span></h3>
          <p class="mega"><strong>{{page.grades.activities}}%</strong> — <em>{{total_activities}} @ {{activities_per}}% each</em></p>
          <ul class="push-0">
            <li>Complete/incomplete</li>
            <li>Formative assessment</li>
          </ul>
        </div>
        {% endif %}
        {% if page.grades.videos %}
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0"><span tabindex="0">Videos</span></h3>
          <p class="mega"><strong>{{page.grades.videos}}%</strong> — <em>{{total_videos}} @ {{videos_per}}% each</em></p>
          <ul class="push-0">
            <li>Complete/incomplete</li>
            <li>Must reach 80% of playlist duration to receive pass</li>
            <li>Formative assessment</li>
          </ul>
        </div>
        {% endif %}
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0"><span tabindex="0">Exercises</span></h3>
          <p class="mega"><strong>{{page.grades.exercises}}%</strong> — <em>{{total_exercises}} @ {{exercises_per}}% each</em></p>
          <ul class="push-0">
            <li>Complete/incomplete</li>
            <li>Formative assessment</li>
          </ul>
        </div>
        {% if page.grades.projects %}
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0">
            <span class="icon-label" tabindex="0">Big projects</span>
            <i class="icon i-20"><svg><use xlink:href="#icon-star"></use></svg></i>
          </h3>
          <p class="mega"><strong>{{page.grades.projects}}%</strong> — <em>{{total_projects}} @ {{projects_per}}% each</em></p>
          <ul class="push-0">
            <li>Proof you learned everything</li>
            <li>Summative assessment</li>
          </ul>
        </div>
        {% endif %}
      </div>
      <h2 class="gutter-1-4 exa push-0" data-control="details" data-controls="grading-system" tabindex="0">Grading system</h2>
      <div class="pad-t milli force-print" id="grading-system">
        <div class="max-length gutter-1-4">
          <p>Algonquin College’s grading system is based on letter grades. Below are qualitative descriptions as well as numerical equivalents for the letter grades.</p>
          <p>To succeed in the Graphic Design program you must…</p>
          <ul>
            <li>Achieve a minimum passing grade of 50% (D-) in all courses across all levels</li>
            <li>Achieve a minimum cumulative grade of 63% (C / 2.0)</li>
          </ul>
          <p><a href="https://www.algonquincollege.com/policies/policy/aa14-grading-system/" rel="external">Refer to Algonquin’s policy to learn how to calculate your grade point average.</a></p>
        </div>
        <div class="grid push">
          <div class="unit [ xs-1 l-1-2 ] gutter-1-4">
            <div class="max-length">
              <h3>Grade designations</h3>
              <dl>
                <dt class="bold kilo">A — Excellent</dt>
                <dd class="push-1-2">Course learning requirements are met in a consistently outstanding manner.</dd>
                <dt class="bold kilo">B — Superior</dt>
                <dd class="push-1-2">Course learning requirements are met and exceed the requirements.</dd>
                <dt class="bold kilo">C — Satisfactory</dt>
                <dd class="push-1-2">Course learning requirements are met satisfactorily.</dd>
                <dt class="bold kilo">D — Marginal</dt>
                <dd class="push-1-2">Course learning requirements are met, but achieved at a marginal level. consistent, ongoing effort is required for continuing success in the program.</dd>
                <dt class="bold kilo">F — Unsatisfactory (failure)</dt>
                <dd class="push-0">Course learning requirements are not met. No credit is awarded.</dd>
              </dl>
            </div>
          </div>
          <div class="unit [ xs-1 l-1-2 ] gutter-1-4">
            <div class="max-length">
              <h3>Numeric value conversions</h3>
              <table class="push-0">
                <thead>
                  <tr>
                    <th scope="col">Percent grade</th>
                    <th scope="col">Letter grade</th>
                    <th scope="col">Numeric grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>90–100</td><td>A+</td><td>4.0</td></tr>
                  <tr><td>85–89</td><td>A</td><td>3.8</td></tr>
                  <tr><td>80–84</td><td>A-</td><td>3.6</td></tr>
                  <tr><td>77–79</td><td>B+</td><td>3.3</td></tr>
                  <tr><td>73–76</td><td>B</td><td>3.0</td></tr>
                  <tr><td>70–72</td><td>B-</td><td>2.7</td></tr>
                  <tr><td>67–69</td><td>C+</td><td>2.3</td></tr>
                  <tr><td>63–66</td><td>C</td><td>2.0</td></tr>
                  <tr><td>60–62</td><td>C-</td><td>1.7</td></tr>
                  <tr><td>57–59</td><td>D+</td><td>1.4</td></tr>
                  <tr><td>53–56</td><td>D</td><td>1.2</td></tr>
                  <tr><td>50–52</td><td>D-</td><td>1.0</td></tr>
                  <tr><td></td><td>F</td><td>0</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="max-length gutter-1-4">
          <p>Students are expected to meet evaluation and completion deadlines as stated in course outline and course section information documents. In circumstances where evaluation and/or completion deadlines are missed or student performance has been affected by a temporary or permanent disability (including mental health), interim or retroactive accommodations may be considered. In such instances, please consult your course faculty member. <a href="https://www.algonquincollege.com/policies/policy/aa21-deferred-evaluation/" rel="external">For other situations where deferral of evaluations may be warranted, please refer to college policy AA21.</a></p>
        </div>
      </div>
    </div>
  </div>

  {% if page.clr and page.ees and page.vlo %}
    <div class="section-muted pad-t-1-2 pad-b-1-4 gutter-1-4" id="vlo-ees-clr">
      <hr class="hr-medium">
      <div class="wrapper">
        <h2 class="gutter-1-4 exa" data-control="details" data-controls="clr" tabindex="0">Course learning requirements</h2>
        <div class="grid force-print" id="clr">
          {% for clr in page.clr %}
            <div class="unit [ xs-1 m-1-2 ] gutter-1-4 no-page-break-inside">
              <h3 class="kilo"><span class="tera normal italic">{{forloop.index}}</span><br>{{clr.title}}</h3>
            </div>
            <div class="unit [ xs-1 m-1-2 ] gutter-1-4 milli no-page-break-inside">
              <ul>
                {% for detail in clr.details %}
                  <li>{{detail}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>

        <h2 class="gutter-1-4 exa" data-control="details" data-controls="vlo" tabindex="0">Vocational learning outcomes</h2>
        <div class="gutter-1-4 milli force-print" id="vlo">
          {% include vlo-ees.html data=site.vlo values=page.vlo %}
        </div>

        <h2 class="gutter-1-4 exa" data-control="details" data-controls="ees" tabindex="0">Essential employability skills</h2>
        <div class="gutter-1-4 milli force-print" id="ees">
          {% include vlo-ees.html data=site.ees values=page.ees %}
        </div>
      </div>
    </div>
  {% endif %}
{% endunless %}

<div class="section-muted pad-t-1-2 pad-b-1-4 gutter-1-4" id="policies">
  <hr class="hr-medium">
  <div class="wrapper">
    <h2 class="gutter-1-4 exa" data-control="details" data-controls="program-policies" tabindex="0">Program policies</h2>
    <div class="gutter-1-4 milli force-print" id="program-policies">
      <div class="max-length">
        <h3>Evaluation/Earning Credit</h3>
        <p>The following will provide evidence of your learning achievement. In order to understand the importance of meeting deadlines in the field, students will be required to complete assignments and projects within a given period of time. Due to the nature of the Graphic Design industry, all late assignments, handed in within one hour after deadline (to be determined by instructor), will be given an F (value of 0 - 49%), depending on the quality. Any assignment handed in after these terms, not handed in (NHI) or Incomplete will be given a zero (0). For the student’s benefit, feedback on performance will be provided.</p>
        <p>Incomplete projects are those that do not meet all the criteria set out by the instructor for that particular project.</p>
        <h3>Passing &amp; Promotion</h3>
        <p>The Graphic Design program uses two determinants for student advancement to the next level of their studies: one is a minimum passing grade and the other is a minimum progression grade.</p>
        <p>The achievement levels are as follows:</p>
        <ol>
          <li>Achieve a minimum passing grade of 50% (D-) in all courses across all levels.</li>
          <li>Achieve a minimum cumulative grade of 63% (C / 2.0).</li>
        </ol>
        <p>Passing grades will be calculated at the end of the semester. Any students not meeting these minimum requirements will not be permitted to progress to the next level. Progression in the program also adheres to respective course pre- and co-requisites. Students must meet the eligibility requirements for each course at every level. Pre- and co-requisite requirements can be found in the course outlines. The Graphic Design program is integrated. Most classes in the higher levels depend upon students having the skills and knowledge from courses taken in earlier semesters. Students cannot take these courses without their prerequisites.</p>
        <h3>Projects</h3>
        <p>All assignments must be submitted as directed in writing, online and orally, in class. Each assignment has its own instructions. It is the student’s responsibility to adhere to the instructions for each assignment.</p>
        <p>Even if a deadline is missed, it is important for the student to submit the assignment. It will be held by the instructor. It could be used to increase the student’s grade at the faculty’s discretion.</p>
        <p><em>Note:</em></p>
        <ol>
          <li>Students who do not hand in a project on time or not at all, must initial and acknowledge this with their instructor in the instructor’s marking book.</li>
          <li>Students must retain all projects, tests and assignments handed back to them until the end of the semester.</li>
          <li>Organizing, naming and submitting files adhering to precise instructions is an important skill in the practice of Graphic Design. As such, 20% of all assignment values is based on adhering to instructions. These instructions will be given orally in class and/or online. If files are submitted in such a way that they are not usable to produce the final product, the student can earn a grade of zero on that assignment at the faculty’s discretion.</li>
        </ol>
        <h3>Plagiarism</h3>
        <p>Plagiarism is the submission of work that is in whole or in part someone else’s work that you claim as your own. You should be aware of the College policy on plagiarism (E-43), a new policy in effect August 29, 2005. Please see the Algonquin College web site for a detailed explanation of this policy. Plagiarism will result in a disciplinary action by the School of Media & Design.</p>
        <h3>Attendance</h3>
        <p>Students are expected to attend all scheduled classes. Attendance means arriving on time and staying for the entire class. In order to prevent disruptions of the class in progress, late students will be required to wait outside the classroom until the instructor opens the door to let them in.</p>
        <p>As a courtesy, students unable to attend a class are asked to notify the instructor before the start of the class.</p>
        <p>If a student misses class, they are responsible for getting information missed in that class. They assume all responsibility for any miscommunication that may arise in obtaining missed information and assignments outside of class time.</p>
        <p>This is not a correspondence course. In order to earn points for in-class assignments, students must be present in class. In the case of an un-excused absence, students can complete the assignment with the help of the online course material, but no points will be earned. Feedback will, however be provided on the student’s performance. If an absence is unavoidable, please communicate with faculty before the class to make them aware of it. Faculty will have the option to excuse your absence and allow completion of the assignment outside of class.</p>
        <h3>Resolving Grievances</h3>
        <p>When a student has a grievance related to a course, their first recourse must be to communicate with the faculty member in question. In order to avoid inappropriate confrontations, they must make an appointment to meet with faculty outside of class time in a private setting.</p>
        <p>If the grievance is not resolved, the student should meet with a program coordinator to seek redress. Failing resolution with the coordinator, the student will be directed to suggested next steps by that coordinator, depending on the circumstances of the situation.</p>
        <p>Students must avoid prematurely contacting chairs, deans and even the president of the college. They must adhere to the prescribed process. Skipping any of these steps will see the student returned to the appropriate person to proceed as described above.</p>
        <h3>Respect for Confidentiality</h3>
        <p>Students are required to respect the confidentiality of employer, client and/or patient information, interactions, and practices that occur either on Algonquin College premises, or at an affiliated clinical/field/co-op placement site. Concerns regarding clients, patients, and/or employer practices are to be brought to the attention of the program coordinator, or designated field/clinical/co-op placement supervisor so that they may be resolved collaboratively. Such concerns are not to be raised publicly either verbally, in writing, or in electronic forums. These matters are to be addressed through established program communication pathways.</p>
      </div>
    </div>
    <h2 class="gutter-1-4 exa" data-control="details" data-controls="college-policies" tabindex="0">College policies</h2>
    <div class="gutter-1-4 milli force-print" id="college-policies">
      <div class="max-length">
        <h3>Email</h3>
        <p>Algonquin College provides all full-time students with an e-mail account. This is the address that will be used when the College, your professors, or your fellow students communicate important information about your program or course events. It is your responsibility to ensure that you know how to send and receive e-mail using your Algonquin account and to check it regularly.</p>
        <h3>Students with disabilities</h3>
        <p>If you are a student with a disability, you are strongly encouraged to make an appointment at the Centre for Accessible Learning to identify your needs. Ideally, this should be done within the first month of your program, so that a Letter of Accommodation (LOA) can be provided to your professors. If you are a returning student, please ensure that professors are given a copy of your LOA each semester.</p>
        <h3>Retroactive accommodations</h3>
        <p>Students are expected to meet evaluation and completion deadlines as stated in course outline and course section information documents. In circumstances where evaluation and/or completion deadlines are missed or student performance has been affected by a temporary or permanent disability (including mental health), interim or retroactive accommodations may be considered. In such instances, please consult your course faculty member. For other situations where deferral of evaluations may be warranted, please refer to college policy AA21.</p>
        <h3>Academic integrity &amp; plagiarism</h3>
        <p>Adherence to acceptable standards of academic honesty is an important aspect of the learning process at Algonquin College. Academic work submitted by a student is evaluated on the assumption that the work presented by the student is their own, unless designated otherwise. <a href="https://www.algonquincollege.com/policies/policy/academic-discipline/" rel="external">For further details consult Algonquin College Policies AA18: Academic Dishonesty and Discipline and AA20: Plagiarism.</a></p>
        <h3>Student course feedback</h3>
        <p>It is Algonquin College’s policy to give students the opportunity to share their course experience by completing a student course feedback survey for each course they take. <a href="https://www.algonquincollege.com/policies/policy/course-assessment/" rel="external">For further details consult Algonquin College Policy AA25: Student Course Feedback.</a></p>
        <h3>Use of electronic devices in class</h3>
        <p>With the proliferation of small, personal electronic devices used for communications and data storage, Algonquin College believes there is a need to address their use during classes and examinations. During classes, the use of such devices is disruptive and disrespectful to others. During examinations, the use of such devices may facilitate cheating. <a href="https://www.algonquincollege.com/policies/policy/use-of-electronic-devices-in-the-academic-environment/" rel="external">For further details consult Algonquin College Policy AA32: Use of Electronic Devices in Class.</a></p>
        <h3>Transfer of credit</h3>
        <p>It is the student’s responsibility to retain course outlines for possible future use to support applications for transfer of credit to other educational institutions.</p>
        <p><strong>It is the student’s responsibility to refer to the <a href="http://www.algonquincollege.com/policies/" rel="external">Algonquin College Policies website for the most current information.</a></strong></p>
      </div>
    </div>
  </div>
</div>

<nav class="section-muted-medium pad-t-1-2 pad-b-1-2 no-print">
  <div class="wrapper gutter-1-2">
    <ul class="list-group controls push-0">
      {% if page.course_prev %}
        {% assign collection = site.collections | where: "label", page.course_prev | first %}
        <li class="controls-prev pad-t-1-4 pad-b-1-4">
          <a class="btn btn-muted" href="/courses/{{page.course_prev}}/">
            <i class="icon i-24 i-shift-left"><svg><use xlink:href="#icon-left"></use></svg></i>
            <span class="icon-label">{{collection.title}}</span>
          </a>
        </li>
      {% endif %}
      <li class="controls-start pad-t-1-4 pad-b-1-4">
        <a class="btn btn-muted" href="/courses/">
          <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-courses"></use></svg></i>
          <span class="icon-label">Courses</span>
        </a>
      </li>
      {% if page.course_next %}
        {% assign collection = site.collections | where: "label", page.course_next | first %}
        <li class="controls-next pad-t-1-4 pad-b-1-4">
          <a class="btn btn-muted" href="/courses/{{page.course_next}}/">
            <span class="icon-label">{{collection.title}}</span>
            <i class="icon i-24 i-shift-right"><svg><use xlink:href="#icon-right"></use></svg></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<script type="application/ld+json">{% include metadata/course.json prereq=page.prereq %}</script>
