---
layout: basic-inside
---

{% assign page_data = site.collections | where: "label", page.collection | first %}

{% assign total_exercises=0 %}
{% assign total_videos=0 %}
{% assign total_projects=0 %}
{% assign found_projects="" %}

{% for doc in page_data.docs %}
  {% unless doc.layout contains "week" %}{% continue %}{% endunless %}
  {% for tut in doc.video_tutorials %}
    {% if tut.videos and page.grades.videos %}
      {% capture total_videos %}{{total_videos | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
  {% for exercise in doc.tasks %}
    {% if exercise.graded-as %}
      {% unless found_projects contains exercise.graded-as %}
        {% capture total_projects %}{{total_projects | plus:1}}{% endcapture %}
        {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
      {% endunless %}
    {% else %}
      {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" %}{% continue %}{% endif %}
      {% capture total_exercises %}{{total_exercises | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign total_exercises_float = total_exercises | times: 1.0 %}
{% assign total_videos_float = total_videos | times: 1.0 %}
{% assign total_projects_float = total_projects | times: 1.0 %}

{% assign exercises_per = page.grades.exercises | divided_by: total_exercises_float | round: 1 %}
{% assign videos_per = page.grades.videos | divided_by: total_videos_float | round: 1 %}
{% assign projects_per = page.grades.projects | divided_by: total_projects_float | round: 1 %}

{% capture id %}{{page.collection | replace: "web-dev-", ""}}{% endcapture %}
{% unless id == "6" %}
  {% capture next %}{{id | plus: 1}}{% endcapture %}
{% else %}
  {% assign next=false %}
{% endunless %}

{% unless id == "1" %}
  {% capture prev %}{{id | minus: 1}}{% endcapture %}
{% else %}
  {% assign prev=false %}
{% endunless %}

<div class="header header--light">
  <div class="wrapper gutter-1-2 pad-b">
    <div class="grid">
      <div class="unit [ xs-1 m-3-5 ]">
        <table class="table-no-borders push-0">
          <thead>
            <tr>
              <th scope="col" colspan="9">Instructor</th>
              <th scope="col" colspan="7">Course code</th>
              <th scope="col" colspan="8">Prerequisites</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="9">
                {% if page.datetimes.sections %}
                  <a href="mailto:{{page.prof.email}}">{{page.prof.name}} {{page.prof.family_name}}</a>
                  <a class="link-box-no-mark" href="{{page.prof.url}}" rel="external" title="Visit {{page.prof.name}}’s website" aria-label="Visit {{page.prof.name}}’s website"><i class="icon i-16"><svg><use xlink:href="#icon-right"></use></svg></i></a>
                {% else %}
                  Self-directed
                {% endif %}
              </td>
              <td colspan="7">{{page.course_code}}</td>
              <td colspan="8">
                {% if page.prereq %}
                  <a href="/courses/web-dev-{{page.prereq}}/">Web Dev {{page.prereq}}</a>
                {% else %}
                  {% if prev and prev != "-1" %}<a href="/courses/web-dev-{{prev}}/">Web Dev {{prev}}</a>{% else %}None{% endif %}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="unit [ xs-1 m-2-5 ]">
        <table class="table-no-borders push-0">
          <thead>
            <tr>
              <th scope="col" colspan="8">Classes</th>
              <th scope="col" colspan="8">Labs</th>
              <th scope="col" colspan="8">Homework</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="8">{% if page.datetimes.sections %}{{page.hours}} h{% else %}None{% endif %}</td>
              <td colspan="8">{% if page.datetimes.labs %}15 h{% else %}None{% endif %}</td>
              <td colspan="8">~{% if page.datetimes.sections %}45{% else %}{{page.hours | plus:45}} h{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="wrapper gutter-1-2 pad-t pad-b-1-2">

  <ul class="list-group-inline mega no-print" role="tablist" hidden aria-hidden="true">
    <li class="push-r relative" role="presentation">
      <button class="color-grey-dark btn btn-invisible mega bold" href="/courses/{{page.collection}}/" role="tab" aria-controls="week-view" aria-selected="true">Week view</button>
      <span class="absolute w-1 text-center pin-tl pad-t"><i class="icon i-16"><svg><use xlink:href="#icon-down" /></svg></i></span>
    </li>
    <li class="push-r relative" role="presentation">
      <button class="color-grey-dark btn btn-invisible mega" href="/courses/{{page.collection}}/assessments/" role="tab" aria-controls="assessment-view">Assessment view</button>
      <span class="absolute w-1 text-center pin-tl pad-t" hidden aria-hidden="true"><i class="icon i-16"><svg><use xlink:href="#icon-down" /></svg></i></span>
    </li>
  </ul>
  <hr>

  {% assign found_projects = "" %}

  <div class="force-print" id="assessment-view" role="tabpanel" hidden aria-hidden="true">
    <div class="visually-hidden force-print">
      <h2>Assessments</h2>
    </div>

    <div class="table-wrapper scrollable">
      <table>
        <thead>
          <tr class="giga">
            <th scope="col" colspan="12">Assessment</th>
            <th scope="col" colspan="3">Value</th>
            <th scope="col" colspan="4">Week №</th>
            <th scope="col" colspan="5">CLRs</th>
          </tr>
        </thead>
        <tbody>
          {% assign count = 0 %}
          {% assign week_count = 0 %}
          {% for doc in page_data.docs %}
            {% unless doc.layout contains "week" %}{% continue %}{% endunless %}
            {% capture week_count %}{{week_count | plus: 1}}{% endcapture %}
            {% for tut in doc.video_tutorials %}
              {% if tut.videos and page.grades.videos %}
                {% capture count %}{{count | plus: 1}}{% endcapture %}
                {% capture url %}/topics/{{tut.url}}/{% endcapture %}
                {% include assessments-row.html prefix="Videos" title=tut.title value=videos_per clrs=doc.clr week=doc.title url=url %}
              {% endif %}
            {% endfor %}
            {% for exercise in doc.tasks %}
              {% if exercise.graded-as %}
                {% unless found_projects contains exercise.graded-as %}
                  {% capture count %}{{count | plus: 1}}{% endcapture %}
                  {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
                  {% assign slug = exercise.url | split: "/" | unique | last %}
                  {% assign disabled = true %}
                  {% if exercise.url %}{% unless exercise.disabled %}{% assign disabled = false %}{% endunless %}{% endif %}
                  {% include assessments-row.html prefix="Project" title=exercise.title value=projects_per clrs=doc.clr week=doc.title url=doc.url slug=slug disabled=disabled %}
                {% endunless %}
              {% else %}
                {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" %}{% continue %}{% endif %}
                {% capture count %}{{count | plus: 1}}{% endcapture %}
                {% if exercise.url contains "github.com" %}
                  {% assign slug = exercise.url | split: "/" | unique | last %}
                  {% assign url = doc.url %}
                {% elsif exercise.url contains "/" %}
                  {% assign slug = "" %}
                  {% assign url = exercise.url %}
                {% else %}
                  {% assign slug = "" %}
                  {% capture url %}/courses/{{page.collection}}/{{exercise.url}}/{% endcapture %}
                {% endif %}
                {% assign disabled = true %}
                {% if exercise.url %}{% unless exercise.disabled %}{% assign disabled = false %}{% endunless %}{% endif %}
                {% include assessments-row.html prefix="Exercise" title=exercise.title value=exercises_per clrs=doc.clr week=doc.title url=url slug=slug disabled=disabled %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12"><strong>{{count}} total assessments</strong></td>
            <td colspan="3"><strong>100%</strong></td>
            <td colspan="4"><strong>{{week_count}} weeks</strong></td>
            <td colspan="5"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="force-print" id="week-view" role="tabpanel">
    <div class="visually-hidden force-print">
      <h2>Weeks</h2>
    </div>

    <ol class="list-group week-list push-0">
      {% assign count = 0 %}
      {% for week in page_data.docs %}
        {% if week.layout contains "week" %}
          {% capture week_time %}{{page.datetimes.year}}-W{{page.datetimes.start_week | plus: count}}{% endcapture %}
          {% capture count %}{{count | plus:1 }}{% endcapture %}
          <li class="push-1-2 no-page-break-inside">
            <i class="week-list-icon icon i-48" aria-label="Week {{count}}">
              <svg viewBox="0 0 256 256">
                {% if week.disabled %}
                  <circle fill="#63666a" cx="128" cy="110" r="110" />
                {% else %}
                  <circle cx="128" cy="110" r="110" />
                {% endif %}
                <text x="50%" y="160" text-anchor="middle" fill="#fff" font-size="180" font-weight="bold" font-style="normal">{{count}}</text>
              </svg>
            </i>
            <h2 class="push-1-8">
              {% if week.disabled %}
                <span class="color-grey-dark">{{week.topic}}</span>
              {% else %}
                <a href="{{week.url}}">{{week.topic}}</a>
              {% endif %}
            </h2>
            <div class="color-grey-dark italic">
              {% if page.datetimes.sections %}
                <time class="week-times" datetime="{{week_time}}">{{week_time}}</time>
                {% unless week.clr == "" %}—{% endunless %}
              {% endif %}
              {% unless week.clr == "" %}
                <span>CLRs: {{week.clr}}</span>
              {% endunless %}
            </div>
            <p class="push-0">{{week.desc}}</p>
            <div class="week-list-tasks-group micro">
              {% if week.slides or week.group_activities %}
                <ol class="week-list-tasks list-group-inline push-0">
                  {% for deck in week.slides %}
                    {% if deck.url and deck.url contains "/" %}
                      {% assign url_prefix="" %}
                    {% else %}
                      {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                    {% endif %}
                    <li>
                      <a class="href-no-print" {% if deck.url %}href="{{url_prefix}}{{deck.url}}"{% else %}data-state="disabled"{% endif %} {% if deck.disabled %}data-state="disabled"{% endif %}>{{deck.title}} slide deck</a>
                    </li>
                  {% endfor %}
                  {% for activity in week.group_activities %}
                    {% if activity.url and activity.url contains "/" %}
                      {% assign url_prefix="" %}
                    {% else %}
                      {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                    {% endif %}
                    <li>
                      <a class="href-no-print" {% if activity.url %}href="{{url_prefix}}{{activity.url}}"{% else %}data-state="disabled"{% endif %} {% if activity.disabled %}data-state="disabled"{% endif %}>{{activity.title}}</a>
                    </li>
                  {% endfor %}
                </ol>
              {% endif %}
              <ol class="week-list-tasks week-list-tasks-outside list-group-inline push-0">
                {% for task in week.video_tutorials %}
                  {% if task.videos %}
                    <li>
                      <a class="href-no-print" {% if task.url %}href="/topics/{{task.url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>{{task.title}} videos</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>
            <div class="week-list-tasks-group push micro">
              {% assign has_in_class_tasks = false %}
              {% for task in week.tasks limit:3 %}
                {% if task.type != "blank" and task.type != "watch-videos" %}
                  {% assign has_in_class_tasks = true %}
                {% endif %}
              {% endfor %}

              {% if has_in_class_tasks %}
                <ol class="week-list-tasks list-group-inline push-0">
                  {% for task in week.tasks limit:3 %}
                    {% if task.type != "blank" and task.type != "watch-videos" %}
                      {% if task.url contains "github.com" %}
                        {% capture url %}{{week.url}}#{{task.url | split: "/" | unique | last}}{% endcapture %}
                      {% elsif task.url and task.url contains "/" %}
                        {% assign url = task.url %}
                      {% else %}
                        {% capture url %}/courses/{{page.collection}}/{{task.url}}/{% endcapture %}
                      {% endif %}
                      <li>
                        <a class="href-no-print {% if task.graded-as %}icon-link{% endif %}" {% if task.url %}href="{{url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>
                          {% if task.graded-as %}
                            <span class="icon-label">{{task.title}}</span>
                            <i class="icon i-16"><svg><use xlink:href="#icon-star"></use></svg></i>
                          {% else %}
                            {{task.title}}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ol>
              {% endif %}
              <ol class="week-list-tasks week-list-tasks-outside list-group-inline push-0">
                {% for task in week.tasks offset:3 %}
                  {% if task.type != "blank" and task.type != "watch-videos" %}
                    {% if task.url contains "github.com" %}
                      {% capture url %}{{week.url}}#{{task.url | split: "/" | unique | last}}{% endcapture %}
                    {% elsif task.url and task.url contains "/" %}
                      {% assign url = task.url %}
                    {% else %}
                      {% capture url %}/courses/{{page.collection}}/{{task.url}}/{% endcapture %}
                    {% endif %}
                    <li>
                      <a class="href-no-print {% if task.graded-as %}icon-link{% endif %}" {% if task.url %}href="{{url}}"{% else %}data-state="disabled"{% endif %} {% if task.disabled %}data-state="disabled"{% endif %}>
                        {% if task.graded-as %}
                          <span class="icon-label">{{task.title}}</span>
                          <i class="icon i-16"><svg><use xlink:href="#icon-star"></use></svg></i>
                        {% else %}
                          {{task.title}}
                        {% endif %}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>

  {% if count == 0 %}
  <div class="pad-t pad-b-2">
    <p class="peta text-disabled push-1-2">We’re still working on transitioning this course to this new system.</p>
    <p class="peta text-disabled push-0">
      <a href="{{page.old_url}}"><strong>Check out {{page_data.title}} curriculum &rarr;</strong></a>
    </p>
  </div>
  {% endif %}

</div>

{% unless page.hide-marking-scheme %}
  <div class="section-muted pad-t pad-b-1-2 gutter-1-4" id="marking-scheme">
    {% if page.grades.videos %}
      {% assign column_width = "1-3" %}
    {% else %}
      {% assign column_width = "1-2" %}
    {% endif %}
    <div class="wrapper">
      <h2 class="gutter-1-4 exa push-1-2"><span tabindex="0">Marking scheme</span></h2>
      <div class="grid push-1-2">
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0"><span tabindex="0">Exercises — {{page.grades.exercises}}%</span></h3>
          <p class="mega"><em>{{total_exercises}} exercises @ {{exercises_per}}% each.</em></p>
          <ul class="push-0">
            <li>Complete/incomplete — marked in class or automated.</li>
            <li>Personal feedback given at specific intervals.</li>
            <li>Formative assessment.</li>
          </ul>
        </div>
        {% if page.grades.videos %}
        <div class="unit [ xs-1 m-1-3 ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0"><span tabindex="0">Videos — {{page.grades.videos}}%</span></h3>
          <p class="mega"><em>{{total_videos}} video playlists @ {{videos_per}}% each.</em></p>
          <ul class="push-0">
            <li>Complete/incomplete — checked in lab/class time.</li>
            <li>Must reach 80% of playlist duration to receive pass.</li>
            <li>Summative assessment.</li>
          </ul>
        </div>
        {% endif %}
        <div class="unit [ xs-1 m-{{column_width}} ] pad-t-1-2 pad-b-1-2 gutter-1-4 no-page-break-inside">
          <h3 class="push-0">
            <span class="icon-label" tabindex="0">Big projects — {{page.grades.projects}}%</span>
            <i class="icon i-20"><svg><use xlink:href="#icon-star"></use></svg></i>
          </h3>
          <p class="mega"><em>{{total_projects}} milestones @ {{projects_per}}% each.</em></p>
          <ul class="push-0">
            <li>Letter grade.</li>
            <li>Proof you learned everything.</li>
          </ul>
        </div>
      </div>
      <h2 class="gutter-1-4 exa push-0" data-control="details" data-controls="grading-system" tabindex="0">Grading system</h2>
      <div class="pad-t milli force-print" id="grading-system">
        <div class="max-length gutter-1-4">
          <p>Algonquin College’s grading system is based on letter grades. Below are qualitative descriptions as well as numerical equivalents for the letter grades.</p>
          <p><em>You need to maintain a GPA above 1.7, with no grades below C-, to succeed in the program.</em> <a href="https://www.algonquincollege.com/policies/policy/aa14-grading-system/" rel="external">Refer to Algonquin’s policy to learn how to calculate your grade point average.</a></p>
        </div>
        <div class="grid">
          <div class="unit [ xs-1 l-1-2 ] gutter-1-4">
            <div class="max-length">
              <h3>Grade designations</h3>
              <dl>
                <dt class="bold kilo">A — Excellent</dt>
                <dd class="push-1-2">Course learning requirements are met in a consistently outstanding manner.</dd>
                <dt class="bold kilo">B — Superior</dt>
                <dd class="push-1-2">Course learning requirements are met and exceed the requirements.</dd>
                <dt class="bold kilo">C — Satisfactory</dt>
                <dd class="push-1-2">Course learning requirements are met satisfactorily.</dd>
                <dt class="bold kilo">D — Marginal</dt>
                <dd class="push-1-2">Course learning requirements are met, but achieved at a marginal level. consistent, ongoing effort is required for continuing success in the program.</dd>
                <dt class="bold kilo">F — Unsatisfactory (failure)</dt>
                <dd class="push-0">Course learning requirements are not met. No credit is awarded.</dd>
              </dl>
            </div>
          </div>
          <div class="unit [ xs-1 l-1-2 ] gutter-1-4">
            <div class="max-length">
              <h3>Numeric value conversions</h3>
              <table class="push-0">
                <thead>
                  <tr>
                    <th scope="col">Percent grade</th>
                    <th scope="col">Letter grade</th>
                    <th scope="col">Numeric grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>90–100</td><td>A+</td><td>4.0</td></tr>
                  <tr><td>85–89</td><td>A</td><td>3.8</td></tr>
                  <tr><td>80–84</td><td>A-</td><td>3.6</td></tr>
                  <tr><td>77–79</td><td>B+</td><td>3.3</td></tr>
                  <tr><td>73–76</td><td>B</td><td>3.0</td></tr>
                  <tr><td>70–72</td><td>B-</td><td>2.7</td></tr>
                  <tr><td>67–69</td><td>C+</td><td>2.3</td></tr>
                  <tr><td>63–66</td><td>C</td><td>2.0</td></tr>
                  <tr><td>60–62</td><td>C-</td><td>1.7</td></tr>
                  <tr><td>57–59</td><td>D+</td><td>1.4</td></tr>
                  <tr><td>53–56</td><td>D</td><td>1.2</td></tr>
                  <tr><td>50–52</td><td>D-</td><td>1.0</td></tr>
                  <tr><td></td><td>F</td><td>0</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if page.clr and page.ees and page.vlo %}
    <div class="section-muted pad-t-1-2 pad-b-1-4 gutter-1-4" id="vlo-ees-clr">
      <hr class="hr-medium">
      <div class="wrapper">
        <h2 class="gutter-1-4 exa" data-control="details" data-controls="clr" tabindex="0">Course learning requirements</h2>
        <div class="grid force-print" id="clr">
          {% for clr in page.clr %}
            <div class="unit [ xs-1 m-1-2 ] gutter-1-4 no-page-break-inside">
              <h3 class="kilo"><span class="tera normal italic">{{forloop.index}}</span><br>{{clr.title}}</h3>
            </div>
            <div class="unit [ xs-1 m-1-2 ] gutter-1-4 milli no-page-break-inside">
              <ul>
                {% for detail in clr.details %}
                  <li>{{detail}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>

        <h2 class="gutter-1-4 exa" data-control="details" data-controls="vlo" tabindex="0">Vocational learning outcomes</h2>
        <div class="gutter-1-4 milli force-print" id="vlo">
          {% include vlo-ees.html data=site.vlo values=page.vlo %}
        </div>

        <h2 class="gutter-1-4 exa" data-control="details" data-controls="ees" tabindex="0">Essential employability skills</h2>
        <div class="gutter-1-4 milli force-print" id="ees">
          {% include vlo-ees.html data=site.ees values=page.ees %}
        </div>
      </div>
    </div>
  {% endif %}
{% endunless %}

<nav class="section-muted-medium pad-t-1-2 pad-b-1-2 no-print">
  <div class="wrapper gutter-1-2">
    <ul class="list-group controls push-0">
      {% if prev and page.self_directed != true %}
        <li class="controls-prev pad-t-1-4 pad-b-1-4">
          <a class="btn btn-muted" href="/courses/web-dev-{{prev}}/">
            <i class="icon i-24 i-shift-left"><svg><use xlink:href="#icon-left" /></svg></i>
            <span class="icon-label">Web Dev {{prev}}</span>
          </a>
        </li>
      {% endif %}
      <li class="controls-start pad-t-1-4 pad-b-1-4">
        <a class="btn btn-muted" href="/courses/">
          <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-courses" /></svg></i>
          <span class="icon-label">Courses</span>
        </a>
      </li>
      {% if next and page.self_directed != true %}
        <li class="controls-next pad-t-1-4 pad-b-1-4">
          <a class="btn btn-muted" href="/courses/web-dev-{{next}}/">
            <span class="icon-label">Web Dev {{next}}</span>
            <i class="icon i-24 i-shift-right"><svg><use xlink:href="#icon-right" /></svg></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<script type="application/ld+json">{% include metadata/course.json id=id pre=prev %}</script>
