{% assign page_data = site.collections | where: "label", page.collection | first %}
{% capture number %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-0', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}
{% capture title %}{% if page.title %}{{page.title}}{% else %}Week {{number}}{% endif %} · {{page_data.title}}{% endcapture %}

<!DOCTYPE html>
<html lang="en-ca">
<head>
  {% include head.html title=title %}
  <link href="/css/main-course.min.css?v={{site.version}}" rel="stylesheet">
  {{page.head}}
</head>
<body>

{% include icons.html %}
{% include icons-course.html %}
{% include masthead-micro.html no_wrapper=layout.no_wrapper %}

{{content}}

<script>{% include fontfaceobserver.js %}</script>
<script>{% include alegreya-observer.min.js %}</script>
<script>{% include source-code-pro-observer.min.js %}</script>
<script src="/js/course.min.js?v={{site.version}}"></script>
{% if page.layout contains "week" %}
  <script src="/js/assignment-viewer.min.js" async></script>
{% endif %}

</body>
</html>
