{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}

{% if site.data.setup contains slug %}
  {% assign groupdata = site.data.setup %}
{% elsif site.data.web-dev-1 contains slug %}
  {% assign groupdata = site.data.web-dev-1 %}
{% elsif site.data.web-dev-2 contains slug %}
  {% assign groupdata = site.data.web-dev-2 %}
{% elsif site.data.web-dev-3 contains slug %}
  {% assign groupdata = site.data.web-dev-3 %}
{% elsif site.data.web-dev-4 contains slug %}
  {% assign groupdata = site.data.web-dev-4 %}
{% elsif site.data.web-dev-5 contains slug %}
  {% assign groupdata = site.data.web-dev-5 %}
{% elsif site.data.web-dev-6 contains slug %}
  {% assign groupdata = site.data.web-dev-6 %}
{% elsif site.data.whats-next contains slug %}
  {% assign groupdata = site.data.whats-next %}
{% endif %}

{% assign details = groupdata[slug] %}
<!DOCTYPE html>
<html lang="en-ca">
<head>
  {% include head.html %}
  {% if page.url == "/topics/" %}
  <link href="/css/main-topics.min.css?v={{site.version}}" rel="stylesheet">
  {% elsif page.url contains "/topics/" or page.url contains "/get-help/" %}
  <link href="/css/main-article.min.css?v={{site.version}}" rel="stylesheet">
  {% elsif page.url == "/" %}
  <link href="/css/main-home.min.css?v={{site.version}}" rel="stylesheet">
  <link href="/topics/" rel="prerender">
  {% endif %}
  {{page.head}}
</head>
<body {% if page.hasCourseNav %}class="body-no-border"{% endif %}>

  {% include icons.html %}

  {{content}}

  <div class="footer-wrap pad-t-1-2 pad-b-1-2">
    <footer class="footer grid wrapper gutter-1-2" role="contentinfo">
      <div class="unit [ xs-1 s-1 m-2-5 unit-push-m-3-5 l-2-5 ]">
        <ul class="list-group footer-links micro">
          <li>
            <a class="icon-link link-box link-box-no-mark" href="/get-help/" rel="external">
              <i class="icon i-18"><svg><use xlink:href="#icon-help"/></svg></i>
              <strong class="icon-label">Get help</strong>
            </a>
          </li>
          <li>
            <a class="icon-link link-box link-box-no-mark" href="/solutions/" rel="external">
              <i class="icon i-18"><svg><use xlink:href="#icon-victory"/></svg></i>
              <span class="icon-label">Solutions for teachers</span>
            </a>
          </li>
          <li class="push-1-2">
            <a class="icon-link link-box link-box-no-mark" href="/schedule/" rel="external">
              <i class="icon i-16"><svg><use xlink:href="#icon-courses"/></svg></i>
              <span class="icon-label">Term schedule</span>
            </a>
          </li>
        </ul>
        <ul class="list-group-inline footer-links micro">
          <li class="push-r-1-4">
            <a class="icon-link link-box link-box-no-mark" href="https://github.com/acgd-learn-the-web" rel="external">
              <i class="icon i-18"><svg><use xlink:href="#icon-github"/></svg></i>
              <span class="icon-label">GitHub</span>
            </a>
          </li>
          <li class="push-r-1-4">
            <a class="icon-link link-box link-box-no-mark" href="https://www.youtube.com/user/acinteractivedesign" rel="external">
              <i class="icon i-18"><svg><use xlink:href="#icon-play"/></svg></i>
              <span class="icon-label">YouTube</span>
            </a>
          </li>
          <li>
            <a class="icon-link link-box link-box-no-mark" href="https://github.com/acgd-learn-the-web/topics/issues" rel="external">
              <i class="icon i-18"><svg><use xlink:href="#icon-bug"/></svg></i>
              <span class="icon-label">Feedback</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="unit [ xs-1 s-1 m-3-5 unit-pull-m-2-5 l-3-5 ]">
        <small class="copyright micro">© Algonquin College Graphic Design — <a href="http://algonquindesign.ca/">algonquindesign.ca</a>.</small>
        <small class="copyright micro">All code for this website licensed under the <a href="https://github.com/acgd-learn-the-web/acgd-learn-the-web.github.io/blob/master/LICENSE" rel="license">MIT License</a>.</small>
        <small class="copyright micro">All tutorial code licensed under the <a href="https://github.com/acgd-learn-the-web/topics/blob/master/UNLICENSE" rel="license">Unlicense</a>.</small>
        <small class="copyright micro">All text, imagery, design, tutorials &amp; videos licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC BY-NC-SA License</a>.</small>
        <small class="copyright micro push-1-4">Unless otherwise noted.</small>
        <p class="copyright micro push-0 italic">Last build — <a href="https://github.com/acgd-learn-the-web/topics/commits/master" rel="external">{{ site.time | date: "%F %R" }} UTC</a>.</p>
      </div>
    </footer>
  </div>

  <script>var slug = '{{page.url | split: '/' | uniq | last}}';</script>
  <script>{% include fontfaceobserver.js %}</script>
  <script>{% include alegreya-observer.min.js %}</script>
  <script src="/js/common.min.js?v={{site.version}}" async></script>
  {% if page.url == "/topics/" %}
    <script src="/js/topics.min.js?v={{site.version}}" async></script>
  {% elsif page.url contains "/topics/" or page.url contains "/get-help/" %}
    <script src="/js/article.min.js?v={{site.version}}" defer></script>
    <script>{% include source-code-pro-observer.min.js %}</script>
    <script>
      var path = window.location.pathname.replace('/topics/', '').replace('/', '');
      localStorage.setItem('visited-' + path, true);
    </script>
  {% endif %}
</body>
</html>
