{% capture slug %}{{page.url | replace_first: "/topics/", "" | replace: "/", ""}}{% endcapture %}
<!DOCTYPE html>
<html lang="en-ca">
<head>
  {% include head.html %}
  {% if page.url == "/topics/index.html" %}
  <link href="/css/main-topics.min.css?v={{site.version}}" rel="stylesheet">
  {% elsif page.url contains "/topics/" or page.url contains "/get-help/" %}
  <link href="/css/main-article.min.css?v={{site.version}}" rel="stylesheet">
  {% elsif page.url == "/" %}
  <link href="/css/main-home.min.css?v={{site.version}}" rel="stylesheet">
  <link href="/topics/" rel="prerender">
  <link href="/courses/" rel="prerender">
  {% endif %}
  {{layout.head}}
  {{page.head}}
</head>
<body {% if page.hasCourseNav %}class="body-no-border"{% endif %}>

  {% if page.skip_links or layout.skip_links %}
    <ul class="skip-links">
      {{page.skip_links}}
      {{layout.skip_links}}
    </ul>
  {% endif %}

  {% include icons.html %}

  {{content}}

  {% include footer.html %}

  <script>var slug = '{{page.url | split: '/' | uniq | last}}';</script>
  <script>{% include fontfaceobserver.js %}</script>
  <script>{% include alegreya-observer.min.js %}</script>
  <script src="/js/common.min.js?v={{site.version}}" async></script>
  {% if page.url == "/topics/index.html" %}
    <script src="/js/topics.min.js?v={{site.version}}" async></script>
  {% elsif page.url contains "/topics/" or page.url contains "/get-help/" %}
    <script src="/js/article.min.js?v={{site.version}}" defer></script>
    <script>{% include source-code-pro-observer.min.js %}</script>
    <script>
      var path = window.location.pathname.replace('/topics/', '').replace('/', '');
      localStorage.setItem('visited-' + path, true);
    </script>
  {% endif %}

  <script type="application/ld+json">{% include metadata/main.json %}</script>
  <script type="application/ld+json">{% include metadata/faculty.json %}</script>
</body>
</html>
