<!DOCTYPE html>
<html lang="en-ca">
<head>
  {% include head.html %}
  <style>
    .gear-light {
      animation: spin 2s linear infinite;
      stroke: none;
      transform-origin: 80.8px 80.8px;
    }

    .gear-dark {
      animation: spin 2s linear reverse infinite;
      stroke: none;
      transform-origin: 176.3px 176.3px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>
<body class="notfound">

  {% include icons.html %}
  {% include inside-nav.html %}

  {{content}}

  {% include footer.html %}

</body>
</html>
