{% assign page_data = site.collections | where: "label", page.collection | first %}
<!DOCTYPE html>
<html lang="en-ca">
<head>
  {% include head.html %}
  <link href="/css/main-course.min.css?v={{site.version}}" rel="stylesheet">
  {{page.head}}
</head>
<body class="slide-deck">

{% include icons.html %}

<main class="main-fill grid grid-stretch">
  {% assign count = 0 %}
  {% assign slide_week = 0 %}
  {% for week in page_data.docs %}
    {% if week.layout == "week" %}
      {% capture count %}{{count | plus:1 }}{% endcapture %}
      {% for slide in week.slides %}
        {% if slide.url contains page.slug %}
          {% assign slide_week = count %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% capture slide_week_size %}{{slide_week | size}}{% endcapture %}
  {% if slide_week_size == "1" %}
    {% capture slide_week_padded %}0{{slide_week}}{% endcapture %}
  {% else %}
    {% assign slide_week_padded = slide_week %}
  {% endif %}

  {% for slide in page.slides %}
    {% if slide.type %}
      {% assign slide_type=slide.type %}
    {% else %}
      {% assign slide_type="big-text" %}
    {% endif %}
    <div class="slide unit xs-1 center wrapper gutter-1-2" id="slide-{{forloop.index}}">
      {% include slides/{{slide_type}}.html data=slide collection_label=page.collection %}
      <nav class="slide-nav milli">
        <ul class="list-group-inline push-0">
          <li class="text-right gutter-1-4">
            <a class="slide-nav-prev btn btn-ghost" {% if forloop.first == false %}href="#slide-{{forloop.index | minus: 1}}"{% else %}data-state="disabled"{% endif %}>
              <i class="icon i-16"><svg><use xlink:href="#icon-left" /></svg></i>
              <span class="icon-label">Previous</span>
            </a>
          </li>
          <li class="text-left gutter-1-4">
            <a class="slide-nav-next btn btn-ghost" {% if forloop.last == false %}href="#slide-{{forloop.index | plus: 1}}"{% else %}data-state="disabled"{% endif %}>
              <span class="icon-label">Next</span>
              <i class="icon i-16"><svg><use xlink:href="#icon-right" /></svg></i>
            </a>
          </li>
          <li class="text-right gutter-1-4">
            <a class="btn btn-ghost micro" href="/courses/{{page.collection}}/">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-nav" /></svg></i>
              <span class="icon-label">{{page_data.title}}</span>
            </a>
          </li>
          <li class="text-right gutter-1-4">
            <a class="btn btn-ghost micro" href="/courses/{{page.collection}}/week-{{slide_week_padded}}/">
              <i class="icon i-16 push-r-1-4"><svg><use xlink:href="#icon-courses" /></svg></i>
              <span class="icon-label">Week {{slide_week_padded}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  {% endfor %}

  <div class="slide-start unit center">
    <a class="btn yotta" href="#slide-1">
      <span class="icon-label push-r-1-2">Start</span>
      <i class="icon i-48"><svg><use xlink:href="#icon-right" /></svg></i>
    </a>
  </div>

</main>

{% include masthead-micro.html %}

<script>{% include fontfaceobserver.js %}</script>
<script>{% include alegreya-observer.min.js %}</script>
<script>{% include source-code-pro-observer.min.js %}</script>
<script src="/js/course.min.js?v={{site.version}}"></script>
<script src="/js/slide-deck.min.js?v={{site.version}}"></script>

</body>
</html>
