---
layout: default
---

<div class="masthead-wrap pad-t-1-2 pad-b-1-2">
  <header class="masthead grid grid-middle wrapper gutter-1-2 pad-b-1-2">
    <div class="unit [ xs-1-2 ]">
      <a class="logo" href="/"><img class="flex" src="/images/logo.svg" alt="Learn the Web"></a>
    </div>
    <nav class="unit [ xs-1-2 ] text-right">
      <a class="btn btn--ghost pad-t-1-4 pad-b-1-4 gutter-1-2" href="/">
        <i class="icon i--24 i--push-right"><svg><use xlink:href="#icon-left" /></svg></i>
        <span class="icon-text contents-link">Home</span>
      </a>
    </nav>
  </header>
</div>

{{content}}
