---
layout: course-inside
no_wrapper: true
---

{% capture number %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-0', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}
{% capture number_leading_zero %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}
{% assign page_data = site.collections | where: "label", page.collection | first %}

{% assign weight_exercises=0 %}
{% assign weight_videos=0 %}
{% assign weight_projects=0 %}

{% for doc in page_data.docs %}
  {% if doc.slug == "index" %}
    {% assign weight_exercises = doc.grades.exercises %}
    {% assign weight_videos = doc.grades.videos %}
    {% assign weight_projects = doc.grades.projects %}
  {% endif %}
{% endfor %}

{% assign total_exercises=0 %}
{% assign total_videos=0 %}
{% assign total_projects=0 %}
{% assign found_projects="" %}

{% for doc in page_data.docs %}
  {% unless doc.layout == "week" %}{% continue %}{% endunless %}
  {% for tut in doc.video_tutorials %}
    {% if tut.videos %}
      {% capture total_videos %}{{total_videos | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
  {% for exercise in doc.tasks %}
    {% if exercise.graded-as %}
      {% unless found_projects contains exercise.graded-as %}
        {% capture total_projects %}{{total_projects | plus:1}}{% endcapture %}
        {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
      {% endunless %}
    {% else %}
      {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" %}{% continue %}{% endif %}
      {% capture total_exercises %}{{total_exercises | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign total_exercises_float = total_exercises | times: 1.0 %}
{% assign total_videos_float = total_videos | times: 1.0 %}
{% assign total_projects_float = total_projects | times: 1.0 %}

{% assign exercises_per = weight_exercises | divided_by: total_exercises_float | round: 1 %}
{% assign videos_per = weight_videos | divided_by: total_videos_float | round: 1 %}
{% assign projects_per = weight_projects | divided_by: total_projects_float | round: 1 %}

<main class="main-fill grid grid-stretch">

  <div class="class class-during unit [ xs-1 l-3-5 ] gutter-1-4 pad-b-1-4 unit-content-distribute">
    <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4">{% if page.during_class %}{{page.during_class}}{% else %}During class{% endif %} <span class="right normal italic">Week {{number_leading_zero}}</span></h2>

    <div class="class-desc content-fill gutter-1-4">
      <p>{{page.desc}}</p>

      <div class="grid">
        <div class="unit [ xs-1 m-1-2 ]">
          <h3 class="mega push-0">Videos & tutorials</h3>
          <ul class="list-group milli">
            {% if page.video_tutorials %}
              {% for link in page.video_tutorials %}
                <li>
                  {% if link.highlight %}<strong>{% endif %}
                    {% if link.url contains "http://" or link.url contains "https://" %}
                      <a href="{{link.url}}">{{link.title}} »</a>
                    {% else %}
                      <a {% if link.url %}href="/topics/{{link.url}}{% unless link.url contains "#" %}/{% endunless %}"{% endif %}>{{link.title}}</a>
                    {% endif %}
                  {% if link.highlight %}</strong>{% endif %}
                  {% if link.videos %}
                    <span class="color-grey week-video-checked" title="These videos should be watched." aria-label="These videos will be checked.">&nbsp;<i class="icon i-16"><svg><use xlink:href="#icon-play" /></svg></i>{% if link.video_percent %}&nbsp;&nbsp;(only {{link.video_percent}}% required){% endif %}</span>
                  {% endif %}
                  {% if link.notes %}
                    <span class="italic micro block text-disabled">({{link.notes}})</span>
                  {% endif %}
                </li>
              {% endfor %}
            {% else %}
              <li><span class="italic micro block text-disabled">(No videos or tutorials to learn this week.)</span></li>
            {% endif %}
          </ul>
        </div>
        <div class="unit [ xs-1 m-1-2 ]">
          {% if page.slides %}
            <h3 class="mega push-0">Slides</h3>
            <ul class="list-group milli">
              {% for link in page.slides %}
                {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                {% if link.url contains "/" %}
                  {% assign url_prefix="" %}
                {% endif %}
                <li><a {% if link.url %}href="{{url_prefix}}{{link.url}}"{% else %}data-state="disabled"{% endif %}>{{link.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.group_activities %}
            <h3 class="mega push-1-4">Class activities</h3>
            <ul class="push-1-2 list-group milli">
              {% for link in page.group_activities %}
                {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                {% if link.url contains "/" %}
                  {% assign url_prefix="" %}
                {% endif %}
                <li class="push-1-4">
                  <a class="btn btn-ghost" {% if link.url %}href="{{url_prefix}}{{link.url}}"{% else %}data-state="disabled"{% endif %}>
                    <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-{{link.type}}" /></svg></i>
                    {% if link.pair %}
                      <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-pair" /></svg></i>
                    {% endif %}
                    <span class="icon-label inline-block push-r-1-4">{{link.title}}</span>
                    <i class="icon i-18"><svg><use xlink:href="#icon-right" /></svg></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.next_week_notes %}
            <h3 class="mega push-1-4">Notes for next week</h3>
            <ul class="italic milli">
              {% for note in page.next_week_notes %}
                <li>{{note}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% assign card_num=0 %}
    <ul class="list-group grid grid-bottom">
      <li class="unit [ xs-1 m-1-3 ] gutter-1-4 pad-t pad-b-1-4">
        {% if page.tasks[0] %}
          {% if page.tasks[0].type != "blank" %}
            {% assign data = page.tasks[0] %}
            {% assign card_num=1 %}
            {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
          {% else %}
            {% include card.html data=site.no_activities collection=page.collection %}
          {% endif %}
        {% else %}
          {% include card.html data=site.no_activities collection=page.collection %}
        {% endif %}
      </li>
      <li class="unit [ xs-1 m-1-3 ] gutter-1-4 pad-t pad-b-1-4">
        {% if page.tasks[1] %}
          {% if page.tasks[1].type != "blank" %}
            {% assign data = page.tasks[1] %}
            {% assign card_num=card_num | plus:1 %}
            {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
          {% else %}
            {% include card.html data=site.no_lessons collection=page.collection %}
          {% endif %}
        {% else %}
          {% include card.html data=site.no_lessons collection=page.collection %}
        {% endif %}
      </li>
      <li class="unit [ xs-1 m-1-3 ] gutter-1-4 pad-t pad-b-1-4">
        {% if page.tasks[2] %}
          {% if page.tasks[2].type != "blank" %}
            {% assign data = page.tasks[2] %}
            {% assign card_num=card_num | plus:1 %}
            {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
          {% else %}
            {% include card.html data=site.no_exercises collection=page.collection %}
          {% endif %}
        {% else %}
          {% include card.html data=site.no_exercises collection=page.collection %}
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="class class-outside unit [ xs-1 l-2-5 ] gutter-1-4 pad-b-1-4 unit-content-distribute">
    <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4">Outside class</h2>

    <div class="class-desc content-fill gutter-1-4">
      {% capture week_include %}week/{{page.collection}}.html{% endcapture %}
      {% include {{week_include}} no_lab_times=page.no_lab_times no_office_hours=page.no_office_hours %}
      <a href="/get-help/" class="btn btn-muted italic push-r">
        <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-help" /></svg></i>
        <span class="icon-label">I need more help!</span>
      </a>
      <a class="link-subtle" href="/schedule/">See full schedule</a>
    </div>

    <ul class="list-group grid grid-bottom">
      <li class="unit [ xs-1 m-1-2 ] gutter-1-4 pad-t pad-b-1-4">
        {% if page.tasks[3].type == "blank" %}
          {% include card.html data=site.no_exercises collection=page.collection %}
        {% else %}
          {% assign data = page.tasks[3] %}
          {% assign card_num=card_num | plus:1 %}
          {% include card.html data=data collection=page.collection num=card_num due="Before next class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
        {% endif %}
      </li>
      <li class="unit [ xs-1 m-1-2 ] gutter-1-4 pad-t pad-b-1-4">
        {% if page.tasks[4].type != "blank" %}
          {% if page.tasks[4] and page.tasks[4].type != "watch-videos" %}
            {% assign data = page.tasks[4] %}
            {% assign card_num=card_num | plus:1 %}
            {% include card.html data=data collection=page.collection num=card_num due="Before next class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
          {% else %}
            {% assign next_url=number | plus:1 %}
            {% if page.tasks[4] and page.tasks[4].type == "watch-videos" %}
              {% assign card_data=site.watch_videos %}
            {% else %}
              {% assign card_data=site.next_week %}
            {% endif %}
            {% if next_url < 9 %}
              {% capture next_url %}week-0{{next_url}}{% endcapture %}
            {% else %}
              {% capture next_url %}week-{{next_url}}{% endcapture %}
            {% endif %}
            {% include card.html data=card_data collection=page.collection url=next_url %}
          {% endif %}
        {% endif %}
      </li>
    </ul>
  </div>

</main>

<div class="assignment-viewer assignment-viewer-hidden" id="assignment-viewer" hidden aria-hidden="true">
  <button class="assignment-close-btn" id="assignment-close-btn" title="Close assignment" aria-label="Close assignment" aria-controls="assignment-viewer">×</button>
  <article class="assignment-wrapper" tabindex="-1">
    <meta property="assignment-code" content="Fork + Markbot">
    <meta property="assignment-online" content="Submit to Canvas">
    <meta property="assignment-show" content="Show teacher">
    <meta property="assignment-download" content="Download files">
    <header class="assignment-header gutter pad-t-1-2 pad-b-1-2">
      <h2 class="exa push-0">
        <span class="assignment-name icon-label push-r-1-4" tabindex="0">Exercise</span>
        <i class="icon i-32"><svg xmlns:xlink="http://www.w3.org/1999/xlink"><use id="assignment-icon" xlink:href="#icon-code" /></svg></i>
      </h2>
      <div class="gutter pad-t-1-2 assignment-btn-wrap">
        <ul class="list-group-inline">
          <li class="valign-middle assignment-download-btn-wrap" hidden>
            <a class="assignment-download-btn btn btn-dark micro bold" href="#" aria-label="Download files…" title="Download files…" download>
              <i class="icon i-24"><svg><use xlink:href="#icon-down" /></svg></i>
            </a>
          </li>
          <li class="valign-middle assignment-download-plus bold exa" hidden>+</li>
          <li class="valign-middle"><a class="assignment-btn btn btn-dark micro bold" href="#">Fork + Markbot</a></li>
        </ul>
      </div>
    </header>
    <div class="assignment-content-wrapper">
      <div class="assignment-sub-header gutter pad-b-1-2">
        <p class="assignment-summary push-1-4 italic" hidden></p>
        <p class="assignment-summary-default push-1-4 italic" aria-label="Loading…"><span class="default-state">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit consectetuer adipiscing elit.</span></p>
      </div>
      <footer class="assignment-footer gutter pad-t-1-2 pad-b-1-2">
        <dl class="list-group-inline push-0">
          <dt>Due</dt>
          <dd class="assignment-due push-0 bold"></dd>
          <dt>Worth</dt>
          <dd class="push-0 bold"><span class="assignment-worth"></span>% <span class="assignment-grading-type-wrap">(<span class="assignment-grading-type"></span>)</span></dd>
          <dt>Satisfies</dt>
          <dd class="push-0 bold"><a class="assignment-satisfies link-subtle" href="/courses/{{page.collection}}/#vlo-ees-clr"></a></dd>
          <dt class="assignment-time-heading">Approx. completion time</dt>
          <dd class="assignment-time push-0 bold" hidden></dd>
          <dd class="assignment-time-default push-0 bold" aria-label="Loading…"><span class="default-state">Lorem ipsum</span></dd>
          <dt class="assignment-deliverables-heading">Deliverables</dt>
          <dd class="assignment-deliverables push-0 bold" hidden></dd>
          <dd class="assignment-deliverables-default push-0 bold" aria-label="Loading…"><span class="default-state">Lorem ipsum dolor sit amet.</span></dd>
        </dl>
      </footer>
      <div class="assignment-loader text-center" id="assignment-loader" aria-label="Loading…" title="Loading…">
        <i class="icon i-64">
          <svg viewBox="0 0 256 256" width="256" height="256">
            <path fill="#00deaf" class="gear-light" d="M151.3 86.9a51.3 51.3 0 0 0 .2-6.1 51.3 51.3 0 0 0-.2-6.1l-12-.9a57.9 57.9 0 0 0-4.3-15.9l9.9-6.8a59.2 59.2 0 0 0-6.1-10.6l-10.9 5a59.6 59.6 0 0 0-11.6-11.6l5.3-10.9a59.2 59.2 0 0 0-10.6-6.2l-7.1 9.7a60.2 60.2 0 0 0-15.8-4.2l-.9-12a57.5 57.5 0 0 0-6.4-.2 51.3 51.3 0 0 0-6.1.2l-.9 12A57.9 57.9 0 0 0 58 26.5l-7-9.7A59.2 59.2 0 0 0 40.4 23l5 10.9a68.4 68.4 0 0 0-11.8 11.5l-10.6-5A59.2 59.2 0 0 0 16.8 51l9.7 6.8a59.5 59.5 0 0 0-4.2 16l-11.8.9a23 23 0 0 0-.5 5.9 51.3 51.3 0 0 0 .2 6.1l11.8.9a59.5 59.5 0 0 0 4.2 16l-9.7 6.8a59.2 59.2 0 0 0 6.1 10.6l10.6-5A54.8 54.8 0 0 0 45 127.6l-5 10.9a59.2 59.2 0 0 0 10.6 6.1l6.8-9.7a60.2 60.2 0 0 0 15.8 4.2l.9 12h6.4a51.3 51.3 0 0 0 6.1-.2l.9-12a60.2 60.2 0 0 0 15.8-4.2l6.8 9.9a59.2 59.2 0 0 0 10.6-6.1l-5-11.1a53.7 53.7 0 0 0 11.6-11.6l10.9 5.2a59.2 59.2 0 0 0 6.1-10.6l-9.7-6.8a60.2 60.2 0 0 0 4.2-15.8zm-70.5 29.3a35.4 35.4 0 1 1 35.4-35.4 35.3 35.3 0 0 1-35.4 35.4z"/>
            <path fill="#00675a" class="gear-dark" d="M242.8 200.6a51.3 51.3 0 0 0 1.8-5.9 51.3 51.3 0 0 0 1.4-6l-11.4-4a57.9 57.9 0 0 0 0-16.4l11.3-4a59.2 59.2 0 0 0-3.2-11.8l-11.8 2a59.6 59.6 0 0 0-8.1-14.2l7.8-9.1a59.2 59.2 0 0 0-8.7-8.7l-9.4 7.5a60.2 60.2 0 0 0-14.2-8.2l2.2-11.9a57.5 57.5 0 0 0-6.1-1.9 51.3 51.3 0 0 0-6-1.4l-4 11.4a57.9 57.9 0 0 0-16.4 0l-4.1-11.1a59.2 59.2 0 0 0-11.8 3.2l2 11.8a68.4 68.4 0 0 0-14.4 8.1l-9-7.5a59.2 59.2 0 0 0-8.7 8.7l7.6 9.1a59.5 59.5 0 0 0-8.3 14.4l-11.3-2.4a23 23 0 0 0-2 5.6 51.3 51.3 0 0 0-1.4 6l11.1 4a59.5 59.5 0 0 0-.1 16.6l-11.1 4.1a59.2 59.2 0 0 0 3.2 11.8l11.5-2a54.8 54.8 0 0 0 8.4 14.2l-7.6 9.2a59.2 59.2 0 0 0 8.7 8.7l9.1-7.6a60.2 60.2 0 0 0 14.2 8.2l-2.3 11.9 6.1 1.7a51.3 51.3 0 0 0 6 1.4l4-11.4a60.2 60.2 0 0 0 16.4 0l4 11.3a59.2 59.2 0 0 0 11.8-3.2l-1.9-12a53.7 53.7 0 0 0 14.2-8.1l9.1 7.8a59.2 59.2 0 0 0 8.7-8.7l-7.6-9.1a60.2 60.2 0 0 0 8.2-14.2zm-75.7 9.9a35.4 35.4 0 1 1 43.4-24.9 35.3 35.3 0 0 1-43.4 24.9z"/>      </svg>
          </svg>
        </i>
        <em class="micro block">Beep beep boop boop…</em>
      </div>
      <div class="assignment-content gutter pad-t"></div>
    </div>
    <span class="assignment-scroll-down" aria-label="Scroll down" title="Scroll down">
      <i class="icon i-32">
        <svg width="256" height="256" viewBox="0 0 256 256">
          <circle cx="128" cy="128" r="121.3" fill="#63666a"/>
          <path fill="none" stroke="#efefef" stroke-width="32" d="M128 76.3V163" stroke-linejoin="round"/>
          <path fill="#efefef" d="M73.8 99.4l54.2 54.2 54.3-54.2v46L128 199.7l-54.2-54.3v-46"/>
        </svg>
      </i>
    </span>
  </article>
</div>
