---
layout: course-inside
no_wrapper: true
skip_links: |
  <li><a href="#during-class">Skip to during class</a></li>
  <li><a href="#outside-class">Skip to outside class</a></li>
  <li><a href="#during-class-exercises">Skip to during class exercises</a></li>
  <li><a href="#outside-class-exercies">Skip to outside class exercises</a></li>
---

{% capture number %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-0', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}
{% capture number_leading_zero %}{{page.url | replace: page.collection, '' | replace: '/', '' | replace: 'week-', '' | replace: 'courses', ''}}{% endcapture %}
{% assign page_data = site.collections | where: "label", page.collection | first %}

{% assign course_data = false %}
{% assign weight_exercises = 0 %}
{% assign weight_videos = 0 %}
{% assign weight_projects = 0 %}

{% for doc in page_data.docs %}
  {% if doc.slug == "index" %}
    {% assign course_data = doc %}
    {% assign weight_exercises = doc.grades.exercises %}
    {% assign weight_videos = doc.grades.videos %}
    {% assign weight_projects = doc.grades.projects %}
  {% endif %}
{% endfor %}

{% assign total_exercises=0 %}
{% assign total_videos=0 %}
{% assign total_projects=0 %}
{% assign found_projects="" %}

{% for doc in page_data.docs %}
  {% unless doc.layout contains "week" %}{% continue %}{% endunless %}
  {% for tut in doc.video_tutorials %}
    {% if tut.videos %}
      {% capture total_videos %}{{total_videos | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
  {% for exercise in doc.tasks %}
    {% if exercise.graded-as %}
      {% unless found_projects contains exercise.graded-as %}
        {% capture total_projects %}{{total_projects | plus:1}}{% endcapture %}
        {% capture found_projects %}{{found_projects}}{{exercise.graded-as}}||{% endcapture %}
      {% endunless %}
    {% else %}
      {% if exercise.graded-as == false or exercise.type == "blank" or exercise.type == "watch-videos" %}{% continue %}{% endif %}
      {% capture total_exercises %}{{total_exercises | plus:1}}{% endcapture %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign total_exercises_float = total_exercises | times: 1.0 %}
{% assign total_videos_float = total_videos | times: 1.0 %}
{% assign total_projects_float = total_projects | times: 1.0 %}

{% assign exercises_per = weight_exercises | divided_by: total_exercises_float | round: 1 %}
{% assign videos_per = weight_videos | divided_by: total_videos_float | round: 1 %}
{% assign projects_per = weight_projects | divided_by: total_projects_float | round: 1 %}

<main class="main-fill grid grid-stretch">

  <div class="class class-during unit [ xs-1 l-3-5 ] gutter-1-4 pad-b-1-4 unit-content-distribute">
    <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4" tabindex="0" id="during-class">
      {% if page.during_class %}{{page.during_class}}{% else %}{% if layout.during_class %}{{layout.during_class}}{% else %}During class{% endif %}{% endif %}
      <span class="right normal italic">
        Week {{number_leading_zero}}
        {% if course_data.datetimes.sections %}
          {% capture week_time %}{{course_data.datetimes.year}}-W{{course_data.datetimes.start_week | plus: number | minus: 1}}{% endcapture %}
          — <time class="week-times" datetime="{{week_time}}" hidden aria-hidden="true">{{week_time}}</time>
        {% endif %}
      </span>
    </h2>

    <div class="class-desc content-fill gutter-1-4">
      <p>{{page.desc}}</p>

      <div class="grid">
        <div class="unit [ xs-1 m-1-2 ]">
          <h3 class="mega push-0" tabindex="0">Videos & tutorials</h3>
          <ul class="list-group milli">
            {% if page.video_tutorials %}
              {% for link in page.video_tutorials %}
                <li>
                  {% if link.highlight %}<strong>{% endif %}
                    {% if link.url contains "http://" or link.url contains "https://" %}
                      <a href="{{link.url}}">{{link.title}} »</a>
                    {% elsif link.url contains "/" %}
                      <a href="{{link.url}}">{{link.title}}</a>
                    {% else %}
                      <a {% if link.url %}href="/topics/{{link.url}}{% unless link.url contains "#" %}/{% endunless %}"{% endif %}>{{link.title}}</a>
                    {% endif %}
                  {% if link.highlight %}</strong>{% endif %}
                  {% if link.videos %}
                    <span class="color-grey week-video-checked" title="These videos should be watched" aria-label="These videos should be watched">&nbsp;<i class="icon i-16"><svg><use xlink:href="#icon-play" /></svg></i>{% if link.video_percent %}&nbsp;&nbsp;(only {{link.video_percent}}% required){% endif %}</span>
                  {% endif %}
                  {% if link.notes %}
                    <span class="italic micro block text-disabled">({{link.notes}})</span>
                  {% endif %}
                </li>
              {% endfor %}
            {% else %}
              <li><span class="italic micro block text-disabled">(No videos or tutorials to learn this week.)</span></li>
            {% endif %}
          </ul>
        </div>
        <div class="unit [ xs-1 m-1-2 ]">
          {% if page.slides %}
            <h3 class="mega push-0" tabindex="0">Slides</h3>
            <ul class="list-group milli">
              {% for link in page.slides %}
                {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                {% if link.url contains "/" %}
                  {% assign url_prefix="" %}
                {% endif %}
                <li>
                  <a {% if link.url %}href="{{url_prefix}}{{link.url}}"{% else %}data-state="disabled"{% endif %} {% if link.disabled %}data-state="disabled"{% endif %}>
                    <i class="icon i-16 push-r-1-8"><svg><use xlink:href="#icon-slide-deck"></use></svg></i>
                    <span class="icon-label">{{link.title}}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.group_activities %}
            <h3 class="mega push-1-4" tabindex="0">Class activities</h3>
            <ul class="list-group milli">
              {% for link in page.group_activities %}
                {% capture url_prefix %}/courses/{{page.collection}}/{% endcapture %}
                {% if link.url contains "/" %}
                  {% assign url_prefix="" %}
                {% endif %}
                <li class="push-1-4">
                  <a class="btn btn-ghost" {% if link.url %}href="{{url_prefix}}{{link.url}}"{% else %}data-state="disabled"{% endif %} {% if link.disabled %}data-state="disabled"{% endif %}>
                    <i class="icon i-18 push-r-1-4"><svg><use xlink:href="#icon-{{link.type}}" /></svg></i>
                    {% if link.pair %}
                      <i class="icon i-24 push-r-1-4"><svg><use xlink:href="#icon-pair" /></svg></i>
                    {% endif %}
                    <span class="icon-label inline-block push-r-1-4">{{link.title}}</span>
                    <i class="icon i-18"><svg><use xlink:href="#icon-right" /></svg></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.todos %}
            <h3 class="mega push-1-4" tabindex="0">Weekly todos</h3>
            <ul class="list-group cheat-list push">
              {% for item in page.todos %}
                <li class="checklist-details">
                  <input class="check-box visually-hidden" type="checkbox" id="{{step.title | slugify}}-{{item | slugify}}-{{forloop.index}}">
                  <label class="check-label" for="{{step.title | slugify}}-{{item | slugify}}-{{forloop.index}}">{{item | markdownify}}</label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.next_week_notes %}
            <h3 class="mega push-1-4" tabindex="0">Notes for next week</h3>
            <ul class="italic milli">
              {% for note in page.next_week_notes %}
                <li>{{note}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% assign card_num=0 %}
    <div id="during-class-exercises" tabindex="0">
      <ul class="list-group grid grid-bottom">
        {% if page.tasks[0] %}
          {% if page.tasks[0].type != "blank" %}
            <li class="unit [ xs-1 s-1-2 m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% assign data = page.tasks[0] %}
              {% assign card_num=1 %}
              {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
            </li>
          {% else %}
            <li class="unit [ unit-xs-hidden m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% include card.html data=site.no_activities collection=page.collection %}
            </li>
          {% endif %}
        {% else %}
          <li class="unit [ unit-xs-hidden m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
            {% include card.html data=site.no_activities collection=page.collection %}
          </li>
        {% endif %}
        {% if page.tasks[1] %}
          {% if page.tasks[1].type != "blank" %}
            <li class="unit [ xs-1 s-1-2 m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% assign data = page.tasks[1] %}
              {% assign card_num=card_num | plus:1 %}
              {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
            </li>
          {% else %}
            <li class="unit [ unit-xs-hidden m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% include card.html data=site.no_lessons collection=page.collection %}
            </li>
          {% endif %}
        {% else %}
          <li class="unit [ unit-xs-hidden m-1-3 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
            {% include card.html data=site.no_lessons collection=page.collection %}
          </li>
        {% endif %}
        {% if page.tasks[2] %}
          {% if page.tasks[2].type != "blank" %}
            <li class="unit [ xs-1 s-1-2  m-1-3 ] unit-s-centered gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% assign data = page.tasks[2] %}
              {% assign card_num=card_num | plus:1 %}
              {% include card.html data=data collection=page.collection num=card_num due="By end of class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
            </li>
          {% else %}
            <li class="unit [ unit-xs-hidden m-1-3 ] unit-s-centered gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
              {% include card.html data=site.no_exercises collection=page.collection %}
            </li>
          {% endif %}
        {% else %}
          <li class="unit [ unit-xs-hidden m-1-3 ] unit-s-centered gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
            {% include card.html data=site.no_exercises collection=page.collection %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="class class-outside unit [ xs-1 l-2-5 ] gutter-1-4 pad-b-1-4 unit-content-distribute">
    <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4 relative" tabindex="0" id="outside-class">
      <span>{% if page.outside_class %}{{page.outside_class}}{% else %}{% if layout.outside_class %}{{layout.outside_class}}{% else %}Outside class{% endif %}{% endif %}</span>
      <span class="absolute pin-br pad-b-1-4 gutter-1-4">
        <a href="/get-help/" class="inline-block kilo icon-link italic">
          <i class="icon i-20 push-r-1-8"><svg><use xlink:href="#icon-help"></use></svg></i>
          <span class="icon-label">I need more help!</span>
        </a>
      </span>
    </h2>

    <div class="class-desc content-fill gutter-1-4">
      {% include week-data.html data=course_data no_lab_times=page.no_lab_times no_office_hours=page.no_office_hours no_classes=page.no_classes %}
    </div>

    <div id="outside-class-exercies" tabindex="0">
      <ul class="list-group grid grid-bottom">
        <li class="unit [ xs-1 s-1-2 m-1-2 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
          {% if page.tasks[3].type == "blank" %}
            {% include card.html data=site.no_exercises collection=page.collection %}
          {% else %}
            {% assign data = page.tasks[3] %}
            {% assign card_num=card_num | plus:1 %}
            {% include card.html data=data collection=page.collection num=card_num due="Before next class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
          {% endif %}
        </li>
        <li class="unit [ xs-1 s-1-2 m-1-2 ] gutter-1-4 pad-t pad-b-1-4 relative no-page-break-inside">
          {% if page.tasks[4].type != "blank" %}
            {% if page.tasks[4] and page.tasks[4].type != "watch-videos" %}
              {% assign data = page.tasks[4] %}
              {% assign card_num=card_num | plus:1 %}
              {% include card.html data=data collection=page.collection num=card_num due="Before next class" exercises_per=exercises_per projects_per=projects_per clr=page.clr %}
            {% else %}
              {% assign next_url=number | plus:1 %}
              {% if page.tasks[4] and page.tasks[4].type == "watch-videos" %}
                {% assign card_data=site.watch_videos %}
              {% else %}
                {% assign card_data=site.next_week %}
              {% endif %}
              {% if next_url <= 9 %}
                {% capture next_url %}week-0{{next_url}}{% endcapture %}
              {% else %}
                {% capture next_url %}week-{{next_url}}{% endcapture %}
              {% endif %}
              {% include card.html data=card_data collection=page.collection url=next_url %}
            {% endif %}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

</main>

<div class="week-footer">{% include footer.html no-wrapper=true %}</div>

{% include assignment-viewer.html %}

<script type="application/ld+json">{% include metadata/week.json data=course_data %}</script>
