---
layout: course-inside
no_wrapper: true
---

{% assign page_data = site.collections | where: "label", page.collection | first %}

<main class="main-fill grid grid-stretch">

  <div class="class class-during unit [ xs-1 ] gutter-1-4 pad-b-1-4">
    <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4">Workshop activities</h2>
    <div class="class-desc gutter-1-4">
      <p class="push-0">{{page.desc}}</p>
    </div>
    {% assign card_num=0 %}
    <ol class="list-group grid grid-bottom">
      {% for task in page.tasks %}
        <li class="unit [ xs-1 xs-1-2 m-1-3 l-1-5 ] gutter-1-4 pad-t pad-b-1-4">
          {% capture card_num %}{{card_num | plus:1}}{% endcapture %}
          {% include card.html data=task collection=page.collection num=card_num %}
        </li>
      {% endfor %}
    </ol>
  </div>

  <div class="class class-outside unit [ xs-1 ] unit-content-distribute">
    <div class="grid grid-strecth content-fill">
      <div class="unit [ xs-1 l-3-5 ] gutter-1-4 pad-b-1-4 ">
        <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4">Videos, tutorials &amp; quizzes</h2>
        <div class="grid grid-middle gutter-1-4">
          <div class="unit [ xs-1-2 ]">
            <ul class="list-group milli">
              {% for link in page.video_tutorials %}
                <li>
                  {% if link.highlight %}<strong>{% endif %}
                    {% if link.url contains "http://" or link.url contains "https://" %}
                      <a href="{{link.url}}">{{link.title}} »</a>
                    {% else %}
                      <a {% if link.url %}href="/topics/{{link.url}}{% unless link.url contains "#" %}/{% endunless %}"{% endif %}>{{link.title}}</a>
                    {% endif %}
                  {% if link.highlight %}</strong>{% endif %}
                  {% if link.videos %}
                    <span class="color-grey week-video-checked" title="These videos should be watched." aria-label="These videos will be checked.">&nbsp;<i class="icon i-16"><svg><use xlink:href="#icon-play" /></svg></i>{% if link.video_percent %}&nbsp;&nbsp;(only {{link.video_percent}}% required){% endif %}</span>
                  {% endif %}
                  {% if link.notes %}
                    <span class="italic micro block text-disabled">({{link.notes}})</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="unit [ xs-1-2 ]">
            <ul class="list-group mega">
              {% for link in page.activities %}
                <li {% unless forloop.last %}class="push-1-2"{% endunless %}>
                  {% if link.highlight %}<strong>{% endif %}
                    <a class="link-box link-box-no-mark icon-link" href="{{link.url}}">
                      <i class="icon i-32"><img src="{{link.url}}/icon.svg" alt=""></i>
                      <span class="icon-label">{{link.title}}</span>
                    </a>
                  {% if link.highlight %}</strong>{% endif %}
                  {% if link.notes %}
                    <span class="italic micro block text-disabled">({{link.notes}})</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="unit [ xs-1 l-2-5 ] gutter-1-4 pad-b-1-4 section-muted-medium">
        <h2 class="class-heading gutter-1-4 pad-t-1-2 push-1-4">Related courses</h2>
        <div class="gutter-1-4">
          <h3 class="push-1-4 giga normal italic">{{page.related_course.title}}</h3>
          <p class="push-1-2">{{page.related_course.desc}}</p>
          <a class="btn btn-ghost push-1-2" {% if page.related_course.url %}href="{{page.related_course.url}}"{% else %}data-state="disabled"{% endif %}>
            <span class="icon-label inline-block push-r-1-4">See the {{page.related_course.title}} curriculum</span>
            <i class="icon i-18"><svg><use xlink:href="#icon-right" /></svg></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</main>
